<!--  This is the Icon Columns block. While similar to the CTA Image with Text block, this one does differ slightly in layout, and will accept
  any numbers of posts per row. We recommend not showing more than 4 per row, which is what has been laid out in this example.-->


<section id="icon-columns-block_5f62774a150b4"
         class="orange-block icon-columns-block has-bg-color-image bg-color-white">
    <div class="container">
        <!-- Block title -->
        <div class="row">
            <div class="col block-title-wrap">
                <h2 class="h2 block-title">Icon + Text Columns</h2>
            </div>
        </div>
        <div class="row icon-columns-row">
            <div class="icon-column col">
                <div class="card icon-column-card">
                    <!-- Icon or Image -->
                    <div class="card-image icon-wrap">
                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxDots.svg">
                    </div>
                    <div class="card-body">
                        <!-- Title -->
                        <h3 class="h3 card-title">Lorem ipsum dolor sit amet</h3>
                        <!-- Desc -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        <!-- Link -->
                        <a class="inline-link" href="#" target="_self">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="icon-column col">
                <div class="card icon-column-card">
                    <!-- Icon or Image -->
                    <div class="card-image icon-wrap">
                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                    </div>
                    <div class="card-body">
                        <!-- Title -->
                        <h3 class="h3 card-title">Lorem ipsum dolor</h3>
                        <!-- Desc -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        <!-- Link -->
                        <a class="inline-link" href="#" target="_self">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="icon-column col">
                <div class="card icon-column-card">
                    <!-- Icon or Image -->
                    <div class="card-image icon-wrap">
                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxDots.svg">
                    </div>
                    <div class="card-body">
                        <!-- Title -->
                        <h3 class="h3 card-title">Lorem ipsum dolor</h3>
                        <!-- Desc -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        <!-- Link -->
                        <a class="inline-link" href="#" target="_self">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="icon-column col">
                <div class="card icon-column-card">
                    <!-- Icon or Image -->
                    <div class="card-image icon-wrap">
                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                    </div>
                    <div class="card-body">
                        <!-- Title -->
                        <h3 class="h3 card-title">Lorem ipsum dolor</h3>
                        <!-- Desc -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        <!-- Link -->
                        <a class="inline-link" href="#" target="_self">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>