<!--     This is the large testimonial block. This block is fairly similar to the small version, the difference is this block is meant to be shown in a carousel format.
         If there is only one slide, make sure to hide the navigation arrows. Also, the amount of content shown should not be much more or less than what we have in the example.
         Be mindful of the JS at the bottom.  -->


<section id="testimonial-large-block_5f57e1ee0ee42" class="orange-block testimonial-large-block has-bg-color-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="testimonial-large-block_5f57e1ee0ee42_carouselLarge" class="carousel slide w-100"
                     data-ride="carousel" data-interval="false">
                    <div class="carousel-container  " style="min-height: 679px;">
                        <div class="carousel-inner">
                            <div class="carousel-item h-100 active">
                                <div class="d-flex align-items-center carousel-item-container">
                                    <div class="card w-100">
                                        <div class="row no-gutters my-auto">
                                            <div class="col main" style="min-height: 679px;">
                                                <div class="testimonial-icon-container">
                                                    <div class="testimonial-icon"
                                                         style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <p class="card-text content">Lorem ipsum dolor sit amet, consectet
                                                        adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet
                                                        dolore magna aliquam.</p>
                                                    <p class="card-text author">Jane Doe, Lorem Ipsum Consteteur</p>
                                                </div>
                                            </div>
                                            <div class="image-section p-0">
                                                <div class="card-body card-image p-0 h-100"
                                                     style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0220_Small_Web.jpg');background-size:cover;background-position:center center;">
                                                    <div class="overlay"
                                                         style="background-color:#8c8c8c;opacity:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="d-flex align-items-center carousel-item-container">
                                    <div class="card w-100">
                                        <div class="row no-gutters my-auto">
                                            <div class="col main" style="min-height: 679px;">
                                                <div class="testimonial-icon-container">
                                                    <div class="testimonial-icon"
                                                         style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <p class="card-text content">Lorem ipsum dolor sit amet, consectet
                                                        adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet
                                                        dolore magna aliquam.</p>
                                                    <p class="card-text author">Julia Smith, Lorem Ipsum</p>
                                                </div>
                                            </div>
                                            <div class="image-section p-0">
                                                <div class="card-body card-image p-0 h-100"
                                                     style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0051_Small_Web.jpg');background-size:cover;background-position:center center;">
                                                    <div class="overlay"
                                                         style="background-color:#8c8c8c;opacity:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="control-container">
                            <a class="carousel-control-prev position-relative float-left w-50"
                               href="#testimonial-large-block_5f57e1ee0ee42_carouselLarge" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next position-relative float-right w-50"
                               href="#testimonial-large-block_5f57e1ee0ee42_carouselLarge" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function ($) {
            $(document).ready(function () {

                if ($('.testimonial-large-block').hasClass('alignright')) {
                    $('.row.no-gutters').addClass('flex-row-reverse');
                }

                //Adding active classes to all sliders
                $(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
                $(".carousel-indicators > li:nth-child(1)").addClass("active");


            });
        })(jQuery);
    </script>

</section>