<!--     This is the small testimonial block. This block can be shown with or without an icon. The icon does change though css if the background colour is dark / blue
         In this example, we are showing two small testimonial blocks, one with a dark background and one with a light background.
         In each block, there is JS, it's the same and should only need to be included once on a page, below the testimonials.

           -->


<section id="testimonial-block_5f57e149f527c" class="orange-block testimonial-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="testimonial-block_5f57e149f527c_carousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="min-height: inherit;">
                            <div class="card">
                                <div class="row no-gutters">
                                    <div class="col-12 testimonial-icon-container">
                                        <div class="testimonial-icon"
                                             style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                        <div class="card-body">
                                            <p class="card-text content">Lorem ipsum dolor sit amet, consectet
                                                adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore
                                                magna aliquam.</p>
                                            <p class="card-text author">— Jane Doe, Lorem Ipsum Consteteur</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function ($) {
            $(document).ready(function () {

                if ($('.testimonial-block').hasClass('alignright')) {
                    $('.row.no-gutters').addClass('flex-row-reverse');
                }

                //Adding active classes to all sliders
                $(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
                $(".carousel-indicators > li:nth-child(1)").addClass("active");

            });
        })(jQuery);
    </script>
</section>


<!--     Notice the extra classes on this block       -->
<section id="testimonial-block_5f60d8cb3d0fd" class="orange-block testimonial-block has-bg-color-image bg-color-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="testimonial-block_5f60d8cb3d0fd_carousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="min-height: inherit;">
                            <div class="card">
                                <div class="row no-gutters">
                                    <div class="col-12 testimonial-icon-container">
                                        <div class="testimonial-icon" style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                        <div class="card-body">
                                            <p class="card-text content">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam.</p>	                                            <p class="card-text author">— Julia Smith, Lorem Ipsum</p>	                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function ($) {
            $(document).ready(function () {

                if ($('.testimonial-block').hasClass('alignright')) {
                    $('.row.no-gutters').addClass('flex-row-reverse');
                }

                //Adding active classes to all sliders
                $(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
                $(".carousel-indicators > li:nth-child(1)").addClass("active");

            });
        })(jQuery);
    </script>
</section>