<!--  This is the expandable Case Study block
      The JS at the bottom is critical for this to function
-->

<section id="case-study-block_5f7e739f0d70a" class="orange-block case-study-block align"
         style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x.png'); background-size: cover; min-height: 0vh;">
    <div class="container">
        <div class="row">
            <div class="main-wrap col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="outside-content open">
                            <p class="h5 card-title">Case Study</p>
                            <h3 class="h3 company-name">Placeholder Company Name</h3>
                            <p class="industry-name">E-Commerce</p>
                            <a href="#" class="learn-more-link">Read more about this Case Study</a>
                        </div>
                        <div class="inside-content">
                            <div class="row m-0">
                                <div class="col-lg-4 col-12 case-sidebar">

                                    <div class="case-logo-container">
                                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/300x175.png" class="case-logo"
                                             alt="Placeholder Company Name logo">
                                    </div>

                                    <div class="company-detail-container">
                                        <h3 class="h3 company-name">Placeholder Company Name</h3>
                                        <p class="company-industry">E-Commerce</p>
                                    </div>
                                    <div class="solutions-container">
                                        <p class="h5">Solutions Provided</p>
                                        <img class="solution-image"
                                             src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Roadmap.svg"
                                             alt="">
                                        <img class="solution-image"
                                             src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg"
                                             alt="">
                                        <img class="solution-image"
                                             src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Umbrella.svg"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-12 case-content">
                                    <div class="row">
                                        <div class="col-lg-6 col-12 problem-container">
                                            <p class="h5 case-problem-title">Problem</p>
                                            <p>Mauris rhoncus finibus sapien ac ullamcorper. Donec in odio tortor. Cras
                                            eget tincidunt arcu. Phasellus tincidunt dolor eu dolor cursus, a condimentum
                                            quam pellentesque. Aenean quis laoreet metus. Curabitur ac arcu id justo
                                            sollicitudin egestas. Sed tempor, magna sit amet pretium semper, nulla odio
                                            pellentesque diam, eget ornare sapien nulla ac diam.</p>
                                        </div>
                                        <div class="col-lg-6 col-12 problem-container">
                                            <p class="h5 case-problem-title">Solution</p>
                                            <p>Etiam sed scelerisque ipsum. Curabitur sit amet lorem nec felis malesuada
                                                gravida. Aenean at nibh et purus ultrices semper sed et nunc. Cras in
                                                purus ligula. Cras ex urna, fermentum varius feugiat at, mollis quis elit.
                                                Praesent malesuada elementum lacinia. Vivamus molestie odio ipsum.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 testimonial-container">
                                            <p class="h4 testimonial-content">
                                                Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt laoreet dolore magna aliquam.
                                            </p>
                                            <p class="h5 testimonial-author">— Julia Smith, Lorem Ipsum</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-lg-1 close-button-column">
                                    <button type="button" class="btn btn-icon close-case" tabindex="0"
                                            aria-label="Close Case Study">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                            <g fill="none" stroke="#0d1c2b" stroke-miterlimit="10" stroke-width="1.5"
                                               transform="translate(4.644 -3.584) rotate(45)">
                                                <line x2="11.636" transform="translate(0 5.818)"/>
                                                <line x2="11.636" transform="translate(5.818 0) rotate(90)"/>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        (function ($) {
            $(document).ready(function () {

                $(".case-study-block").each(function(){

                    const defaultHeight = $(this).outerHeight();

                    const caseStudyCard = $(this).find(".main-wrap > .card");

                    caseStudyCard
                        .data({
                            "default-width": caseStudyCard.outerWidth(),
                            "default-height": caseStudyCard.outerHeight()
                        })
                        .addClass("expanded");

                    caseStudyCard
                        .data({
                            "expanded-width": caseStudyCard.outerWidth(),
                            "expanded-height": caseStudyCard.outerHeight()
                        });

                    if(($(window).width() >= 992) && ($(this).outerHeight() > defaultHeight)){
                        $(this).css("min-height", $(this).outerHeight());
                    }

                    caseStudyCard
                        .removeClass("expanded")
                        .css({
                            "width": caseStudyCard.outerWidth(),
                            "height": caseStudyCard.outerHeight(),
                        })
                        .children(".card-body");

                });

                $('.case-study-block .outside-content, .close-case').click(function (evt) {

                    evt.preventDefault();

                    var parentCard = $(this).closest(".card");

                    parentCard.toggleClass("expanded");

                    if(parentCard.hasClass("expanded")){

                        parentCard.add(parentCard.children(".card-body"))
                            .css({
                                "width": parentCard.data("expanded-width"),
                                "height": parentCard.data("expanded-height"),
                            });

                    }else{

                        parentCard.add(parentCard.children(".card-body"))
                            .css({
                                "width": parentCard.data("default-width"),
                                "height": parentCard.data("default-height"),
                            });

                    }

                });

            });
        })(jQuery);
    </script>

</section>