<!--  This is the gallery block. It requires some external libraries to function.
In this current layout, we are showing 3 images per row on large, 2 for small and 1 for smallest. This can be modified to anything you like
using the standard bootstrap layout classes.

For each gallery image, the background image url and the anchor must be the same url
  -->


<section id="gallery-block_5f57e110f5279" class="orange-block gallery-block">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 block-title">Gallery</h2>
            </div>
        </div>
    </div>
    <!-- Block content -->
    <div class="container">
        <!-- Single row -->
        <div class="row">
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0055_Small_Web.jpg"
                   class="foobox fbx-link fbx-instance" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0055_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0055_Small_Web-1024x683.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0852_Small_Web.jpg"
                   class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0852_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0852_Small_Web-1024x682.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0246_Small_Web.jpg"
                   class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0246_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0246_Small_Web-1024x683.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0336_Small_Web.jpg"
                   class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0336_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0336_Small_Web-1024x683.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0318_Small_Web.jpg"
                   class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0318_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0318_Small_Web-1024x683.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single column -->
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Modal link -->
                <a href="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0586_Small_Web.jpg"
                   class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                   data-caption-title="tfi-robert-lowdon_0586_Small_Web" data-caption-desc="">
                    <!-- Image -->
                    <div class="image-container">
                        <div class="gallery-image"
                             style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0586_Small_Web-1024x683.jpg')"></div>
                        <div class="gallery-overlay">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>