<!--  This block will show up to three icon column CTA's
It is important to note the classes in the <section> tag, as this block can be shown in a variety of different colours and variations.
  -->

<section id="cta-block_5f7aa91f3e837"
         class="orange-block cta-block has-bg-color-image bg-color-white icon-columns-cta select-posts text-dark no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Icon -->
                            <div class="card-icon"
                                 style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                            </div>
                            <div class="card-content ">
                                <!-- Title -->
                                <h3 class="h3 card-title">Shipping Support CTA</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua.</p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link " href="#" target="_self">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Icon -->
                            <div class="card-icon"
                                 style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                            </div>
                            <div class="card-content ">
                                <!-- Title -->
                                <h3 class="h3 card-title">Shipping Support CTA</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua.</p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link " href="#" target="_self">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Icon -->
                            <div class="card-icon"
                                 style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                            </div>
                            <div class="card-content ">
                                <!-- Title -->
                                <h3 class="h3 card-title">Shipping Support CTA</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua.</p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link " href="#" target="_self">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>