
<!--

This example shows 3 accordions together. They are wrapped within a container.

While it is not important that accordions have this specific ID, it is important that each accordion has its own ID.
It becomes crucial for the accordions function that card-header and the content wrapping div are referencing the same, as seen below

 -->
<section id="accordion-block_5f57e6d6acab5" class="orange-block accordion-block">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col block-title-wrap">
                <h2 class="h2 block-title">Accordion</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="accordion-wrap">
                    <div class="accordion faq-accordion" id="accordion-block_5f57e6d6acab5-accordion">

                        <!--          Accordion 1              -->
                        <div class="card">
                            <div class="card-header collapsed" id="accordion-block_5f57e6d6acab5-accordion-1-heading">
                                <div class="accordion-title">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus ante id mauris
                                    tincidunt vestibulum.
                                </div>
                                <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse"
                                        data-target="#accordion-block_5f57e6d6acab5-accordion-1-collapse"
                                        aria-expanded="false"
                                        aria-controls="accordion-block_5f57e6d6acab5-accordion-1-collapse" tabindex="0"
                                        aria-label="click to expand">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px"
                                           transform="translate(-30 -47.438)">
                                            <line x2="8" transform="translate(30 51.438)"></line>
                                            <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div id="accordion-block_5f57e6d6acab5-accordion-1-collapse" class="collapse"
                                 aria-labelledby="accordion-block_5f57e6d6acab5-accordion-1-heading"
                                 data-parent="#accordion-block_5f57e6d6acab5-accordion">
                                <div class="card-body">
                                    <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam, posuere
                                        aliquet tellus tristique id. Pellentesque habitant morbi tristique senectus et
                                        netus et malesuada fames ac turpis egestas. Suspendisse vitae risus ac magna
                                        porta congue non at ex. Donec non gravida lorem. Sed interdum nulla ac nibh
                                        vestibulum pellentesque. Curabitur hendrerit orci id erat bibendum semper. Nulla
                                        facilisi. Nulla tempor ex eget sapien dignissim suscipit ut ac ante. Class
                                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                        himenaeos.</p>
                                </div>
                            </div>
                        </div>
                        <!--          Accordion 2              -->
                        <div class="card">
                            <div class="card-header collapsed" id="accordion-block_5f57e6d6acab5-accordion-2-heading">
                                <div class="accordion-title">
                                    Praesent a metus aliquam risus posuere tincidunt.
                                </div>
                                <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse"
                                        data-target="#accordion-block_5f57e6d6acab5-accordion-2-collapse"
                                        aria-expanded="false"
                                        aria-controls="accordion-block_5f57e6d6acab5-accordion-2-collapse" tabindex="0"
                                        aria-label="click to expand">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px"
                                           transform="translate(-30 -47.438)">
                                            <line x2="8" transform="translate(30 51.438)"></line>
                                            <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div id="accordion-block_5f57e6d6acab5-accordion-2-collapse" class="collapse"
                                 aria-labelledby="accordion-block_5f57e6d6acab5-accordion-2-heading"
                                 data-parent="#accordion-block_5f57e6d6acab5-accordion">
                                <div class="card-body">
                                    <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut interdum
                                        sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut elementum
                                        laoreet, ligula tortor blandit felis, sit amet aliquet nunc lectus sed diam. Ut
                                        faucibus, justo quis porta ullamcorper, ex nunc eleifend diam, accumsan aliquet
                                        erat quam ut lacus. Orci varius natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Praesent eros mauris, imperdiet sed semper
                                        vitae, imperdiet id metus. Sed laoreet augue sit amet mauris fringilla, non
                                        sodales sem sagittis.</p>
                                </div>
                            </div>
                        </div>
                        <!--          Accordion 3              -->
                        <div class="card">
                            <div class="card-header collapsed" id="accordion-block_5f57e6d6acab5-accordion-3-heading">
                                <div class="accordion-title">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing?
                                </div>
                                <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse"
                                        data-target="#accordion-block_5f57e6d6acab5-accordion-3-collapse"
                                        aria-expanded="false"
                                        aria-controls="accordion-block_5f57e6d6acab5-accordion-3-collapse" tabindex="0"
                                        aria-label="click to expand">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px"
                                           transform="translate(-30 -47.438)">
                                            <line x2="8" transform="translate(30 51.438)"></line>
                                            <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div id="accordion-block_5f57e6d6acab5-accordion-3-collapse" class="collapse"
                                 aria-labelledby="accordion-block_5f57e6d6acab5-accordion-3-heading"
                                 data-parent="#accordion-block_5f57e6d6acab5-accordion">
                                <div class="card-body">
                                    <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                                        et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                        takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>