<!--     This is the footer. This footer will remain the same on every page.       -->


<footer class="footer">

    <div class="footer-top-support-container">
        <a href="#" aria-label="Have a question? Visit our Support Centre">
            <p class="h4">
                <span>
                    Have a question?                </span>
                <span>
                    Visit our Support Centre                </span>
            </p>
        </a>
    </div>

    <div class="footer-main-content-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 footer-main-inner-container">
                    <div class="footer-logo-container">
                        <div class="footer-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.799 55.895" role="img">
                                <title>Loomis Express</title>
                                <g transform="translate(-217.131 -255.993)">
                                    <path class="letters" d="M223.662,280.752h9.708L228.515,299.5H242.46l-1.677,6.46H217.131Z"></path>
                                    <path class="letters" d="M255.522,301.332c3.442,0,4.676-4.059,4.676-5.647,0-2.189-.7-3.425-3.044-3.425-3.486,0-4.722,4.2-4.722,6.107,0,1.484.618,2.965,3.09,2.965m2.294-14.155c6.707,0,11.12,2.471,11.12,8.013,0,4.7-3.266,11.227-13.812,11.227-6.31,0-11.429-2.437-11.429-8.579,0-5.86,4.766-10.661,14.121-10.661"></path>
                                    <path class="letters" d="M282,301.332c3.442,0,4.678-4.059,4.678-5.647,0-2.189-.707-3.425-3.045-3.425-3.486,0-4.722,4.2-4.722,6.107,0,1.484.618,2.965,3.089,2.965m2.295-14.155c6.707,0,11.12,2.471,11.12,8.013,0,4.7-3.266,11.227-13.812,11.227-6.31,0-11.429-2.437-11.429-8.579,0-5.86,4.766-10.661,14.121-10.661"></path>
                                    <path class="letters" d="M299.3,287.636h8.472l-.618,2.4h.089a10.2,10.2,0,0,1,7.192-2.858c3,0,5.605.776,6.178,3.035a10.341,10.341,0,0,1,7.5-3.035c4.456,0,7.325,1.658,7.325,5.436a16.022,16.022,0,0,1-.53,2.895l-2.78,10.449h-8.737l2.338-8.755a20.47,20.47,0,0,0,.53-2.682c0-1.165-.838-1.765-2.25-1.765-1.722,0-2.956.776-3.31,2.118l-3,11.084h-8.737l2.647-9.814a7.333,7.333,0,0,0,.353-1.694c0-1.165-.794-1.694-2.206-1.694a3.4,3.4,0,0,0-3.663,2.718l-2.824,10.484h-8.737l4.766-18.321"></path>
                                    <path class="letters" d="M349.026,285.658h-8.737l1.28-4.906h8.737Zm-9.223,1.978h8.739l-4.767,18.321h-8.737l4.765-18.321"></path>
                                    <path class="letters" d="M355.513,299.956a1.969,1.969,0,0,0,.8,1.694,4.575,4.575,0,0,0,2.293.459c2.34,0,2.647-1.2,2.647-1.624,0-1.3-2.2-1.411-5.47-1.871-1.545-.212-6.223-.74-6.223-4.73,0-5.261,5.87-6.707,11.386-6.707,4.853,0,10.767.847,10.281,5.789h-7.81a1.315,1.315,0,0,0-.619-1.447,3.923,3.923,0,0,0-2.03-.459c-1.191,0-2.47.388-2.47,1.482,0,.989.838,1.27,1.984,1.378,6.488.706,9.71,1.835,9.71,5.683,0,4.236-4.547,6.814-11.605,6.814-4.943,0-11.077-.954-10.9-6.461h8.032"></path>
                                    <path class="letters" d="M386.4,280.752h26.034l-1.631,6.459H394.476l-.837,3.143h15.136l-1.544,6H392.05l-.839,3.142h16.68l-1.678,6.46H379.828Z"></path>
                                    <path class="letters" d="M417.6,296.178l-5.208-8.542h8.826l1.855,3.883,3.265-3.883h9.529l-9.132,8.9,5.78,9.426h-8.826l-2.514-4.483-4.237,4.483h-9.619Z"></path>
                                    <path class="letters" d="M451.842,295.508c0-1.8-.618-3.248-3.176-3.248-3.884,0-4.59,4.448-4.59,6.072a2.913,2.913,0,0,0,3.177,3c3.487,0,4.589-3.458,4.589-5.824m-13.768-7.872h8.473l-.531,2.083h.09a7.627,7.627,0,0,1,6.134-2.542c6.441,0,8.339,4.271,8.339,7.519,0,5.436-3.4,11.721-11.165,11.721-2.515,0-4.986-.248-6.882-2.684l-2.076,8.155h-8.737l6.355-24.252"></path>
                                    <path class="letters" d="M464.551,287.636h8.471l-.75,2.859h.088a9.381,9.381,0,0,1,6.663-3.318,11.65,11.65,0,0,1,3.09.281l-1.633,6.179a11.96,11.96,0,0,0-3.354-.459c-3.707,0-5.559,1.271-6.574,5.119l-1.986,7.66h-8.738l4.723-18.321"></path>
                                    <path class="letters" d="M497.424,294.731a2.825,2.825,0,0,0,.088-.6c0-1.376-1.1-2.471-3.309-2.471a4.407,4.407,0,0,0-4.544,3.071Zm6.884,5.9c-.574,1.236-2.294,5.79-12.179,5.79-8.119,0-11.386-3.637-11.386-8.085,0-8.4,8.032-11.155,13.724-11.155,5.075,0,11.209,2.258,11.209,8.013a9.206,9.206,0,0,1-.442,3.177H488.907c0,1.941.84,3.565,3.574,3.565,1.9,0,3-.67,3.443-1.3h8.384"></path>
                                    <path class="letters" d="M514.1,299.956a1.965,1.965,0,0,0,.793,1.694,4.583,4.583,0,0,0,2.295.459c2.338,0,2.648-1.2,2.648-1.624,0-1.3-2.206-1.411-5.474-1.871-1.543-.212-6.221-.74-6.221-4.73,0-5.261,5.871-6.707,11.385-6.707,4.854,0,10.767.847,10.281,5.789H522a1.31,1.31,0,0,0-.616-1.447,3.928,3.928,0,0,0-2.03-.459c-1.191,0-2.472.388-2.472,1.482,0,.989.84,1.27,1.986,1.378,6.488.706,9.708,1.835,9.708,5.683,0,4.236-4.545,6.814-11.605,6.814-4.942,0-11.075-.954-10.9-6.461H514.1"></path>
                                    <path class="letters" d="M537.315,299.956a1.971,1.971,0,0,0,.794,1.694,4.583,4.583,0,0,0,2.295.459c2.338,0,2.648-1.2,2.648-1.624,0-1.3-2.207-1.411-5.472-1.871-1.545-.212-6.221-.74-6.221-4.73,0-5.261,5.867-6.707,11.383-6.707,4.853,0,10.768.847,10.283,5.789h-7.811a1.313,1.313,0,0,0-.618-1.447,3.926,3.926,0,0,0-2.029-.459c-1.192,0-2.472.388-2.472,1.482,0,.989.838,1.27,1.986,1.378,6.486.706,9.708,1.835,9.708,5.683,0,4.236-4.545,6.814-11.606,6.814-4.942,0-11.076-.954-10.9-6.461h8.03"></path>
                                    <path class="swoosh" d="M555.626,283.212l2.3-8.893C512.424,261.269,458.079,254.5,399.9,256.27c-60.056,1.823-115.483,12.471-160.934,29.148,45.936-15.288,101.66-24.253,161.745-24.253,57.136,0,110.331,8.106,154.916,22.047"></path>
                                </g>
                            </svg>                        </div>
                    </div>
                    <div class="footer-social-container">
                        <a href="https://www.facebook.com/LoomisExpress/" class="social-link" aria-label="Visit Canpar's facebook page" target="_blank">
                            <div class="social-icon facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9.933" height="20.587" viewBox="0 0 9.933 20.587"><defs><style>.a{fill:#0D1C2B;}</style></defs><path class="a" d="M133.294,4655.417h2.129v-2.069a5.531,5.531,0,0,1,.685-3.189,3.788,3.788,0,0,1,3.3-1.55,13.392,13.392,0,0,1,3.816.383l-.533,3.153a7.16,7.16,0,0,0-1.714-.257c-.828,0-1.569.3-1.569,1.125v2.4h3.393l-.236,3.079h-3.157v10.7h-3.989v-10.7h-2.129Z" transform="translate(-133.294 -4648.609)"></path></svg>                </div>
                        </a>
                        <a href="https://www.instagram.com/" class="social-link" aria-label="Visit Canpar's instagram page" target="_blank">
                            <div class="social-icon instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><defs><style>.a{fill:#0D1C2B;stroke:rgba(0,0,0,0);stroke-miterlimit:10;}</style></defs><path class="a" d="M-16825.748-17510.988a7.685,7.685,0,0,1-2.551-.486,5.159,5.159,0,0,1-1.861-1.211,5.1,5.1,0,0,1-1.207-1.861,7.592,7.592,0,0,1-.49-2.547c-.051-1.121-.064-1.477-.064-4.328s.014-3.211.064-4.332a7.582,7.582,0,0,1,.49-2.547,5.051,5.051,0,0,1,1.207-1.857,5.145,5.145,0,0,1,1.861-1.215,7.685,7.685,0,0,1,2.551-.486c1.119-.051,1.477-.062,4.326-.062s3.207.012,4.33.063a7.67,7.67,0,0,1,2.547.486,5.105,5.105,0,0,1,1.859,1.215,5.1,5.1,0,0,1,1.215,1.857,7.839,7.839,0,0,1,.488,2.547c.047,1.121.061,1.477.061,4.332s-.014,3.207-.061,4.328a7.85,7.85,0,0,1-.488,2.547,5.145,5.145,0,0,1-1.215,1.861,5.119,5.119,0,0,1-1.859,1.211,7.67,7.67,0,0,1-2.547.486c-1.123.051-1.477.066-4.33.066S-16824.629-17510.937-16825.748-17510.988Zm.086-18.98a5.721,5.721,0,0,0-1.953.359,3.28,3.28,0,0,0-1.205.785,3.186,3.186,0,0,0-.783,1.209,5.751,5.751,0,0,0-.365,1.949c-.047,1.107-.062,1.439-.062,4.244s.016,3.133.063,4.24a5.792,5.792,0,0,0,.365,1.953,3.218,3.218,0,0,0,.783,1.205,3.3,3.3,0,0,0,1.205.785,5.771,5.771,0,0,0,1.953.359c1.105.051,1.436.063,4.24.063s3.139-.012,4.246-.062a5.75,5.75,0,0,0,1.947-.359,3.344,3.344,0,0,0,1.211-.785,3.367,3.367,0,0,0,.783-1.205,6.07,6.07,0,0,0,.363-1.953c.047-1.107.057-1.439.057-4.24s-.01-3.137-.057-4.244a6.026,6.026,0,0,0-.363-1.949,3.332,3.332,0,0,0-.783-1.209,3.319,3.319,0,0,0-1.211-.785,5.7,5.7,0,0,0-1.947-.359c-1.107-.053-1.441-.062-4.246-.062S-16824.555-17530.021-16825.662-17529.969Zm-1.15,8.547a5.392,5.392,0,0,1,5.391-5.393,5.393,5.393,0,0,1,5.395,5.393,5.393,5.393,0,0,1-5.395,5.389A5.392,5.392,0,0,1-16826.812-17521.422Zm1.891,0a3.5,3.5,0,0,0,3.5,3.5,3.5,3.5,0,0,0,3.5-3.5,3.5,3.5,0,0,0-3.5-3.5A3.5,3.5,0,0,0-16824.922-17521.422Zm8.215-4.715a1.259,1.259,0,0,1,0-1.781,1.259,1.259,0,0,1,1.781,0,1.259,1.259,0,0,1,0,1.781,1.252,1.252,0,0,1-.891.369A1.256,1.256,0,0,1-16816.707-17526.137Z" transform="translate(16832.422 17532.422)"></path></svg>                </div>
                        </a>
                        <a href="https://ca.linkedin.com/company/loomis-express" class="social-link" aria-label="Visit Canpar's linkedin page" target="_blank">
                            <div class="social-icon linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.071" height="18.041" viewBox="0 0 18.071 18.041"><defs><style>.a{fill:#0D1C2B;}</style></defs><rect class="a" width="3.749" height="12.05" transform="translate(0.297 5.991)"></rect><path class="a" d="M183.39,24.637a2.172,2.172,0,1,1,2.17-2.173A2.17,2.17,0,0,1,183.39,24.637Z" transform="translate(-181.217 -20.293)"></path><path class="a" d="M197.856,37.059h-3.742V31.2c0-1.4-.027-3.194-1.947-3.194-1.948,0-2.246,1.522-2.246,3.094v5.96H186.18V25.009h3.59v1.647h.052a3.935,3.935,0,0,1,3.544-1.947c3.79,0,4.491,2.5,4.491,5.741Z" transform="translate(-179.785 -19.019)"></path></svg>                </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 no-app footer-main-menu-container">

                    <ul class="nav"><li class="menu-item menu-media-centre nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/media-centre/" class="nav-link">Media Centre</a></li>
                        <li class="menu-item menu-support nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/" class="nav-link">Support</a></li>
                        <li class="menu-item menu-about-loomis-express nav-item"><a href="#" class="nav-link">About Loomis Express</a></li>
                    </ul>                </div>
                <div class="col-12 col-lg-4 footer-secondary-menu-container no-app">
                    <ul class="nav"><li class="menu-item menu-contact-us nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                        <li class="menu-item menu-careers nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/careers/" class="nav-link">Careers</a></li>
                        <li class="menu-item menu-service-alerts-updates nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/service-alerts-updates/" class="nav-link">Service Alerts &amp; Updates</a></li>
                    </ul>                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower-copy-container">
        <div class="upper-copy-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 tfi-logo">
                        <img src="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/dist/images/logos/TFI_Logo_White.png" alt="A TFI internatinal Company" aria-label="A TFI internatinal Company">
                    </div>
                    <div class="col-12 col-lg-9 small-ownership">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et fugiat nihil officiis pariatur perspiciatis qui soluta? Amet, deserunt eaque eius eos, harum in minus modi mollitia odit officiis voluptatum!                     </div>
                </div>
            </div>

        </div>
        <div class="lower-copy-container">
            <div class="container">
                <div class="row">

                    <!-- Back to top -->
                    <button id="back-to-top" title="Scroll back to top" style="display: inline-block;" class="show"></button>

                    <div class="col-12 col-lg-5 footer-bottom-copy-container">
                        <p>Copyright © 2020 Loomis Express. All rights reserved.</p>
                        <p>Website design and development by                             <a href="https://rcdesign.com" target="_blank" aria-label="Website design and development by  RC Design, click to visit">RC Design</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-7 footer-bottom-menu-container">
                        <ul class="nav"><li class="menu-item menu-terms-conditions nav-item"><a href="#" class="nav-link">Terms &amp; Conditions</a></li>
                            <li class="menu-item menu-privacy-policy nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                            <li class="menu-item menu-terms-of-use nav-item"><a href="#" class="nav-link">Terms of Use</a></li>
                            <li class="menu-item menu-site-map nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/site-map/" class="nav-link">Site Map</a></li>
                        </ul>                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>