<!--      This is the <head> for Loomis on the Home Page. This will be used fairly universally throughout all pages.
          Some things will change, like the title, and perhaps some meta values  -->


<head>

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <title>Home Page - Loomis Express</title>
    <meta name="description" content="Loomis Express">

    <!-- Favicons -->
    <link rel="shortcut icon" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/152x152.png">
    <link rel="icon" type="image/png" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/128.png" sizes="128x128">
    <meta name="application-name" content="Loomis Express">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/144x144.png">
    <meta name="msapplication-square70x70logo" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/70x70.png">
    <meta name="msapplication-square150x150logo" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/150x150.png">
    <meta name="msapplication-wide310x150logo" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/310x150.png">
    <meta name="msapplication-square310x310logo" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/assets/favicon/310x310.png">

    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="http://staging.loomisexpress.flywheelsites.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home Page - Loomis Express">
    <meta property="og:url" content="http://staging.loomisexpress.flywheelsites.com/">
    <meta property="og:site_name" content="Loomis Express">
    <meta property="article:modified_time" content="2020-10-08T18:07:32+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json" class="yoast-schema-graph">{
        "@context": "https://schema.org",
        "@graph": [
            {
                "@type": "WebSite",
                "@id": "http://staging.loomisexpress.flywheelsites.com/#website",
                "url": "http://staging.loomisexpress.flywheelsites.com/",
                "name": "Loomis Express",
                "description": "",
                "potentialAction": [
                    {
                        "@type": "SearchAction",
                        "target": "http://staging.loomisexpress.flywheelsites.com/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                ],
                "inLanguage": "en-US"
            },
            {
                "@type": "WebPage",
                "@id": "http://staging.loomisexpress.flywheelsites.com/#webpage",
                "url": "http://staging.loomisexpress.flywheelsites.com/",
                "name": "Home Page - Loomis Express",
                "isPartOf": {
                    "@id": "http://staging.loomisexpress.flywheelsites.com/#website"
                },
                "datePublished": "2020-08-14T13:58:47+00:00",
                "dateModified": "2020-10-08T18:07:32+00:00",
                "inLanguage": "en-US",
                "potentialAction": [
                    {
                        "@type": "ReadAction",
                        "target": [
                            "http://staging.loomisexpress.flywheelsites.com/"
                        ]
                    }
                ]
            }
        ]
    }</script>


    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="stylesheet" id="foobox-free-min-css" href="http://staging.loomisexpress.flywheelsites.com/wp-content/plugins/foobox-image-lightbox/free/css/foobox.free.min.css?ver=2.7.11" type="text/css" media="all">
    <link rel="stylesheet" id="tablepress-default-css" href="http://staging.loomisexpress.flywheelsites.com/wp-content/plugins/tablepress/css/default.min.css?ver=1.12" type="text/css" media="all">
    <link rel="stylesheet" id="canpar/css-css" href="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/dist/styles/main.css?ver=5.5.1" type="text/css" media="all">
    <script type="text/javascript" src="http://staging.loomisexpress.flywheelsites.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp" id="jquery-core-js"></script>
    <script type="text/javascript" id="foobox-free-min-js-before">
		/* Run FooBox FREE (v2.7.11) */
		var FOOBOX = window.FOOBOX = {
			ready: true,
			preloadFont: false,
			disableOthers: false,
			o: {
				countMessage: 'image %index of %total',
				excludes: '.fbx-link,.nofoobox,.nolightbox,a[href*="pinterest.com/pin/create/button/"]',
				affiliate: {enabled: false}
			},
			selectors: [
				".gallery", ".wp-block-gallery", ".wp-caption", ".wp-block-image", "a:has(img[class*=wp-image-])", ".foobox"
			],
			pre: function ($) {
				// Custom JavaScript (Pre)

			},
			post: function ($) {
				// Custom JavaScript (Post)

				// Custom Captions Code

			},
			custom: function ($) {
				// Custom Extra JS

			}
		};
    </script>
    <script type="text/javascript" src="http://staging.loomisexpress.flywheelsites.com/wp-content/plugins/foobox-image-lightbox/free/js/foobox.free.min.js?ver=2.7.11" id="foobox-free-min-js"></script>
    <link rel="shortlink" href="http://staging.loomisexpress.flywheelsites.com/">
    <link rel="icon" href="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/cropped-Favicon_Loomis-32x32.png" sizes="32x32">
    <link rel="icon" href="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/cropped-Favicon_Loomis-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/cropped-Favicon_Loomis-180x180.png">
    <meta name="msapplication-TileImage" content="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/cropped-Favicon_Loomis-270x270.png">

    <!-- === OpenGraph === -->
    <!-- the default values -->
    <!-- <meta property="fb:app_id" content="600080503366174" />
    <meta property="fb:admins" content="659978722" /> -->
    <!-- if page is content page -->
    <meta property="og:site_name" content="Loomis Express">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://staging.loomisexpress.flywheelsites.com/wp-content/themes/canpar/tile-wide.png">
    <!-- === OpenGraph end === -->

</head>