<!--     This is the header for the homepage. This will remain fairly consistent throughout the site. Menu items will gain an active state when their page is active.
         Also, when the header is scrolled, JS will add a .sticky class to it.   -->



<header class="site-header-wrap">

    <nav class="navbar navbar-expand-lg header-navbar">
        <ul class="navbar-nav search-menu mobile">
            <li class="nav-item menu-search">
                <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                            <g transform="translate(1370.869 26.258)">
                                <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                            </g>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>

        <a class="navbar-brand" href="http://staging.loomisexpress.flywheelsites.com" aria-label="Loomis Express">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.799 55.895" role="img">
                <title>Loomis Express</title>
                <g transform="translate(-217.131 -255.993)">
                    <path class="letters" d="M223.662,280.752h9.708L228.515,299.5H242.46l-1.677,6.46H217.131Z"></path>
                    <path class="letters" d="M255.522,301.332c3.442,0,4.676-4.059,4.676-5.647,0-2.189-.7-3.425-3.044-3.425-3.486,0-4.722,4.2-4.722,6.107,0,1.484.618,2.965,3.09,2.965m2.294-14.155c6.707,0,11.12,2.471,11.12,8.013,0,4.7-3.266,11.227-13.812,11.227-6.31,0-11.429-2.437-11.429-8.579,0-5.86,4.766-10.661,14.121-10.661"></path>
                    <path class="letters" d="M282,301.332c3.442,0,4.678-4.059,4.678-5.647,0-2.189-.707-3.425-3.045-3.425-3.486,0-4.722,4.2-4.722,6.107,0,1.484.618,2.965,3.089,2.965m2.295-14.155c6.707,0,11.12,2.471,11.12,8.013,0,4.7-3.266,11.227-13.812,11.227-6.31,0-11.429-2.437-11.429-8.579,0-5.86,4.766-10.661,14.121-10.661"></path>
                    <path class="letters" d="M299.3,287.636h8.472l-.618,2.4h.089a10.2,10.2,0,0,1,7.192-2.858c3,0,5.605.776,6.178,3.035a10.341,10.341,0,0,1,7.5-3.035c4.456,0,7.325,1.658,7.325,5.436a16.022,16.022,0,0,1-.53,2.895l-2.78,10.449h-8.737l2.338-8.755a20.47,20.47,0,0,0,.53-2.682c0-1.165-.838-1.765-2.25-1.765-1.722,0-2.956.776-3.31,2.118l-3,11.084h-8.737l2.647-9.814a7.333,7.333,0,0,0,.353-1.694c0-1.165-.794-1.694-2.206-1.694a3.4,3.4,0,0,0-3.663,2.718l-2.824,10.484h-8.737l4.766-18.321"></path>
                    <path class="letters" d="M349.026,285.658h-8.737l1.28-4.906h8.737Zm-9.223,1.978h8.739l-4.767,18.321h-8.737l4.765-18.321"></path>
                    <path class="letters" d="M355.513,299.956a1.969,1.969,0,0,0,.8,1.694,4.575,4.575,0,0,0,2.293.459c2.34,0,2.647-1.2,2.647-1.624,0-1.3-2.2-1.411-5.47-1.871-1.545-.212-6.223-.74-6.223-4.73,0-5.261,5.87-6.707,11.386-6.707,4.853,0,10.767.847,10.281,5.789h-7.81a1.315,1.315,0,0,0-.619-1.447,3.923,3.923,0,0,0-2.03-.459c-1.191,0-2.47.388-2.47,1.482,0,.989.838,1.27,1.984,1.378,6.488.706,9.71,1.835,9.71,5.683,0,4.236-4.547,6.814-11.605,6.814-4.943,0-11.077-.954-10.9-6.461h8.032"></path>
                    <path class="letters" d="M386.4,280.752h26.034l-1.631,6.459H394.476l-.837,3.143h15.136l-1.544,6H392.05l-.839,3.142h16.68l-1.678,6.46H379.828Z"></path>
                    <path class="letters" d="M417.6,296.178l-5.208-8.542h8.826l1.855,3.883,3.265-3.883h9.529l-9.132,8.9,5.78,9.426h-8.826l-2.514-4.483-4.237,4.483h-9.619Z"></path>
                    <path class="letters" d="M451.842,295.508c0-1.8-.618-3.248-3.176-3.248-3.884,0-4.59,4.448-4.59,6.072a2.913,2.913,0,0,0,3.177,3c3.487,0,4.589-3.458,4.589-5.824m-13.768-7.872h8.473l-.531,2.083h.09a7.627,7.627,0,0,1,6.134-2.542c6.441,0,8.339,4.271,8.339,7.519,0,5.436-3.4,11.721-11.165,11.721-2.515,0-4.986-.248-6.882-2.684l-2.076,8.155h-8.737l6.355-24.252"></path>
                    <path class="letters" d="M464.551,287.636h8.471l-.75,2.859h.088a9.381,9.381,0,0,1,6.663-3.318,11.65,11.65,0,0,1,3.09.281l-1.633,6.179a11.96,11.96,0,0,0-3.354-.459c-3.707,0-5.559,1.271-6.574,5.119l-1.986,7.66h-8.738l4.723-18.321"></path>
                    <path class="letters" d="M497.424,294.731a2.825,2.825,0,0,0,.088-.6c0-1.376-1.1-2.471-3.309-2.471a4.407,4.407,0,0,0-4.544,3.071Zm6.884,5.9c-.574,1.236-2.294,5.79-12.179,5.79-8.119,0-11.386-3.637-11.386-8.085,0-8.4,8.032-11.155,13.724-11.155,5.075,0,11.209,2.258,11.209,8.013a9.206,9.206,0,0,1-.442,3.177H488.907c0,1.941.84,3.565,3.574,3.565,1.9,0,3-.67,3.443-1.3h8.384"></path>
                    <path class="letters" d="M514.1,299.956a1.965,1.965,0,0,0,.793,1.694,4.583,4.583,0,0,0,2.295.459c2.338,0,2.648-1.2,2.648-1.624,0-1.3-2.206-1.411-5.474-1.871-1.543-.212-6.221-.74-6.221-4.73,0-5.261,5.871-6.707,11.385-6.707,4.854,0,10.767.847,10.281,5.789H522a1.31,1.31,0,0,0-.616-1.447,3.928,3.928,0,0,0-2.03-.459c-1.191,0-2.472.388-2.472,1.482,0,.989.84,1.27,1.986,1.378,6.488.706,9.708,1.835,9.708,5.683,0,4.236-4.545,6.814-11.605,6.814-4.942,0-11.075-.954-10.9-6.461H514.1"></path>
                    <path class="letters" d="M537.315,299.956a1.971,1.971,0,0,0,.794,1.694,4.583,4.583,0,0,0,2.295.459c2.338,0,2.648-1.2,2.648-1.624,0-1.3-2.207-1.411-5.472-1.871-1.545-.212-6.221-.74-6.221-4.73,0-5.261,5.867-6.707,11.383-6.707,4.853,0,10.768.847,10.283,5.789h-7.811a1.313,1.313,0,0,0-.618-1.447,3.926,3.926,0,0,0-2.029-.459c-1.192,0-2.472.388-2.472,1.482,0,.989.838,1.27,1.986,1.378,6.486.706,9.708,1.835,9.708,5.683,0,4.236-4.545,6.814-11.606,6.814-4.942,0-11.076-.954-10.9-6.461h8.03"></path>
                    <path class="swoosh" d="M555.626,283.212l2.3-8.893C512.424,261.269,458.079,254.5,399.9,256.27c-60.056,1.823-115.483,12.471-160.934,29.148,45.936-15.288,101.66-24.253,161.745-24.253,57.136,0,110.331,8.106,154.916,22.047"></path>
                </g>
            </svg>                <h1 tabindex="0" class="site-main-title">Loomis Express</h1>			</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="13.5" viewBox="0 0 23 13.5">
                      <g id="Group_972" data-name="Group 972" transform="translate(-382.388 -40.994)">
                        <line id="Line_433" data-name="Line 433" x2="23" transform="translate(382.388 41.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(382.388 47.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_435" data-name="Line 435" x2="23" transform="translate(382.388 53.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>
                    <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="17.325" height="17.324" viewBox="0 0 17.325 17.324">
                      <g id="Group_972" data-name="Group 972" transform="translate(-385.225 -39.082)">
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(385.756 39.612) rotate(45)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_437" data-name="Line 437" x2="23" transform="translate(402.02 39.612) rotate(135)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>


                </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="secondary-menu-wrap">
                <ul class="navbar-nav"><li class="menu-item menu-locations nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/find-a-location/" class="nav-link">Locations</a></li>
                    <li class="menu-item menu-contact nav-item"><a href="#" class="nav-link">Contact</a></li>
                    <li class="menu-item menu-collectship nav-item"><a href="#" class="nav-link">CollectShip</a></li>
                    <li class="menu-item menu-careers nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/careers/" class="nav-link">Careers</a></li>
                </ul>					<ul class="navbar-nav user-nav">

                <li class="nav-item menu-register">
                    <a href="#" data-toggle="modal" data-target="#registration-modal" class="nav-link profile-link">Register</a>
                </li>
                <li class="nav-item menu-login">
                    <a href="#" class="btn btn-primary">Log In</a>
                </li>
                <li class="nav-item menu-language-switcher">
                    <a href="?lang=fr" class="nav-link language-switcher" aria-label="French">FR</a>
                </li>
            </ul>
            </div>

            <div class="primary-menu-wrap">
                <ul class="navbar-nav primary-menu"><li class="dropdown menu-item menu-item-has-children menu-shipping nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Shipping</a>
                    <ul class="dropdown-menu" style="">
                        <li class="menu-item menu-shipping-in-canada nav-item"><a href="#" class="nav-link">Shipping in Canada</a></li>
                        <li class="menu-item menu-u-s-international nav-item"><a href="#" class="nav-link">U.S. &amp; International</a></li>
                        <li class="dropdown menu-item menu-item-has-children menu-shipping-tools nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#">Shipping Tools</a>
                            <ul class="dropdown-menu" style="">
                                <li class="menu-item menu-overview nav-item"><a href="#" class="nav-link">Overview</a></li>
                                <li class="menu-item menu-prepare-a-shipment nav-item"><a href="#" class="nav-link">Prepare a Shipment</a></li>
                                <li class="menu-item menu-collectship nav-item"><a href="#" class="nav-link">CollectShip</a></li>
                                <li class="menu-item menu-find-a-drop-off-location nav-item"><a href="#" class="nav-link">Find a Drop-Off Location</a></li>
                                <li class="menu-item menu-schedule-a-pickup nav-item"><a href="#" class="nav-link">Schedule a Pickup</a></li>
                                <li class="menu-item menu-e-returns nav-item"><a href="#" class="nav-link">E-Returns</a></li>
                                <li class="menu-item menu-transit-times nav-item"><a href="#" class="nav-link">Transit Times</a></li>
                                <li class="menu-item menu-track-your-shipment nav-item"><a href="#" class="nav-link">Track Your Shipment</a></li>
                                <li class="menu-item menu-manual-waybill-search nav-item"><a href="#" class="nav-link">Manual Waybill Search</a></li>
                                <li class="menu-item menu-order-shipping-supplies nav-item"><a href="#" class="nav-link">Order Shipping Supplies</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-shipping-support nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/" class="nav-link">Shipping Support</a></li>
                    </ul>
                </li>
                    <li class="menu-item menu-tracking nav-item"><a href="#" class="nav-link">Tracking</a></li>
                    <li class="menu-item menu-billing nav-item"><a href="#" class="nav-link">Billing</a></li>
                    <li class="dropdown menu-item menu-item-has-children menu-support nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="http://staging.loomisexpress.flywheelsites.com/support/" role="button">Support</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item menu-overview nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/" class="nav-link">Overview</a></li>
                            <li class="menu-item menu-faqs nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/faqs/" class="nav-link">FAQs</a></li>
                            <li class="menu-item menu-how-to-ship nav-item"><a href="#" class="nav-link">How to Ship</a></li>
                            <li class="menu-item menu-how-to-pack nav-item"><a href="#" class="nav-link">How to Pack</a></li>
                            <li class="menu-item menu-rates-zones nav-item"><a href="#" class="nav-link">Rates &amp; Zones</a></li>
                            <li class="menu-item menu-forms-downloads nav-item"><a href="#" class="nav-link">Forms &amp; Downloads</a></li>
                            <li class="menu-item menu-service-alerts-updates nav-item"><a href="http://staging.loomisexpress.flywheelsites.com/support/service-alerts-updates/" class="nav-link">Service Alerts &amp; Updates</a></li>
                        </ul>
                    </li>
                </ul>					<ul class="navbar-nav search-menu">
                <li class="nav-item menu-search">
                    <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                                <g transform="translate(1370.869 26.258)">
                                    <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                    <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>

            </div>

        </div>

    </nav>

    <div id="header-search-overlay">
        <form id="header-search-overlay-form" action="/" method="GET" role="search">
            <input type="search" name="s" id="header-search-overlay-input" class="form-control search-input" placeholder="What are you looking for?" aria-label="Search">
        </form>

        <div class="popular-searches">
            <ul class="list-unstyled">
                <li class="list-heading">Popular Searches</li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
            </ul>
        </div>

        <button type="button" class="btn btn-icon btn-close" id="js-header-search-overlay-close" aria-label="Close the search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1" transform="translate(4.644 -3.584) rotate(45)">
                    <line x2="11.636" transform="translate(0 5.818)"></line>
                    <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                </g>
            </svg>
        </button>
    </div>

</header>