<section id="slick-post-slider-block_5f738a34e8c8f"
         class="orange-block slick-post-slider-block has-bg-color-image bg-color-white">


    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12 block-title-container">
                <h2 class="h2 block-title">Videos</h2>
            </div>
        </div>
    </div>
    <div class="slick-post-slider-container container">
        <div class="slick-post-content video-type">

            <!--     Slide item 1       -->
            <a href="#" class="video-thumbnail-link" data-toggle="modal"
               data-target="#video-modal-container-1402"
               style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0254_Small-e1601347668237.jpg')">
                <div class="video-overlay bg-overlay">
                    <div class="play-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12" viewBox="0 0 22.56 27.12">
                            <path id="Path_178" data-name="Path 178" d="M0,0,22.56,13.56,0,27.12Z"
                                  fill="#101c2a"></path>
                        </svg>

                    </div>
                </div>
            </a>

            <!--     Slide item 2       -->
            <a href="#" class="video-thumbnail-link" data-toggle="modal"
               data-target="#video-modal-container-1403"
               style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0336_Small_Web.jpg')">
                <div class="video-overlay bg-overlay">
                    <div class="play-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12" viewBox="0 0 22.56 27.12">
                            <path id="Path_178" data-name="Path 178" d="M0,0,22.56,13.56,0,27.12Z"
                                  fill="#101c2a"></path>
                        </svg>
                    </div>
                </div>
            </a>

            <!--     Slide item 3       -->
            <a href="#" class="video-thumbnail-link" data-toggle="modal"
               data-target="#video-modal-container-1404"
               style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0586_Small_Web.jpg')">
                <div class="video-overlay bg-overlay">
                    <div class="play-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12" viewBox="0 0 22.56 27.12">
                            <path id="Path_178" data-name="Path 178" d="M0,0,22.56,13.56,0,27.12Z"
                                  fill="#101c2a"></path>
                        </svg>
                    </div>
                </div>
            </a>

            <!--     Slide item 4       -->
            <a href="#" class="video-thumbnail-link" data-toggle="modal"
               data-target="#video-modal-container-1405"
               style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0852_Small_Web.jpg')">
                <div class="video-overlay bg-overlay">
                    <div class="play-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12" viewBox="0 0 22.56 27.12">
                            <path id="Path_178" data-name="Path 178" d="M0,0,22.56,13.56,0,27.12Z"
                                  fill="#101c2a"></path>
                        </svg>
                    </div>
                </div>
            </a>
        </div>


        <!--   These are the video modals for the videos. They can be rendered here, or in the footer. They just load iframe content, which for these are youtube embeds     -->
        <!-- Modal -->
        <div class="modal fade video-modal" id="video-modal-container-1402" tabindex="-1" role="dialog"
             aria-hidden="true">
            <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                       transform="translate(4.644 -3.584) rotate(45)">
                        <line x2="11.636" transform="translate(0 5.818)"></line>
                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                    </g>
                </svg>
            </button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                            <iframe src="https://www.youtube.com/embed/G1IbRujko-A"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="" width="949" height="534" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade video-modal" id="video-modal-container-1403" tabindex="-1" role="dialog"
             aria-hidden="true">
            <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                       transform="translate(4.644 -3.584) rotate(45)">
                        <line x2="11.636" transform="translate(0 5.818)"></line>
                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                    </g>
                </svg>
            </button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                            <iframe src="https://www.youtube.com/embed/G1IbRujko-A"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="" width="949" height="534" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade video-modal" id="video-modal-container-1404" tabindex="-1" role="dialog"
             aria-hidden="true">
            <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                       transform="translate(4.644 -3.584) rotate(45)">
                        <line x2="11.636" transform="translate(0 5.818)"></line>
                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                    </g>
                </svg>
            </button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                            <iframe src="https://www.youtube.com/embed/G1IbRujko-A"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="" width="949" height="534" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade video-modal" id="video-modal-container-1405" tabindex="-1" role="dialog"
             aria-hidden="true">
            <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                       transform="translate(4.644 -3.584) rotate(45)">
                        <line x2="11.636" transform="translate(0 5.818)"></line>
                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                    </g>
                </svg>
            </button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                            <iframe src="https://www.youtube.com/embed/G1IbRujko-A"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="" width="949" height="534" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>