<!--    This is the slick post slider. This slider is similar to the social slider, in that it uses Slick.js to create the slides.
        Slick.js will take from .slick-post-content and below, and adjust it to form the slider. It will add classes and clones of the content
        to allow the slider to function. Slick.js must be included in order for this to work. Slick will also generate the slider buttons.   -->


<section id="slick-post-slider-block_5f7389a0e8c8c"
         class="orange-block slick-post-slider-block has-bg-color-image bg-color-white">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12 block-title-container">
                <h2 class="h2 block-title">In the News</h2>
            </div>
        </div>
    </div>
    <div class="slick-post-slider-container container">
        <div class="slick-post-content post-type">

            <!--     Start of slider content       -->
            <!--     Slide item 1       -->
            <div class="post-preview spotlight">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=362" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <p class="spotlight-text">spotlight</p>
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0609_Small_Web-Crop.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Aug, 21
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Another Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore&nbsp;… </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>


            <!--     Slide item 2       -->
            <div class="post-preview">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=358" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0220_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Aug, 21
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Another Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore&nbsp;… </p>
                            </div>
                            <span class="post-url">
                                 Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>


            <!--     Slide item 3       -->
            <div class="post-preview">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=365" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0055_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Aug, 21
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Testing Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore&nbsp;… </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>


            <!--     Slide item 4       -->
            <div class="post-preview">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=1427" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0394_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Sep, 30
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Testing Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore&nbsp;… </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>


            <!--     Slide item 5       -->
            <div class="post-preview">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=1428" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Sep, 30
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Another Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore&nbsp;… </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>

        <!--     End of slider content       -->
        </div>
    </div>
</section>