<!--      This is the Alerts Landing page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="page page-child tfi-site-canpar page-support page-alert">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->


<main id="content" class="main">

    <div class="content-wrap content-page content-alerts">


        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">

                        <div class="back-to-parent-link-column">
                            <a href="http://staging.canpar.flywheelsites.com/support/" class="back-to-parent-link">
                                Back to Support </a>
                        </div>

                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Service Alerts &amp; Updates</h1>
                        </div>

                        <div class="page-excerpt-column">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="alerts-listing-content-section">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="accordion alert-accordion" id="alert-accordion">


                            <!-- Single alert -->
                            <div class="card accordion-item-card">

                                <!-- Header -->
                                <div class="card-header" id="alert-accordion-item-195-heading">

                                    <!-- Title -->
                                    <div class="alert-header-title">Alert 4</div>

                                    <!-- Location -->
                                    <div class="alert-header-location">Newmarket</div>

                                    <!-- Date -->
                                    <div class="alert-header-date">Sep. 27, 2020 to Apr. 16, 2021</div>

                                    <!-- Details -->
                                    <div class="alert-header-trigger-btn">
                                        <button class="btn btn-arrow-link btn-accordion-trigger collapsed" type="button"
                                                data-toggle="collapse" data-target="#alert-accordion-item-195-collapse"
                                                aria-expanded="false" aria-controls="alert-accordion-item-195-collapse">
                                            <span class="open-label">Close</span>
                                            <span class="collapsed-label">See Details</span>
                                            <span class="arrow-icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.761 8.061">
											    <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.258)">
											        <line x2="7.7" transform="translate(30 51.288)"></line>
											        <path d="M36,54.788l3.5-3.5-3.5-3.5"
                                                          transform="translate(-1.8 0)"></path>
											    </g>
											</svg>
										</span>
                                        </button>
                                    </div>

                                </div>

                                <!-- Content area -->
                                <div id="alert-accordion-item-195-collapse" class="collapse"
                                     aria-labelledby="alert-accordion-item-195-heading" data-parent="#alert-accordion"
                                     style="">
                                    <div class="card-body">

                                        <!-- Content -->
                                        <p>Start before today | End next year</p>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                            voluptua.</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                            tempor invidunt.</p>
                                        <p>Ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                            labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        <ul>
                                            <li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                            </li>
                                        </ul>

                                        <!-- Downloads -->

                                        <ul class="list-unstyled list-group alert-downloads">


                                            <!-- Single download -->
                                            <li class="list-group-item alert-download">
                                                <a class="button"
                                                   href="http://staging.canpar.flywheelsites.com/?page_id=2"
                                                   target="_self" aria-label="Download Sample Page.">
                                                    Sample Page </a>
                                            </li>


                                        </ul>


                                        <!-- Image -->
                                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0852_Small_Web-768x512.jpg"
                                             alt="" class="alert-image">

                                    </div>
                                </div>
                            </div>


                            <!-- Single alert -->
                            <div class="card accordion-item-card">

                                <!-- Header -->
                                <div class="card-header" id="alert-accordion-item-185-heading">

                                    <!-- Title -->
                                    <div class="alert-header-title">Alert 1</div>

                                    <!-- Location -->
                                    <div class="alert-header-location">Newmarket</div>

                                    <!-- Date -->
                                    <div class="alert-header-date">Oct. 1, 2020 to Nov. 13, 2020</div>

                                    <!-- Details -->
                                    <div class="alert-header-trigger-btn">
                                        <button class="btn btn-arrow-link btn-accordion-trigger collapsed" type="button"
                                                data-toggle="collapse" data-target="#alert-accordion-item-185-collapse"
                                                aria-expanded="false" aria-controls="alert-accordion-item-185-collapse">
                                            <span class="open-label">Close</span>
                                            <span class="collapsed-label">See Details</span>
                                            <span class="arrow-icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.761 8.061">
											    <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.258)">
											        <line x2="7.7" transform="translate(30 51.288)"></line>
											        <path d="M36,54.788l3.5-3.5-3.5-3.5"
                                                          transform="translate(-1.8 0)"></path>
											    </g>
											</svg>
										</span>
                                        </button>
                                    </div>

                                </div>

                                <!-- Content area -->
                                <div id="alert-accordion-item-185-collapse" class="collapse"
                                     aria-labelledby="alert-accordion-item-185-heading" data-parent="#alert-accordion">
                                    <div class="card-body">

                                        <!-- Content -->
                                        <p>Start Before Today / End After Today</p>
                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget
                                            risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
                                            Donec ullamcorper nulla non metus auctor fringilla.</p>

                                        <!-- Downloads -->

                                        <ul class="list-unstyled list-group alert-downloads">


                                            <!-- Single download -->
                                            <li class="list-group-item alert-download">
                                                <a class="button"
                                                   href="http://staging.canpar.flywheelsites.com/?page_id=2"
                                                   target="_self" aria-label="Download Sample Page.">
                                                    Sample Page </a>
                                            </li>


                                        </ul>


                                        <!-- Image -->
                                        <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0586_Small_Web-768x512.jpg"
                                             alt="" class="alert-image">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </section>


        <section id="footer-breadcrumbs" class="breadcrumbs">
            <!-- Bread Crumbs content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="yoast-breadcrumb"><span><span><a
                                href="http://staging.canpar.flywheelsites.com/support/">Support</a>  <span
                                class="breadcrumb_last"
                                aria-current="page">Service Alerts &amp; Updates</span></span></span></p></div>
                </div>
            </div>
        </section>

    </div>

</main>


</body>