<!--      This is the Careers Landing page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="page tfi-site-canpar page-careers">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page content-careers content-careers-listing-page">

        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">


                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Careers</h1>
                        </div>

                        <div class="page-excerpt-column">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>

                            <a class="btn btn-primary" href="#careers-anchor">
                                See all Current Openings </a>

                        </div>

                    </div>
                </div>
            </div>

            <div class="featured-image"
                 style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0248_Small.jpg')"></div>

        </section>
        <section id="centered-content-block_5f7297df6a91f" class="orange-block centered-content-block aligncenter">


            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                        <h2 class="h2 block-title centred-title">
                            About Canpar Express </h2>
                        <h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                    </div>
                </div>
            </div>
        </section>


        <section id="icon-columns-block_5f6e5d471c823"
                 class="orange-block icon-columns-block careers-philosophy-spirit aligncenter">


            <div class="container">

                <!-- Block title -->
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Philosophy and Spirit</h2>
                    </div>
                </div>

                <div class="row icon-columns-row">


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem Ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=nulla-tempor-ex-eget-sapien-dignissim-suscipit-ut-ac-ante"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Umbrella.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Efficiency.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>


        <section id="image-link-block_5f6e5db41c828" class="orange-block image-link-block bg-overlap">


            <div class="image-row-container container-fluid">
                <div class="images-wrap row">
                    <a href="#" class="single-image-link-block has-3-items"
                       style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0078_Small-1024x683.jpg')">
                        <h3 class="h3 image-text">About Canpar Express</h3>
                        <div class="learn-more-link-container">
                            <p class="learn-more-link arrow-link">
                                Learn More </p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                    <a href="#" class="single-image-link-block has-3-items"
                       style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0616_Small_Web-1024x683.jpg')">
                        <h3 class="h3 image-text">Community &amp; Environment</h3>
                        <div class="learn-more-link-container">
                            <p class="learn-more-link arrow-link">
                                Learn More </p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                    <a href="#" class="single-image-link-block has-3-items"
                       style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0254_Small-1024x683.jpg')">
                        <h3 class="h3 image-text">Workplace Equity</h3>
                        <div class="learn-more-link-container">
                            <p class="learn-more-link arrow-link">
                                Learn More </p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>
            </div>

        </section>


        <section id="centered-content-block_5f6e5df51c82c"
                 class="orange-block centered-content-block has-bg-color-image bg-color-light">


            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                        <h2 style="text-align: center;">Benefits of Working at Canpar Express</h2>
                    </div>
                </div>
            </div>
        </section>


        <section id="icon-columns-block_5f6e5ee4ae1a5"
                 class="orange-block icon-columns-block has-bg-color-image bg-color-light">


            <div class="container">

                <!-- Block title -->

                <div class="row icon-columns-row">


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem Ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=nulla-tempor-ex-eget-sapien-dignissim-suscipit-ut-ac-ante"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Umbrella.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Efficiency.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>

                                <!-- Link -->


                                <a class="inline-link"
                                   href="http://staging.canpar.flywheelsites.com/?faq=curabitur-hendrerit-orci-id-erat-bibendum-semper-nulla-facilisi"
                                   target="_self">
                                    Learn More </a>


                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>


        <section id="testimonial-large-block_5f6e5e2b1c82d"
                 class="orange-block testimonial-large-block has-bg-color-image">


            <div class="container-fluid">
                <div class="row">

                    <div class="col">
                        <div id="testimonial-large-block_5f6e5e2b1c82d_carouselLarge" class="carousel slide w-100"
                             data-ride="carousel" data-interval="false">
                            <div class="carousel-container  " style="min-height: 679px;">
                                <div class="carousel-inner">
                                    <div class="carousel-item h-100 active">
                                        <div class="d-flex align-items-center carousel-item-container">
                                            <div class="card w-100">
                                                <div class="row no-gutters my-auto">
                                                    <div class="col main" style="min-height: 679px;">
                                                        <div class="testimonial-icon-container">
                                                            <div class="testimonial-icon"
                                                                 style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                            </div>
                                                        </div>

                                                        <div class="card-body">
                                                            <p class="card-text content">Lorem ipsum dolor sit amet,
                                                                consectet adipiscing elit, sed diam nonummy nibh euismod
                                                                tincidunt laoreet dolore magna aliquam.</p>
                                                            <p class="card-text author">Jane Doe, Lorem Ipsum
                                                                Consteteur</p>
                                                        </div>
                                                    </div>
                                                    <div class="image-section p-0">
                                                        <div class="card-body card-image p-0 h-100"
                                                             style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0220_Small_Web.jpg');background-size:cover;background-position:center center;">
                                                            <div class="overlay"
                                                                 style="background-color:#00000000;opacity:0%"></div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item h-100">
                                        <div class="d-flex align-items-center carousel-item-container">
                                            <div class="card w-100">
                                                <div class="row no-gutters my-auto">
                                                    <div class="col main" style="min-height: 679px;">
                                                        <div class="testimonial-icon-container">
                                                            <div class="testimonial-icon"
                                                                 style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                            </div>
                                                        </div>

                                                        <div class="card-body">
                                                            <p class="card-text content">Lorem ipsum dolor sit amet,
                                                                consectet adipiscing elit, sed diam nonummy nibh euismod
                                                                tincidunt laoreet dolore magna aliquam.</p>
                                                            <p class="card-text author">Julia Smith, Lorem Ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="image-section p-0">
                                                        <div class="card-body card-image p-0 h-100"
                                                             style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0051_Small_Web.jpg');background-size:cover;background-position:center center;">
                                                            <div class="overlay"
                                                                 style="background-color:#00000000;opacity:0%"></div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="control-container">
                                    <a class="carousel-control-prev position-relative float-left w-50"
                                       href="#testimonial-large-block_5f6e5e2b1c82d_carouselLarge" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next position-relative float-right w-50"
                                       href="#testimonial-large-block_5f6e5e2b1c82d_carouselLarge" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script>
                (function ($) {
                    $(document).ready(function () {

                        if ($('.testimonial-large-block').hasClass('alignright')) {
                            $('.row.no-gutters').addClass('flex-row-reverse');
                        }

                        //Adding active classes to all sliders
                        $(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
                        $(".carousel-indicators > li:nth-child(1)").addClass("active");


                    });
                })(jQuery);
            </script>

        </section>


        <section id="social-slider-block_5f738a1de8c8e"
                 class="orange-block social-slider-block">


            <!-- Block title -->
            <div class="container">
                <div class="row">
                    <div class="col-12 block-title-container">
                        <h2 class="h2 block-title">Let's Get Social</h2>
                        <!--       Social Icons here         -->
                        <div class="social-icon-container">
                            <a href="https://www.facebook.com/CanparExpress/" class="social-link"
                               aria-label="Visit Canpar's facebook page" target="_blank">
                                <div class="social-icon facebook">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9.933" height="20.587"
                                         viewBox="0 0 9.933 20.587">
                                        <defs>
                                            <style>.a {
                                                fill: #0D1C2B;
                                            }</style>
                                        </defs>
                                        <path class="a"
                                              d="M133.294,4655.417h2.129v-2.069a5.531,5.531,0,0,1,.685-3.189,3.788,3.788,0,0,1,3.3-1.55,13.392,13.392,0,0,1,3.816.383l-.533,3.153a7.16,7.16,0,0,0-1.714-.257c-.828,0-1.569.3-1.569,1.125v2.4h3.393l-.236,3.079h-3.157v10.7h-3.989v-10.7h-2.129Z"
                                              transform="translate(-133.294 -4648.609)"></path>
                                    </svg>
                                </div>
                            </a>
                            <a href="https://www.instagram.com/canparexpress/?hl=en" class="social-link"
                               aria-label="Visit Canpar's instagram page" target="_blank">
                                <div class="social-icon instagram">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                        <defs>
                                            <style>.a {
                                                fill: #0D1C2B;
                                                stroke: rgba(0, 0, 0, 0);
                                                stroke-miterlimit: 10;
                                            }</style>
                                        </defs>
                                        <path class="a"
                                              d="M-16825.748-17510.988a7.685,7.685,0,0,1-2.551-.486,5.159,5.159,0,0,1-1.861-1.211,5.1,5.1,0,0,1-1.207-1.861,7.592,7.592,0,0,1-.49-2.547c-.051-1.121-.064-1.477-.064-4.328s.014-3.211.064-4.332a7.582,7.582,0,0,1,.49-2.547,5.051,5.051,0,0,1,1.207-1.857,5.145,5.145,0,0,1,1.861-1.215,7.685,7.685,0,0,1,2.551-.486c1.119-.051,1.477-.062,4.326-.062s3.207.012,4.33.063a7.67,7.67,0,0,1,2.547.486,5.105,5.105,0,0,1,1.859,1.215,5.1,5.1,0,0,1,1.215,1.857,7.839,7.839,0,0,1,.488,2.547c.047,1.121.061,1.477.061,4.332s-.014,3.207-.061,4.328a7.85,7.85,0,0,1-.488,2.547,5.145,5.145,0,0,1-1.215,1.861,5.119,5.119,0,0,1-1.859,1.211,7.67,7.67,0,0,1-2.547.486c-1.123.051-1.477.066-4.33.066S-16824.629-17510.937-16825.748-17510.988Zm.086-18.98a5.721,5.721,0,0,0-1.953.359,3.28,3.28,0,0,0-1.205.785,3.186,3.186,0,0,0-.783,1.209,5.751,5.751,0,0,0-.365,1.949c-.047,1.107-.062,1.439-.062,4.244s.016,3.133.063,4.24a5.792,5.792,0,0,0,.365,1.953,3.218,3.218,0,0,0,.783,1.205,3.3,3.3,0,0,0,1.205.785,5.771,5.771,0,0,0,1.953.359c1.105.051,1.436.063,4.24.063s3.139-.012,4.246-.062a5.75,5.75,0,0,0,1.947-.359,3.344,3.344,0,0,0,1.211-.785,3.367,3.367,0,0,0,.783-1.205,6.07,6.07,0,0,0,.363-1.953c.047-1.107.057-1.439.057-4.24s-.01-3.137-.057-4.244a6.026,6.026,0,0,0-.363-1.949,3.332,3.332,0,0,0-.783-1.209,3.319,3.319,0,0,0-1.211-.785,5.7,5.7,0,0,0-1.947-.359c-1.107-.053-1.441-.062-4.246-.062S-16824.555-17530.021-16825.662-17529.969Zm-1.15,8.547a5.392,5.392,0,0,1,5.391-5.393,5.393,5.393,0,0,1,5.395,5.393,5.393,5.393,0,0,1-5.395,5.389A5.392,5.392,0,0,1-16826.812-17521.422Zm1.891,0a3.5,3.5,0,0,0,3.5,3.5,3.5,3.5,0,0,0,3.5-3.5,3.5,3.5,0,0,0-3.5-3.5A3.5,3.5,0,0,0-16824.922-17521.422Zm8.215-4.715a1.259,1.259,0,0,1,0-1.781,1.259,1.259,0,0,1,1.781,0,1.259,1.259,0,0,1,0,1.781,1.252,1.252,0,0,1-.891.369A1.256,1.256,0,0,1-16816.707-17526.137Z"
                                              transform="translate(16832.422 17532.422)"></path>
                                    </svg>
                                </div>
                            </a>
                            <a href="https://ca.linkedin.com/company/canparexpress" class="social-link"
                               aria-label="Visit Canpar's linkedin page" target="_blank">
                                <div class="social-icon linkedin">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.071" height="18.041"
                                         viewBox="0 0 18.071 18.041">
                                        <defs>
                                            <style>.a {
                                                fill: #0D1C2B;
                                            }</style>
                                        </defs>
                                        <rect class="a" width="3.749" height="12.05"
                                              transform="translate(0.297 5.991)"></rect>
                                        <path class="a"
                                              d="M183.39,24.637a2.172,2.172,0,1,1,2.17-2.173A2.17,2.17,0,0,1,183.39,24.637Z"
                                              transform="translate(-181.217 -20.293)"></path>
                                        <path class="a"
                                              d="M197.856,37.059h-3.742V31.2c0-1.4-.027-3.194-1.947-3.194-1.948,0-2.246,1.522-2.246,3.094v5.96H186.18V25.009h3.59v1.647h.052a3.935,3.935,0,0,1,3.544-1.947c3.79,0,4.491,2.5,4.491,5.741Z"
                                              transform="translate(-179.785 -19.019)"></path>
                                    </svg>
                                </div>
                            </a>
                            <a href="https://www.youtube.com/channel/UCKN2KQvNMV21U4fTOVSypoA" class="social-link"
                               aria-label="Visit Canpar's youtube page" target="_blank">
                                <div class="social-icon youtube">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18.582"
                                         viewBox="0 0 26 18.582">
                                        <defs>
                                            <style>.a {
                                                fill: #0D1C2B;
                                                stroke: rgba(0, 0, 0, 0);
                                                stroke-miterlimit: 10;
                                            }</style>
                                        </defs>
                                        <path class="a"
                                              d="M-16477.5-17179.42h0c-.066,0-6.537-.059-8.5-.248-.1-.016-.211-.031-.34-.049a3.669,3.669,0,0,1-2.416-1.021,5.506,5.506,0,0,1-.994-2.48,37.6,37.6,0,0,1-.25-4.045v-1.9a37.6,37.6,0,0,1,.25-4.045,5.515,5.515,0,0,1,.994-2.484,3.173,3.173,0,0,1,1.291-.836,4.27,4.27,0,0,1,1.053-.205l.035,0a.754.754,0,0,0,.123-.016c3.459-.25,8.693-.252,8.75-.252h.01c.055,0,5.291,0,8.748.252.035.006.072.012.117.016l.043,0a4.287,4.287,0,0,1,1.053.205,3.2,3.2,0,0,1,1.291.836,5.515,5.515,0,0,1,.994,2.484,38.479,38.479,0,0,1,.248,4.045v1.9a38.479,38.479,0,0,1-.248,4.045,5.5,5.5,0,0,1-.994,2.48,3.25,3.25,0,0,1-1.291.84,4.691,4.691,0,0,1-1.053.205l-.043,0-.117.014C-16472.187-17179.428-16477.447-17179.42-16477.5-17179.42Zm-2.578-12.566h0v7.023l6.752-3.5-6.752-3.521Z"
                                              transform="translate(16490.498 17197.502)"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="social-slider-container container">
                <div class="slick-content">

                    <!--      Instagram container      -->
                    <div class="instagram-container">
                        <a href="#" class="instagram-link">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/assets/images/instagram/insta2.jpg"
                                 alt=""
                                 class="insta-image">
                        </a>
                    </div>


                    <!--      Twitter container      -->
                    <div class="twitter-container">
                        <a href="#" class="twitter-link">
                            <div class="twitter-details-row">
                                <div class="twitter-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.876"
                                         viewBox="0 0 22 17.876">
                                        <path id="Path_449" data-name="Path 449"
                                              d="M81.919,116.327a12.756,12.756,0,0,0,12.843-12.843c0-.2,0-.39-.013-.583A9.184,9.184,0,0,0,97,100.564a9.009,9.009,0,0,1-2.592.71,4.529,4.529,0,0,0,1.984-2.5,9.046,9.046,0,0,1-2.866,1.1,4.518,4.518,0,0,0-7.692,4.117,12.815,12.815,0,0,1-9.3-4.716,4.517,4.517,0,0,0,1.4,6.025,4.48,4.48,0,0,1-2.049-.565v.057a4.515,4.515,0,0,0,3.621,4.425,4.507,4.507,0,0,1-2.038.077,4.519,4.519,0,0,0,4.217,3.135,9.057,9.057,0,0,1-5.606,1.936A9.194,9.194,0,0,1,75,114.3a12.779,12.779,0,0,0,6.919,2.024"
                                              transform="translate(-75 -98.45)" fill="#004a93"></path>
                                    </svg>
                                </div>
                                <p class="twitter-date">
                                    Sep 08
                                </p>
                            </div>
                            <div class="twitter-content-row">
                                <p class="twitter-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt
                                </p>
                            </div>
                        </a>
                    </div>

                    <!--      Instagram container      -->
                    <div class="instagram-container">
                        <a href="#" class="instagram-link">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/assets/images/instagram/insta2.jpg"
                                 alt=""
                                 class="insta-image">
                        </a>
                    </div>


                    <!--      Twitter container      -->
                    <div class="twitter-container">
                        <a href="#" class="twitter-link">
                            <div class="twitter-details-row">
                                <div class="twitter-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.876"
                                         viewBox="0 0 22 17.876">
                                        <path id="Path_449" data-name="Path 449"
                                              d="M81.919,116.327a12.756,12.756,0,0,0,12.843-12.843c0-.2,0-.39-.013-.583A9.184,9.184,0,0,0,97,100.564a9.009,9.009,0,0,1-2.592.71,4.529,4.529,0,0,0,1.984-2.5,9.046,9.046,0,0,1-2.866,1.1,4.518,4.518,0,0,0-7.692,4.117,12.815,12.815,0,0,1-9.3-4.716,4.517,4.517,0,0,0,1.4,6.025,4.48,4.48,0,0,1-2.049-.565v.057a4.515,4.515,0,0,0,3.621,4.425,4.507,4.507,0,0,1-2.038.077,4.519,4.519,0,0,0,4.217,3.135,9.057,9.057,0,0,1-5.606,1.936A9.194,9.194,0,0,1,75,114.3a12.779,12.779,0,0,0,6.919,2.024"
                                              transform="translate(-75 -98.45)" fill="#004a93"></path>
                                    </svg>
                                </div>
                                <p class="twitter-date">
                                    Sep 08
                                </p>
                            </div>
                            <div class="twitter-content-row">
                                <p class="twitter-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt
                                </p>
                            </div>
                        </a>
                    </div>


                    <!--      Instagram container      -->
                    <div class="instagram-container">
                        <a href="#" class="instagram-link">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/assets/images/instagram/insta2.jpg"
                                 alt=""
                                 class="insta-image">
                        </a>
                    </div>


                    <!--      Twitter container      -->
                    <div class="twitter-container">
                        <a href="#" class="twitter-link">
                            <div class="twitter-details-row">
                                <div class="twitter-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.876"
                                         viewBox="0 0 22 17.876">
                                        <path id="Path_449" data-name="Path 449"
                                              d="M81.919,116.327a12.756,12.756,0,0,0,12.843-12.843c0-.2,0-.39-.013-.583A9.184,9.184,0,0,0,97,100.564a9.009,9.009,0,0,1-2.592.71,4.529,4.529,0,0,0,1.984-2.5,9.046,9.046,0,0,1-2.866,1.1,4.518,4.518,0,0,0-7.692,4.117,12.815,12.815,0,0,1-9.3-4.716,4.517,4.517,0,0,0,1.4,6.025,4.48,4.48,0,0,1-2.049-.565v.057a4.515,4.515,0,0,0,3.621,4.425,4.507,4.507,0,0,1-2.038.077,4.519,4.519,0,0,0,4.217,3.135,9.057,9.057,0,0,1-5.606,1.936A9.194,9.194,0,0,1,75,114.3a12.779,12.779,0,0,0,6.919,2.024"
                                              transform="translate(-75 -98.45)" fill="#004a93"></path>
                                    </svg>
                                </div>
                                <p class="twitter-date">
                                    Sep 08
                                </p>
                            </div>
                            <div class="twitter-content-row">
                                <p class="twitter-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt
                                </p>
                            </div>
                        </a>
                    </div>


                    <!--      Instagram container      -->
                    <div class="instagram-container">
                        <a href="#" class="instagram-link">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/assets/images/instagram/insta2.jpg"
                                 alt=""
                                 class="insta-image">
                        </a>
                    </div>


                    <!--      Twitter container      -->
                    <div class="twitter-container">
                        <a href="#" class="twitter-link">
                            <div class="twitter-details-row">
                                <div class="twitter-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.876"
                                         viewBox="0 0 22 17.876">
                                        <path id="Path_449" data-name="Path 449"
                                              d="M81.919,116.327a12.756,12.756,0,0,0,12.843-12.843c0-.2,0-.39-.013-.583A9.184,9.184,0,0,0,97,100.564a9.009,9.009,0,0,1-2.592.71,4.529,4.529,0,0,0,1.984-2.5,9.046,9.046,0,0,1-2.866,1.1,4.518,4.518,0,0,0-7.692,4.117,12.815,12.815,0,0,1-9.3-4.716,4.517,4.517,0,0,0,1.4,6.025,4.48,4.48,0,0,1-2.049-.565v.057a4.515,4.515,0,0,0,3.621,4.425,4.507,4.507,0,0,1-2.038.077,4.519,4.519,0,0,0,4.217,3.135,9.057,9.057,0,0,1-5.606,1.936A9.194,9.194,0,0,1,75,114.3a12.779,12.779,0,0,0,6.919,2.024"
                                              transform="translate(-75 -98.45)" fill="#004a93"></path>
                                    </svg>
                                </div>
                                <p class="twitter-date">
                                    Sep 08
                                </p>
                            </div>
                            <div class="twitter-content-row">
                                <p class="twitter-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt
                                </p>
                            </div>
                        </a>
                    </div>

                </div>

            </div>

        </section>


        <section id="career-content" class="careers-accordion-section">

            <a class="page-anchor" id="careers-anchor"></a>

            <div class="container title-container">
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Current Opportunities</h2>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="accordion-wrap">
                            <div class="accordion" id="careers-accordion">

                                <a class="card" href="http://staging.canpar.flywheelsites.com/career/position-1/">

                                    <div class="card-header collapsed" id="career-accordion-1263-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Title of Position</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Calgary, AB</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>
                                <a class="card" href="http://staging.canpar.flywheelsites.com/career/position-2/">

                                    <div class="card-header collapsed" id="career-accordion-1262-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Title of Toronto Position</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Toronto, ON</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>
                                <a class="card" href="http://staging.canpar.flywheelsites.com/career/position-3/">

                                    <div class="card-header collapsed" id="career-accordion-1261-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Job Position Title</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Brampton, ON</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

</main>

</body>