<!--      This is the FAQs page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="page page-child tfi-site-canpar page-support page-faqs">
<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page content-faqs">


        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">

                        <div class="back-to-parent-link-column">
                            <a href="http://staging.canpar.flywheelsites.com/support/" class="back-to-parent-link">
                                Back to Support </a>
                        </div>

                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Frequently Asked Questions</h1>
                        </div>

                        <div class="page-excerpt-column">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore.</p>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="faq-categories-menu-section">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- FAQ Topic/Category menus -->
                        <div class="faq-categories-menu-wrap">

                            <!-- Desktop menu -->
                            <!-- Menu items link to FAQ listing page with hash matching category slug, which scrolls page to that category on page load -->
                            <ul class="nav faq-categories-menu">
                                <li class="nav-heading">View by Topic:</li>
                                <li class="nav-item">
                                    <a href="#shipping" class="nav-link faq-category-link">
                                        <span class="link-text">Shipping</span>
                                        <!-- Number of FAQs in this category -->
                                        <span class="post-count">9</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tracking" class="nav-link faq-category-link">
                                        <span class="link-text">Tracking</span>
                                        <span class="post-count">5</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#technology" class="nav-link faq-category-link">
                                        <span class="link-text">Technology</span>
                                        <span class="post-count">4</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#another-category" class="nav-link faq-category-link">
                                        <span class="link-text">Another Category</span>
                                        <span class="post-count">3</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Mobile select dropdown -->
                            <!-- Option values are link to FAQ listing page with hash matching category slug, which, with the
								 assistance of a JS script, navigates to the link and scrolls the page to the category on page laod -->
                            <div class="form-group faq-categories-dropdown-wrap">
                                <label for="faq-categories-dropdown">View by Topic:</label>
                                <select class="custom-select" id="faq-categories-dropdown">
                                    <option value="">---------</option>
                                    <!-- Include number of FAQ posts in category between brackets -->
                                    <option value="#shipping">Shipping ( 9 ) </option>
                                    <option value="#tracking">Tracking ( 5 ) </option>
                                    <option value="#technology">Technology ( 4 ) </option>
                                    <option value="#another-category">Another Category ( 3 ) </option>
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="faqs-listing-content-section">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="faq-category-block">
                            <a class="page-anchor" name="shipping"></a>

                            <h2 class="h2 category-block-title">Shipping</h2>

                            <div class="accordion faq-accordion" id="shipping-faq-accordion">

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="shipping-faq-accordion-1216-heading">

                                        <div class="accordion-title">Curabitur hendrerit orci id erat bibendum semper.
                                            Nulla facilisi?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#shipping-faq-accordion-1216-collapse"
                                                aria-expanded="false"
                                                aria-controls="shipping-faq-accordion-1216-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="shipping-faq-accordion-1216-collapse" class="collapse"
                                         aria-labelledby="shipping-faq-accordion-1216-heading" data-id="1216"
                                         data-parent="#shipping-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                            <p>&nbsp;</p>
                                            <p><img loading="lazy" class="alignnone size-large"
                                                    src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-1024x684.png"
                                                    alt=""
                                                    srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-1024x684.png 1024w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-300x200.png 300w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-768x513.png 768w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x.png 1062w"
                                                    sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="684">
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="shipping-faq-accordion-1217-heading">

                                        <div class="accordion-title">Nulla tempor ex eget sapien dignissim suscipit ut
                                            ac ante?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#shipping-faq-accordion-1217-collapse"
                                                aria-expanded="false"
                                                aria-controls="shipping-faq-accordion-1217-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="shipping-faq-accordion-1217-collapse" class="collapse"
                                         aria-labelledby="shipping-faq-accordion-1217-heading" data-id="1217"
                                         data-parent="#shipping-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="shipping-faq-accordion-1218-heading">

                                        <div class="accordion-title">Stet clita kasd gubergren, no sea takimata sanctus
                                            est ipsum dolor sit amet?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#shipping-faq-accordion-1218-collapse"
                                                aria-expanded="false"
                                                aria-controls="shipping-faq-accordion-1218-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="shipping-faq-accordion-1218-collapse" class="collapse"
                                         aria-labelledby="shipping-faq-accordion-1218-heading" data-id="1218"
                                         data-parent="#shipping-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                            <p>
                                                <iframe title="Canpar -- À la fine pointe de la technologie"
                                                        src="https://www.youtube.com/embed/fr2YhslnJls?feature=oembed"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen="" width="500" height="281"
                                                        frameborder="0"></iframe>
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="shipping-faq-accordion-1157-heading">

                                        <div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#shipping-faq-accordion-1157-collapse"
                                                aria-expanded="false"
                                                aria-controls="shipping-faq-accordion-1157-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="shipping-faq-accordion-1157-collapse" class="collapse"
                                         aria-labelledby="shipping-faq-accordion-1157-heading" data-id="1157"
                                         data-parent="#shipping-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>
                                <input type="hidden" class="list-items-loader" data-limit="4" data-page="2"
                                       data-args="YToyOntzOjExOiJwb3N0X3N0YXR1cyI7czo3OiJwdWJsaXNoIjtzOjk6InRheF9xdWVyeSI7YToxOntpOjA7YTozOntzOjg6InRheG9ub215IjtzOjEyOiJmYXFfY2F0ZWdvcnkiO3M6NToiZmllbGQiO3M6NDoic2x1ZyI7czo1OiJ0ZXJtcyI7czo4OiJzaGlwcGluZyI7fX19"
                                       data-template-args="YToxOntzOjEyOiJhY2NvcmRpb25faWQiO3M6MjI6InNoaXBwaW5nLWZhcS1hY2NvcmRpb24iO30=">
                            </div>

                            <button class="btn btn-primary btn-load-more">Load More</button>
                        </div>


                        <div class="faq-category-block">
                            <a class="page-anchor" name="tracking"></a>

                            <h2 class="h2 category-block-title">Tracking</h2>

                            <div class="accordion faq-accordion" id="tracking-faq-accordion">


                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="tracking-faq-accordion-1216-heading">

                                        <div class="accordion-title">Curabitur hendrerit orci id erat bibendum semper.
                                            Nulla facilisi?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#tracking-faq-accordion-1216-collapse"
                                                aria-expanded="false"
                                                aria-controls="tracking-faq-accordion-1216-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="tracking-faq-accordion-1216-collapse" class="collapse"
                                         aria-labelledby="tracking-faq-accordion-1216-heading" data-id="1216"
                                         data-parent="#tracking-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                            <p>&nbsp;</p>
                                            <p><img loading="lazy" class="alignnone size-large"
                                                    src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-1024x684.png"
                                                    alt=""
                                                    srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-1024x684.png 1024w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-300x200.png 300w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x-768x513.png 768w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small@2x.png 1062w"
                                                    sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="684">
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="tracking-faq-accordion-1145-heading">

                                        <div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#tracking-faq-accordion-1145-collapse"
                                                aria-expanded="false"
                                                aria-controls="tracking-faq-accordion-1145-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="tracking-faq-accordion-1145-collapse" class="collapse"
                                         aria-labelledby="tracking-faq-accordion-1145-heading" data-id="1145"
                                         data-parent="#tracking-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="tracking-faq-accordion-1144-heading">

                                        <div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#tracking-faq-accordion-1144-collapse"
                                                aria-expanded="false"
                                                aria-controls="tracking-faq-accordion-1144-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="tracking-faq-accordion-1144-collapse" class="collapse"
                                         aria-labelledby="tracking-faq-accordion-1144-heading" data-id="1144"
                                         data-parent="#tracking-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut
                                                interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut
                                                elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc
                                                lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc
                                                eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus.
                                                Sed laoreet augue sit amet mauris fringilla, non sodales sem
                                                sagittis.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="tracking-faq-accordion-1140-heading">

                                        <div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#tracking-faq-accordion-1140-collapse"
                                                aria-expanded="false"
                                                aria-controls="tracking-faq-accordion-1140-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="tracking-faq-accordion-1140-collapse" class="collapse"
                                         aria-labelledby="tracking-faq-accordion-1140-heading" data-id="1140"
                                         data-parent="#tracking-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut
                                                interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut
                                                elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc
                                                lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc
                                                eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus.
                                                Sed laoreet augue sit amet mauris fringilla, non sodales sem
                                                sagittis.</p>
                                        </div>

                                    </div>
                                </div>
                                <input type="hidden" class="list-items-loader" data-limit="4" data-page="2"
                                       data-args="YToyOntzOjExOiJwb3N0X3N0YXR1cyI7czo3OiJwdWJsaXNoIjtzOjk6InRheF9xdWVyeSI7YToxOntpOjA7YTozOntzOjg6InRheG9ub215IjtzOjEyOiJmYXFfY2F0ZWdvcnkiO3M6NToiZmllbGQiO3M6NDoic2x1ZyI7czo1OiJ0ZXJtcyI7czo4OiJ0cmFja2luZyI7fX19"
                                       data-template-args="YToxOntzOjEyOiJhY2NvcmRpb25faWQiO3M6MjI6InRyYWNraW5nLWZhcS1hY2NvcmRpb24iO30=">
                            </div>

                            <button class="btn btn-primary btn-load-more">Load More</button>
                        </div>


                        <div class="faq-category-block">
                            <a class="page-anchor" name="technology"></a>

                            <h2 class="h2 category-block-title">Technology</h2>

                            <div class="accordion faq-accordion" id="technology-faq-accordion">


                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="technology-faq-accordion-1217-heading">

                                        <div class="accordion-title">Nulla tempor ex eget sapien dignissim suscipit ut
                                            ac ante?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#technology-faq-accordion-1217-collapse"
                                                aria-expanded="false"
                                                aria-controls="technology-faq-accordion-1217-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="technology-faq-accordion-1217-collapse" class="collapse"
                                         aria-labelledby="technology-faq-accordion-1217-heading" data-id="1217"
                                         data-parent="#technology-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="technology-faq-accordion-1162-heading">

                                        <div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#technology-faq-accordion-1162-collapse"
                                                aria-expanded="false"
                                                aria-controls="technology-faq-accordion-1162-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="technology-faq-accordion-1162-collapse" class="collapse"
                                         aria-labelledby="technology-faq-accordion-1162-heading" data-id="1162"
                                         data-parent="#technology-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="technology-faq-accordion-1146-heading">

                                        <div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#technology-faq-accordion-1146-collapse"
                                                aria-expanded="false"
                                                aria-controls="technology-faq-accordion-1146-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="technology-faq-accordion-1146-collapse" class="collapse"
                                         aria-labelledby="technology-faq-accordion-1146-heading" data-id="1146"
                                         data-parent="#technology-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut
                                                interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut
                                                elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc
                                                lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc
                                                eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus.
                                                Sed laoreet augue sit amet mauris fringilla, non sodales sem
                                                sagittis.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="technology-faq-accordion-1142-heading">

                                        <div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#technology-faq-accordion-1142-collapse"
                                                aria-expanded="false"
                                                aria-controls="technology-faq-accordion-1142-collapse" tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="technology-faq-accordion-1142-collapse" class="collapse"
                                         aria-labelledby="technology-faq-accordion-1142-heading" data-id="1142"
                                         data-parent="#technology-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut
                                                interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut
                                                elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc
                                                lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc
                                                eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus.
                                                Sed laoreet augue sit amet mauris fringilla, non sodales sem
                                                sagittis.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="faq-category-block">
                            <a class="page-anchor" name="another-category"></a>

                            <h2 class="h2 category-block-title">Another Category</h2>

                            <div class="accordion faq-accordion" id="another-category-faq-accordion">


                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="another-category-faq-accordion-1143-heading">

                                        <div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#another-category-faq-accordion-1143-collapse"
                                                aria-expanded="false"
                                                aria-controls="another-category-faq-accordion-1143-collapse"
                                                tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="another-category-faq-accordion-1143-collapse" class="collapse"
                                         aria-labelledby="another-category-faq-accordion-1143-heading" data-id="1143"
                                         data-parent="#another-category-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="another-category-faq-accordion-1139-heading">

                                        <div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#another-category-faq-accordion-1139-collapse"
                                                aria-expanded="false"
                                                aria-controls="another-category-faq-accordion-1139-collapse"
                                                tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="another-category-faq-accordion-1139-collapse" class="collapse"
                                         aria-labelledby="another-category-faq-accordion-1139-heading" data-id="1139"
                                         data-parent="#another-category-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut
                                                interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut
                                                elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc
                                                lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc
                                                eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus.
                                                Sed laoreet augue sit amet mauris fringilla, non sodales sem
                                                sagittis.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card accordion-item-card">
                                    <div class="card-header collapsed" id="another-category-faq-accordion-1138-heading">

                                        <div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed"
                                                data-toggle="collapse"
                                                data-target="#another-category-faq-accordion-1138-collapse"
                                                aria-expanded="false"
                                                aria-controls="another-category-faq-accordion-1138-collapse"
                                                tabindex="0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="another-category-faq-accordion-1138-collapse" class="collapse"
                                         aria-labelledby="another-category-faq-accordion-1138-heading" data-id="1138"
                                         data-parent="#another-category-faq-accordion">

                                        <div class="card-body">
                                            <p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam,
                                                posuere aliquet tellus tristique id. Pellentesque habitant morbi
                                                tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Suspendisse vitae risus ac magna porta congue non at ex. Donec non
                                                gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque.
                                                Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla
                                                tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, per inceptos
                                                himenaeos.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>


        <section id="cta-block_5f6d48810d113"
                 class="orange-block cta-block icon-columns-cta select-posts text-dark no-bg-image">


            <div class="section-contents">
                <div class="container">


                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More </a>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More </a>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>


        <section id="footer-breadcrumbs" class="breadcrumbs">
            <!-- Bread Crumbs content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="yoast-breadcrumb"><span><span><a
                                href="http://staging.canpar.flywheelsites.com/support/">Support</a>  <span
                                class="breadcrumb_last"
                                aria-current="page">Frequently Asked Questions</span></span></span></p></div>
                </div>
            </div>
        </section>

    </div>

</main>

</body>