<!--      This is the Search Landing page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="search search-results tfi-site-canpar">


<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->
<!--      There is extra script on this page for the tab system.      -->


<!--      The example shown below is showing a search result page for the word "calculator"      -->


<main id="content" class="main">
    <div class="content-wrap content-search">

        <div class="container search-form-container">
            <div class="row">

                <div class="col-12">
                    <p class="h5">Search results for</p>
                    <form class="form-inline mt-2 mt-md-0 w-100" action="/" method="get" _lpchecked="1">
                        <input class="form-control w-100" type="text" name="s" id="search" value="lorem" placeholder="Search" aria-label="Search">
                        <button class="float-right" type="submit">Search</button>
                    </form>            </div>


                <div class="col-12">

                    <!-- Tabs -->
                    <ul class="nav search-filter-tabs" id="search-page-filter-tabs" role="tablist">

                        <!-- All posts tab -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All <div class="counter d-flex align-items-center"><span>29</span></div></a>
                        </li>

                        <!-- Other tabs -->

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="page-tab" data-toggle="tab" href="#pt_page" role="tab" aria-controls="contact" aria-selected="false">Pages <div class="counter d-flex align-items-center"><span>7</span></div></a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="support-tab" data-toggle="tab" href="#pt_support" role="tab" aria-controls="contact" aria-selected="false">Support <div class="counter d-flex align-items-center"><span>0</span></div></a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tools-tab" data-toggle="tab" href="#pt_tools" role="tab" aria-controls="contact" aria-selected="false">Tools <div class="counter d-flex align-items-center"><span>0</span></div></a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="news-tab" data-toggle="tab" href="#pt_news" role="tab" aria-controls="contact" aria-selected="false">News <div class="counter d-flex align-items-center"><span>0</span></div></a>
                        </li>

                    </ul>

                    <!-- Mobile Dropdown -->
                    <div class="form-group search-category-dropdown-menu-wrap">
                        <label for="search-category-dropdown-menu" class="sr-only">Search Categories</label>
                        <select class="custom-select" id="search-category-dropdown-menu">
                            <option value="#home">All ( 29 ) </option>
                            <option value="#pt_page">Pages ( 7 ) </option>
                            <option value="#pt_support">Support ( 0 ) </option>
                            <option value="#pt_tools">Tools ( 0 ) </option>
                            <option value="#pt_news">News ( 0 ) </option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="search-result-container">
            <div class="container">
                <div class="row">

                    <div class="col-12">

                        <!-- Tab Content -->
                        <div class="tab-content" id="search-page-filter-tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">

                                    <a href="http://staging.canpar.flywheelsites.com/?faq=lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-9" class="card-search col-12 pt_faq">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">FAQ</p>
                                                    <p class="h4 card-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</p>
                                                    <div class="card-text"><p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam, posuere aliquet tellus tristique id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae risus ac magna porta congue non at ex. Donec non gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque. Curabitur hendrerit orci id […]</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>

                                    <a href="http://staging.canpar.flywheelsites.com/block-library/" class="card-search col-12 pt_page">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Page</p>
                                                    <p class="h4 card-title">Block Library</p>
                                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>

                                    <a href="http://staging.canpar.flywheelsites.com/title-of-post-3/" class="card-search col-12 pt_post">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Post</p>
                                                    <p class="h4 card-title">Title of Post</p>
                                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor…</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>

                                    <a href="http://staging.canpar.flywheelsites.com/career/position-1/" class="card-search col-12 pt_career">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Career Opportunity</p>
                                                    <p class="h4 card-title">Title of Position</p>
                                                    <div class="card-text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro […]</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>

                                    <a href="http://staging.canpar.flywheelsites.com/alert/alert-4/" class="card-search col-12 pt_alert">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Alert</p>
                                                    <p class="h4 card-title">Alert 4</p>
                                                    <div class="card-text"><p>Start before today | End next year Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor […]</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>

                                </div>
                                <div class="no-results" style="display: none;">
                                    <div class="page-header">
                                        <p class="h3">No Results Found</p>
                                    </div>
                                    <div class="page-content">
                                        <p class="h6">Please try widening your search.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade active show" id="pt_page" role="tabpanel" aria-labelledby="page-tab">
                                <div class="row">
                                    <a href="http://staging.canpar.flywheelsites.com/block-library/" class="card-search col-12 pt_page">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Page</p>
                                                    <p class="h4 card-title">Block Library</p>
                                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="http://staging.canpar.flywheelsites.com/block-library/default-template/" class="card-search col-12 pt_page">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Page</p>
                                                    <p class="h4 card-title">Content</p>
                                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                                    </div>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="http://staging.canpar.flywheelsites.com/block-library/ctas/" class="card-search col-12 pt_page">
                                        <div class="card">
                                            <!-- Card Content -->
                                            <div class="card-body">
                                                <div class="card-content">
                                                    <p class="card-post-type">Page</p>
                                                    <p class="h4 card-title">CTA’s</p>

                                                </div>
                                                <div class="card-icon"></div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="no-results" style="display: none;">
                                    <div class="page-header">
                                        <p class="h3">No Results Found</p>
                                    </div>
                                    <div class="page-content">
                                        <p class="h6">Please try widening your search.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pt_support" role="tabpanel" aria-labelledby="support-tab">
                                <div class="row"></div>
                                <div class="no-results">
                                    <div class="page-header">
                                        <p class="h3">No Results Found</p>
                                    </div>
                                    <div class="page-content">
                                        <p class="h6">Please try widening your search.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="pt_tools" role="tabpanel" aria-labelledby="tools-tab">
                                <div class="row"></div>
                                <div class="no-results">
                                    <div class="page-header">
                                        <p class="h3">No Results Found</p>
                                    </div>
                                    <div class="page-content">
                                        <p class="h6">Please try widening your search.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="pt_news" role="tabpanel" aria-labelledby="news-tab">
                                <div class="row"></div>
                                <div class="no-results">
                                    <div class="page-header">
                                        <p class="h3">No Results Found</p>
                                    </div>
                                    <div class="page-content">
                                        <p class="h6">Please try widening your search.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</main>


<script>
	// Script to clone and move post types to the correct tab
	jQuery(function($) {


		$('.pt_page').clone().appendTo('#pt_page .row');
		var pt_page = $('#home .pt_page').length;
		$('#page-tab span').text(pt_page);
		$("option[value='#pt_page']").text($("option[value='#pt_page']").text() + " ( " + pt_page + " ) ");

		if ( pt_page > 0 ) {
			$('#pt_page .no-results').hide()
		}


		$('.pt_support').clone().appendTo('#pt_support .row');
		var pt_support = $('#home .pt_support').length;
		$('#support-tab span').text(pt_support);
		$("option[value='#pt_support']").text($("option[value='#pt_support']").text() + " ( " + pt_support + " ) ");

		if ( pt_support > 0 ) {
			$('#pt_support .no-results').hide()
		}


		$('.pt_tools').clone().appendTo('#pt_tools .row');
		var pt_tools = $('#home .pt_tools').length;
		$('#tools-tab span').text(pt_tools);
		$("option[value='#pt_tools']").text($("option[value='#pt_tools']").text() + " ( " + pt_tools + " ) ");

		if ( pt_tools > 0 ) {
			$('#pt_tools .no-results').hide()
		}


		$('.pt_news').clone().appendTo('#pt_news .row');
		var pt_news = $('#home .pt_news').length;
		$('#news-tab span').text(pt_news);
		$("option[value='#pt_news']").text($("option[value='#pt_news']").text() + " ( " + pt_news + " ) ");

		if ( pt_news > 0 ) {
			$('#pt_news .no-results').hide()
		}


		$('#home-tab span').text($('#home .card').length);
		$("option[value='#home']").text($("option[value='#home']").text() + " ( " + $('#home .card').length + " ) ");
	});

</script>

</body>