<!--
    This is the Shipping Landing page. Only content within the body class has been kept here, because all other content is the same throughout all pages.
    This page has no template specific elements.  It is built completely from the block library.
-->

<!--     When building this page be mindful of the body classes       -->
<body class="page page-parent tfi-site-canpar">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page">

        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">

                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Shipping</h1>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section id="cta-block_5f513ab3bf14f" class="orange-block cta-block full-width-cta select-posts 1 full-width-bg text-light align-right has-bg-color-image" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0678_Small-Extended-2.jpg')">

            <div class="bg-overlay"></div>

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card align-right">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-image-container no-image"></div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping in Canada</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h4>
                                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="http://staging.canpar.flywheelsites.com/shipping/shipping-in-canada/" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="cta-block_5f513b1fbf150" class="orange-block cta-block full-width-cta select-posts 1 full-width-bg text-light align-left has-bg-color-image" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/10/gettyimages-1182691534-2048x2048-Expanded_Web.jpg')">

            <div class="bg-overlay"></div>

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card align-left">
                                <div class="card-body">

                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">U.S. &amp; International</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h4>
                                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Icon -->
                                    <div class="card-image-container no-image"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="cta-block_5f627831150be" class="orange-block cta-block has-bg-color-image bg-color-light aligncenter image-text-block-cta select-posts text-dark align-left no-bg-image">

            <div class="section-contents">
                <div class="container">

                    <!-- Block title -->
                    <div class="row">
                        <div class="col block-title-wrap">
                            <h2 class="h2 block-title">Shipping Tools</h2>
                        </div>
                    </div>

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about Shipping Tool">
                                <div class="card align-left">
                                    <div class="card-body">

                                        <!-- Icon -->
                                        <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                        </div>
                                        <div class="card-content ">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">Shipping Tool</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link">Learn More</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="button-block_5f57a4fc645a9" class="orange-block button-block has-bg-color-image bg-color-light">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <a href="#" class="btn btn-primary" title="Learn More">View All Shipping Tools</a>

                    </div>
                </div>
            </div>

        </section>

        <section id="cta-block_5f57c62832f75" class="orange-block cta-block icon-columns-cta select-posts text-dark no-bg-image">

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Tools CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Delivery Options</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="testimonial-block_5f57c65c32f78" class="orange-block testimonial-block has-bg-color-image bg-color-light">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="testimonial-block_5f57c65c32f78_carousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="min-height: inherit;">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-12 testimonial-icon-container">
                                                <div class="testimonial-icon" style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                                <div class="card-body">
                                                    <p class="card-text content">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam.</p>	                                            <p class="card-text author">— Julia Smith, Lorem Ipsum</p>	                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <script>
				(function ($) {
					$(document).ready(function () {

						if ($('.testimonial-block').hasClass('alignright')) {
							$('.row.no-gutters').addClass('flex-row-reverse');
						}

						//Adding active classes to all sliders
						$(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
						$(".carousel-indicators > li:nth-child(1)").addClass("active");

					});
				})(jQuery);
            </script>
        </section>

    </div>

</main>

</body>