<!--
    This is the Shipping in Canada page.  It is an example of a child page of the top level menu item pages.
    Only content within the body class has been kept here, because all other content is the same throughout all pages.
    This page has no template specific elements.  It is built completely from the block library.
-->

<!--     When building this page be mindful of the body classes       -->
<body class="page page-child tfi-site-canpar">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page">

        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">

                        <div class="back-to-parent-link-column">
                            <a href="http://staging.canpar.flywheelsites.com/shipping/" class="back-to-parent-link">
                                Back to Shipping
                            </a>
                        </div>

                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Shipping in Canada</h1>
                        </div>

                        <div class="page-excerpt-column">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="featured-image" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0678_Small-Extended-2.jpg')"></div>

        </section>

        <section id="centered-content-block_5f8892d8692ef" class="orange-block centered-content-block aligncenter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                        <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="table-block-block_5f8892ba692ee" class="orange-block table-block-block">

            <!-- Block content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <table id="tablepress-2" class="tablepress tablepress-id-2">
                            <thead>
                                <tr class="row-1 odd">
                                    <th class="column-1">&nbsp;</th>
                                    <th class="column-2">Express</th>
                                    <th class="column-3">
                                        Select<br><small>SelectLetter</small>
                                    </th>
                                    <th class="column-4"><br><small>SelectPak</small></th>
                                    <th class="column-5"><br><small>SelectParcel</small></th>
                                    <th class="column-6">Ground</th>
                                </tr>
                            </thead>
                            <tbody class="row-hover">
                                <tr class="row-2 even">
                                    <td class="column-1">Great for</td>
                                    <td class="column-2">Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam.</td>
                                    <td class="column-3">Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam.</td>
                                    <td class="column-4">Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam.</td>
                                    <td class="column-5">Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam.</td>
                                    <td class="column-6">Lorem ipsum dolor sit amet, conset etur sadipscing elitr.</td>
                                </tr>
                                <tr class="row-3 odd">
                                    <td class="column-1">Destination</td>
                                    <td class="column-2">Across Canada</td>
                                    <td class="column-3">Within your region</td>
                                    <td colspan="2" class="column-4">Across Canada</td>
                                    <td class="column-6">Across Canada</td>
                                </tr>
                                <tr class="row-4 even">
                                    <td class="column-1">Shipping Speed</td>
                                    <td class="column-2">Guaranteed*</td>
                                    <td class="column-3">Next possible business day</td>
                                    <td colspan="2" class="column-4">Two business days*</td>
                                    <td class="column-6">Lorem ipsum sit dolor amet.</td>
                                </tr>
                                <tr class="row-5 odd">
                                    <td class="column-1">Specialized Services</td>
                                    <td colspan="5" class="column-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <a href="#">Specialized Services</a>.</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 table-small-text-container">
                        <div class="table-small-text">
                            <p>* Some restrictions may apply. See <a href="#">Terms and Conditions</a> for more information.</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="accordion-block_5f889ded692f0" class="orange-block accordion-block has-bg-color-image bg-color-light aligncenter">

            <!-- Block title -->
            <div class="container">
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Specialized Services</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="accordion-wrap">
                            <div class="accordion faq-accordion" id="accordion-block_5f889ded692f0-accordion">

                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-1-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-1-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-1-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-1-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-1-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-2-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-2-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-2-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-2-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-2-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-3-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-3-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-3-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-3-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-3-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-4-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-4-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-4-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-4-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-4-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-5-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-5-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-5-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-5-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-5-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="card">

                                    <div class="card-header collapsed" id="accordion-block_5f889ded692f0-accordion-6-heading">

                                        <div class="accordion-title">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr?
                                        </div>

                                        <button class="btn btn-icon btn-accordion-trigger collapsed" data-toggle="collapse" data-target="#accordion-block_5f889ded692f0-accordion-6-collapse" aria-expanded="false" aria-controls="accordion-block_5f889ded692f0-accordion-6-collapse" tabindex="0" aria-label="click to expand">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
                                                    <line x2="8" transform="translate(30 51.438)"></line>
                                                    <line x2="8" transform="translate(34 47.438) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                    </div>

                                    <div id="accordion-block_5f889ded692f0-accordion-6-collapse" class="collapse" aria-labelledby="accordion-block_5f889ded692f0-accordion-6-heading" data-parent="#accordion-block_5f889ded692f0-accordion">

                                        <div class="card-body">
                                            <p>Elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="testimonial-block_5f889e7c692f7" class="orange-block testimonial-block">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="testimonial-block_5f889e7c692f7_carousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="min-height: inherit;">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-12 testimonial-icon-container">
                                                <div class="testimonial-icon" style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Testimonial.svg');">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                                <div class="card-body">
                                                    <p class="card-text content">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam.</p>	                                            <p class="card-text author">— Jane Doe, Lorem Ipsum Consteteur</p>	                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
				(function ($) {
					$(document).ready(function () {

						if ($('.testimonial-block').hasClass('alignright')) {
							$('.row.no-gutters').addClass('flex-row-reverse');
						}

						//Adding active classes to all sliders
						$(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
						$(".carousel-indicators > li:nth-child(1)").addClass("active");

					});
				})(jQuery);
            </script>
        </section>

        <section id="cta-block_5f889e9a692f9" class="orange-block cta-block has-bg-color-image bg-color-light icon-columns-cta select-posts text-dark no-bg-image">

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Tools CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_BoxSecurity.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="footer-breadcrumbs" class="breadcrumbs">
            <!-- Bread Crumbs content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="yoast-breadcrumb"><span><span><a href="http://staging.canpar.flywheelsites.com/shipping/">Shipping</a>  <span class="breadcrumb_last" aria-current="page">Shipping in Canada</span></span></span></p>
                    </div>
                </div>
            </div>
        </section>

    </div>

</main>

</body>