<!--
	This is the site map template.  It lists all the links on the site, grouped by section
-->

<body class="page tfi-site-canpar page-site-map">

<main id="content" class="main">

	<div class="content-wrap content-page content-site-map">
		
		<section class="page-banner">

			<div class="page-title-excerpt-wrap">
				<div class="container">
					<div class="row">
						<div class="page-title-column">
							<h1 tabindex="0" class="page-title">Site Map</h1>
						</div>
					</div>
				</div>
			</div>
			
		</section>

		<section class="site-map-lists-section">

			<div class="container">
				<div class="row">
					
					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Shipping</li>
							<li>
								<a href="#">Shipping in Canada</a>
							</li>
							<li>
								<a href="#">U.S. &amp; International</a>
							</li>
							<li>
								Shipping Tools
								<ul class="list-unstyled">
									<li>
										<a href="#">Shipping Tools Overview</a>
									</li>
									<li>
										<a href="#">Pick Up on Demand</a>
									</li>
									<li>
										<a href="#">Transit Times</a>
									</li>
									<li>
										<a href="#">Rate Calculator</a>
									</li>
									<li>
										<a href="#">Rate Charts</a>
									</li>
									<li>
										<a href="#">Points Served</a>
									</li>
									<li>
										<a href="#">Collect Service</a>
									</li>
									<li>
										<a href="#">Return Service</a>
									</li>
									<li>
										<a href="#">Find a Location</a>
									</li>
									<li>
										<a href="#">Order Supplies</a>
									</li>
								</ul>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Tracking</li>
							<li>
								<a href="#">Track a Package</a>
							</li>
							<li>
								<a href="#">SMARTSpots</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Solutions</li>
							<li>
								<a href="#">Solutions Overview</a>
							</li>
							<li>
								<a href="#">Advance Ship Notice</a>
							</li>
							<li>
								<a href="#">Returns Solutions</a>
							</li>
							<li>
								<a href="#">Shipping Tools</a>
							</li>
							<li>
								<a href="#">Scanner Technology</a>
							</li>
							<li>
								<a href="#">Mobile Apps</a>
							</li>
							<li>
								<a href="#">E-Commerce Tools</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Support</li>
							<li>
								<a href="http://staging.canpar.flywheelsites.com/support/">Support Overview</a>
							</li>
							<li>
								<a href="http://staging.canpar.flywheelsites.com/support/faqs/">FAQs</a>
							</li>
							<li>
								<a href="#">How To Ship</a>
							</li>
							<li>
								<a href="#">How To Pack</a>
							</li>
							<li>
								<a href="#">Forms &amp; Downloads</a>
							</li>
							<li>
								<a href="http://staging.canpar.flywheelsites.com/support/service-alerts-updates/">Service Alerts &amp; Updates</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Terms of Use</a>
							</li>
							<li>
								<a href="#">Terms of Service</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Our Company</li>
							<li>
								<a href="#">About Canpar Express</a>
							</li>
							<li>
								<a href="#">Community &amp; Environment</a>
							</li>
							<li>
								<a href="http://staging.canpar.flywheelsites.com/careers/">Careers</a>
							</li>
							<li>
								<a href="#">Workplace Equity</a>
							</li>
							<li>
								<a href="#">Holiday Schedule</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Media Centre</li>
							<li>
								<a href="http://staging.canpar.flywheelsites.com/media-centre/">Media Centre</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Contact Us</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Provide Feedback</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">MyCanpar</li>
							<li>
								<a href="#">Become a Customer</a>
							</li>
							<li>
								<a href="#">Benefits of MyCanpar</a>
							</li>
							<li>
								<a href="#">Register for MyCanpar</a>
							</li>
							<li>
								<a href="#">Log in</a>
							</li>
						</ul>

					</div>

				</div>
			</div>

		</section>
	</div>

</main>

</body>