<!--      This is the Table Block. This table has been adapted from tablepress, which will explain to class usage.
          Not much more to say about this, it's just a table.
-->


<section id="table-block-block_5f57ea17fcb1e" class="orange-block table-block-block">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 block-title">Table</h2>
            </div>
        </div>
    </div>


    <!-- Block content -->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <table id="tablepress-1" class="tablepress tablepress-id-1">
                    <thead>
                    <tr class="row-1 odd">
                        <th class="column-1">&nbsp;</th>
                        <th class="column-2">Title</th>
                        <th class="column-3">Title</th>
                        <th class="column-4">Title</th>
                        <th class="column-5">Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row-2 even">
                        <td class="column-1">Content</td>
                        <td class="column-2">Content</td>
                        <td class="column-3">Content</td>
                        <td class="column-4">Content</td>
                        <td class="column-5">Content</td>
                    </tr>
                    <tr class="row-3 odd">
                        <td class="column-1">Lorem ipsum sit</td>
                        <td class="column-2">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-3">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-4">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-5">Lorem ipsum dolor sit amet, consetetur sad</td>
                    </tr>
                    <tr class="row-4 even">
                        <td class="column-1">Content</td>
                        <td class="column-2">Content</td>
                        <td class="column-3">Content</td>
                        <td class="column-4">Content</td>
                        <td class="column-5">Content</td>
                    </tr>
                    <tr class="row-5 odd">
                        <td class="column-1">Lorem ipsum sit</td>
                        <td class="column-2">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-3">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-4">Lorem ipsum dolor sit amet, consetetur sad</td>
                        <td class="column-5">Lorem ipsum dolor sit amet, consetetur sad</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-12 table-small-text-container">
                <div class="table-small-text">
                    <p>*&nbsp; certain restrictions apply. See <a href="#">Terms and Conditions</a> for more
                        information.</p>
                </div>
            </div>
        </div>

    </div>

</section>