<!--  This CTA follows the same overall flow as the Full width left and right cta. The main difference here is that it has an additional
  class on the block  .overhang.  This class will adjust the margin, padding and image within the block to make it overhang the previous block.
  This block also has two links, instead of the typical single link on most CTAs. You can also use this class with one link. If you want the links to look like buttons, they
  must have the .two-links class added to them
  -->



<section id="cta-block_5f3fe7973a4ba" class="orange-block cta-block full-width-cta select-posts text-dark align-left overhang no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card align-left">
                        <div class="card-body">
                            <div class="card-content has-image">
                                <!-- Title -->
                                <h3 class="h3 card-title">My Canpar CTA</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text"><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</h4>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link two-links" href="#registration-modal" target="_self" data-toggle="modal" data-target="#registration-modal">
                                            Register Now</a>
                                        <!-- Link -->
                                        <a class="card-link learn-more-link two-links" href="#" target="_self">
                                            Learn About The Benefits</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Icon -->
                            <div class="card-image-container has-image">
                                <div class="card-image">
                                    <img width="660" height="576" src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Portal-CTA_Placeholder_WithShadow@2x.png" class="attachment-large size-large" alt="" loading="lazy" srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Portal-CTA_Placeholder_WithShadow@2x.png 660w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Portal-CTA_Placeholder_WithShadow@2x-300x262.png 300w" sizes="(max-width: 660px) 100vw, 660px">                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>