<!--  There are two Full Width CTA's in this file. The first one will load an image on the left, and the second will load the image on the right
It is important to note the classes assigned to the first <section> tag for each block
The ID is not important for this block

-->


<!--  Image left aligned CTA -->
<section id="cta-block_5f3eda1a135a5"
         class="orange-block cta-block full-width-cta select-posts text-dark align-right no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card align-right">
                        <div class="card-body">
                            <!-- Icon -->
                            <div class="card-image-container has-image">
                                <div class="card-image">
                                    <img width="1024" height="683"
                                         src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1024x683.jpg"
                                         class="attachment-large size-large" alt="" loading="lazy"
                                         srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1024x683.jpg 1024w,
                                          http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-300x200.jpg 300w,
                                           http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-768x512.jpg 768w,
                                            http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1536x1025.jpg 1536w,
                                             http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-2048x1366.jpg 2048w"
                                         sizes="(max-width: 1024px) 100vw, 1024px"></div>
                            </div>
                            <div class="card-content has-image">
                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text">
                                        <h4>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                        </h4>
                                        <p>
                                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing.
                                        </p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link"
                                           href="http://staging.canpar.flywheelsites.com/" target="_self">
                                            Learn More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--  Image Right aligned CTA  -->
<section id="cta-block_5f7e66291a445"
         class="orange-block cta-block has-bg-color-image bg-color-light full-width-cta select-posts text-dark align-left no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card align-left">
                        <div class="card-body">
                            <div class="card-content has-image">
                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum dolor</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text">
                                        <h4>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                        </h4>
                                        <p>
                                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing.
                                        </p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link"
                                           href="http://staging.canpar.flywheelsites.com/" target="_self">
                                            Learn More </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Icon -->
                            <div class="card-image-container has-image">
                                <div class="card-image">
                                    <img width="1024" height="683"
                                         src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-1024x683.jpg"
                                         class="attachment-large size-large" alt="" loading="lazy"
                                         srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-1024x683.jpg 1024w,
                                          http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-300x200.jpg 300w,
                                           http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-768x512.jpg 768w,
                                            http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-1536x1024.jpg 1536w,
                                             http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0237_Small_Web-2048x1366.jpg 2048w"
                                         sizes="(max-width: 1024px) 100vw, 1024px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>