<!--  There are two Full Width CTA's in this file. The first one will load text on the right, and the second will load text on the left
It is important to note the classes assigned to the first <section> tag for each block
The ID is not important for this block

-->

<!--  Text aligned right  -->
<section id="cta-block_5f3eda4d135a8" class="orange-block cta-block has-bg-color-image bg-color-white full-width-cta
 select-posts full-width-bg text-light align-right"
         style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0133_Small-Extended@2x.png')">
    <div class="bg-overlay"></div>
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card align-right">
                        <div class="card-body">
                            <!-- Icon -->
                            <div class="card-image-container no-image">
                            </div>
                            <div class="card-content ">
                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum dolor</h3>

                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text"><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h4>
                                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link " href="http://staging.canpar.flywheelsites.com/" target="_self">
                                            Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--  Text aligned left  -->
<section id="cta-block_5f3eda66135a9" class="orange-block cta-block full-width-cta select-posts full-width-bg text-light align-left has-bg-color-image" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0770_Small-Extended_Web.jpg')">
    <div class="bg-overlay"></div>
    <div class="section-contents">
        <div class="container">
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <div class="card align-left">
                        <div class="card-body">
                            <div class="card-content ">
                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>
                                <div class="card-text-and-links">
                                    <!-- Description -->
                                    <div class="card-text">
                                        <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h4>
                                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                                    </div>
                                    <div class="card-link-container">
                                        <!-- Link -->
                                        <a class="card-link learn-more-link " href="http://staging.canpar.flywheelsites.com/" target="_self">
                                            Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Icon -->
                            <div class="card-image-container no-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>