<!--
    This is the Forms & Calculators Styleguide page.  It contains the HTML structure for every type of form field 
    needed to build a form or calculator.  The only code that's needed for each field is the code inside the form 
    tag in each section.  The .form-field-example-section, .container, .row and .section-title classes/elements are
    only here to structure the page and showcase each field.
-->

<body>

<main id="content" class="main">
    
    <!-- Page structure/presentation code - *Ignore* -->
    <div class="content-wrap content-page">
        
        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Text Field</h2>
    <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="text-field-example-name">Name</label>
                                    <input type="text" class="form-control" id="text-field-example-name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="text-field-example-email">Email</label>
                                    <input type="email" class="form-control" id="text-field-example-email">
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>
        
        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Text Area</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="textarea-field-example-message">Message</label>
                                    <textarea class="form-control" id="textarea-field-example-message" rows="3"></textarea>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->

                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Dropdown Field</h2>
        <!-- END Page structure/presentation code - *Ignore* -->

                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="dropdown-field-example-administrative-area">Province / State</label>
                                    <select class="form-control custom-select" id="dropdown-field-example-administrative-area">
                                        <option value=""></option>
                                        <optgroup label="Provinces">
                                            <option value="AB">Alberta</option>
                                            <option value="BC">British Columbia</option>
                                            <option value="MB">Manitoba</option>
                                            <option value="NB">New Brunswick</option>
                                            <option value="NL">Newfoundland and Labrador</option>
                                            <option value="NS">Nova Scotia</option>
                                            <option value="NT">Northwest Territories</option>
                                            <option value="NU">Nunavut</option>
                                            <option value="ON">Ontario</option>
                                            <option value="PE">Prince Edward Island</option>
                                            <option value="QC">Quebec</option>
                                            <option value="SK">Saskatchewan</option>
                                            <option value="YT">Yukon</option>
                                        </optgroup>
                                        <optgroup label="States">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Radio Buttons</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radio-btns" id="radio-buttons-example-1" value="option-1" checked="">
                                        <label class="custom-control-label" for="radio-buttons-example-1">Option 1</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radio-btns" id="radio-buttons-example-2" value="option-2">
                                        <label class="custom-control-label" for="radio-buttons-example-2">Option 2</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radio-btns" id="radio-buttons-example-3" value="option-3">
                                        <label class="custom-control-label" for="radio-buttons-example-3">Option 3</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radio-btns" id="radio-buttons-example-4" value="option-4">
                                        <label class="custom-control-label" for="radio-buttons-example-4">Option 4</label>
                                    </div>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Checkboxes</h2>
        <!-- END Page structure/presentation code - *Ignore* -->

                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkboxes[]" id="checkboxes-example-1" value="option-1" checked="">
                                        <label class="custom-control-label" for="checkboxes-example-1">Option 1</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkboxes[]" id="checkboxes-example-2" value="option-2">
                                        <label class="custom-control-label" for="checkboxes-example-2">Option 2</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkboxes[]" id="checkboxes-example-3" value="option-3">
                                        <label class="custom-control-label" for="checkboxes-example-3">Option 3</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkboxes[]" id="checkboxes-example-4" value="option-4">
                                        <label class="custom-control-label" for="checkboxes-example-4">Option 4</label>
                                    </div>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Field with Sub-field Titles</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form section code -->
                            <fieldset>
                                <legend>Name</legend>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-first-name">First Name</label>
                                        <input type="text" class="form-control" id="sub-field-example-first-name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-last-name">Last Name</label>
                                        <input type="text" class="form-control" id="sub-field-example-last-name">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Address</legend>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="sub-field-example-address-line-1">Street Address</label>
                                        <input type="text" class="form-control" id="sub-field-example-address-line-1">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="sub-field-example-address-line-2">Street Address Line 2</label>
                                        <input type="text" class="form-control" id="sub-field-example-address-line-2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-country">Country</label>
                                        <select class="form-control custom-select" id="sub-field-example-country">
                                            <option value="CA">Canada</option>
                                            <option value="US">United States</option>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Åland Islands</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia, Plurinational State of</option>
                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="BN">Brunei Darussalam</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CD">Congo, the Democratic Republic of the</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Côte d'Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CW">Curaçao</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GG">Guernsey</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard Island and McDonald Islands</option>
                                            <option value="VA">Holy See (Vatican City State)</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran, Islamic Republic of</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IM">Isle of Man</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JE">Jersey</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KP">Korea, Democratic People's Republic of</option>
                                            <option value="KR">Korea, Republic of</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Lao People's Democratic Republic</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macao</option>
                                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia, Federated States of</option>
                                            <option value="MD">Moldova, Republic of</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PS">Palestinian Territory, Occupied</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Réunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russian Federation</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="BL">Saint Barthélemy</option>
                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="MF">Saint Martin (French part)</option>
                                            <option value="PM">Saint Pierre and Miquelon</option>
                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="ST">Sao Tome and Principe</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                            <option value="SS">South Sudan</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syrian Arab Republic</option>
                                            <option value="TW">Taiwan, Province of China</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania, United Republic of</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TL">Timor-Leste</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                            <option value="VN">Viet Nam</option>
                                            <option value="VG">Virgin Islands, British</option>
                                            <option value="VI">Virgin Islands, U.S.</option>
                                            <option value="WF">Wallis and Futuna</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-administrative-area">Province / State</label>
                                        <select class="form-control custom-select" id="sub-field-example-administrative-area">
                                            <option value=""></option>
                                            <optgroup label="Provinces">
                                                <option value="AB">Alberta</option>
                                                <option value="BC">British Columbia</option>
                                                <option value="MB">Manitoba</option>
                                                <option value="NB">New Brunswick</option>
                                                <option value="NL">Newfoundland and Labrador</option>
                                                <option value="NS">Nova Scotia</option>
                                                <option value="NT">Northwest Territories</option>
                                                <option value="NU">Nunavut</option>
                                                <option value="ON">Ontario</option>
                                                <option value="PE">Prince Edward Island</option>
                                                <option value="QC">Quebec</option>
                                                <option value="SK">Saskatchewan</option>
                                                <option value="YT">Yukon</option>
                                            </optgroup>
                                            <optgroup label="States">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-locality-name">City</label>
                                        <input type="text" class="form-control" id="sub-field-example-locality-name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="sub-field-example-postal-code">ZIP / Postal Code</label>
                                        <input type="text" class="form-control" id="sub-field-example-postal-code">
                                    </div>
                                </div>
                            </fieldset>
                            <!-- END Relevant form section code -->
                            
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Date Picker</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col-md-6 form-group datepicker-field">
                                    <label for="date-picker-example">Date</label>
                                    <input type="text" class="form-control date-picker-input hasDatepicker" id="date-picker-example">
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">File Upload Field</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file-upload-field-example">
                                        <label class="custom-file-label" for="file-upload-field-example" data-browse="Choose File">
                                            <span>No File Chosen</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Field with Small Button</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="field-with-button-example-receiver-id">Receiver ID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="field-with-button-example-receiver-id">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-primary">Retrieve</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Table-Style Fields</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form section code -->
                            <table class="form-fields-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="fields-table-example-weight-label">Weight</th>
                                        <th id="fields-table-example-length-label">Length</th>
                                        <th id="fields-table-example-width-label">Width</th>
                                        <th id="fields-table-example-height-label">Height</th>
                                        <th class="checkbox-column" id="fields-table-example-envelope-label">Envelope</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-weight-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-length-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-width-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-height-label"></td>
                                        <td class="checkbox-column">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="envelope-check-1">
                                                <label class="custom-control-label" for="envelope-check-1"><span class="sr-only">Envelope</span></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>2</th>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-weight-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-length-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-width-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-height-label"></td>
                                        <td class="checkbox-column">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="envelope-check-2">
                                                <label class="custom-control-label" for="envelope-check-2"><span class="sr-only">Envelope</span></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>3</th>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-weight-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-length-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-width-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-height-label"></td>
                                        <td class="checkbox-column">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="envelope-check-3">
                                                <label class="custom-control-label" for="envelope-check-3"><span class="sr-only">Envelope</span></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>4</th>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-weight-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-length-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-width-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-height-label"></td>
                                        <td class="checkbox-column">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="envelope-check-4">
                                                <label class="custom-control-label" for="envelope-check-4"><span class="sr-only">Envelope</span></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>5</th>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-weight-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-length-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-width-label"></td>
                                        <td><input type="text" class="form-control" aria-labelledby="fields-table-example-height-label"></td>
                                        <td class="checkbox-column">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="envelope-check-5">
                                                <label class="custom-control-label" for="envelope-check-5"><span class="sr-only">Envelope</span></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- END Relevant form section code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Section Dividers</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form section code -->
                            <h3 class="form-section-title">First Field Group Title</h3>
                            <fieldset>
                                <legend>Name</legend>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="section-dividers-example-first-name">First Name</label>
                                        <input type="text" class="form-control" id="section-dividers-example-first-name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="section-dividers-example-last-name">Last Name</label>
                                        <input type="text" class="form-control" id="section-dividers-example-last-name">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="section-dividers-example-email">Email Address *</label>
                                    <input type="email" class="form-control" id="section-dividers-example-email" required="">
                                </div>
                            </div>
                            <h3 class="form-section-title">First Field Group Title</h3>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="section-dividers-example-message">Message</label>
                                    <textarea class="form-control" id="section-dividers-example-message" rows="3"></textarea>
                                </div>
                            </div>
                            <!-- END Relevant form section code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section multistep-form-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Section Tabs</h2>
        <!-- END Page structure/presentation code - *Ignore* -->

                        <!-- Relevant form section code -->
                        <ul class="nav nav-tabs multistep-form-tabs" id="multistep-form-tabs-example" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pickup-details-step-tab" href="#pickup-details-step-content" data-toggle="tab" role="tab" aria-controls="pickup-details-step-content" aria-selected="false">
                                    <span class="tab-step-num">1</span>
                                    <span class="tab-title">Pick-Up Details</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="shipment-details-step-tab" href="#shipment-details-step-content" data-toggle="tab" role="tab" aria-controls="shipment-details-step-content" aria-selected="true">
                                    <span class="tab-step-num">2</span>
                                    <span class="tab-title">Shipment Details</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="review-step-tab" href="#review-step-content" data-toggle="tab" role="tab" aria-controls="review-step-content" aria-selected="false">
                                    <span class="tab-step-num">3</span>
                                    <span class="tab-title">Review &amp; Confirm</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="confirmation-step-tab" href="#confirmation-step-content" data-toggle="tab" role="tab" aria-controls="confirmation-step-content" aria-selected="false">
                                    <span class="tab-step-num">4</span>
                                    <span class="tab-title">Confirmation</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content multistep-form-step-content">
                            <form>
                            <!-- Relevant form field code -->
                                <div class="tab-pane" id="pickup-details-step-content" role="tabpanel" aria-labelledby="pickup-details-step-tab">
                                    <fieldset>


                                    </fieldset>
                                </div>
                                <div class="tab-pane active" id="shipment-details-step-content" role="tabpanel" aria-labelledby="pickup-details-step-tab">
                                    <fieldset>


                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="review-step-content" role="tabpanel" aria-labelledby="review-step-tab">
                                    <fieldset>


                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="confirmation-step-content" role="tabpanel" aria-labelledby="confirmation-step-tab">
                                    <fieldset>


                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <!-- END Relevant form section code -->

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Tooltip</h2>
        <!-- END Page structure/presentation code - *Ignore* -->
                        
                        <form>
                            <!-- Relevant form field code -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="tooltip-example-unit-type">
                                        Unit of Measure
                                        <a href="#" class="form-tooltip" title="" data-toggle="tooltip" data-original-title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr.">?</a>
                                    </label>
                                    <select class="form-control custom-select" id="tooltip-example-unit-type">
                                        <option value=""></option>
                                        <option value="imperial">Imperial</option>
                                        <option value="metric">Metric</option>
                                    </select>
                                </div>
                            </div>
                            <!-- END Relevant form field code -->
                        </form>

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>

        <section class="form-field-example-section">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h2 class="section-title">Progress Bar</h2>
        <!-- END Page structure/presentation code - *Ignore* -->

                        <!-- Relevant form element code -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 33.33%" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100">In Transit</div>
                        </div>
                        <!-- END Relevant form element code -->

        <!-- Page structure/presentation code - *Ignore* -->
                    </div>
                </div>
            </div>

        </section>
        <!-- END Page structure/presentation code - *Ignore* -->
        
    </div>

</main>

</body>