<!--      This is the Media Post page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="single single-post tfi-site-loomis">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-single content-media-centre content-media-centre-post">


        <article
                class="post-911 post type-post status-publish format-standard has-post-thumbnail hentry category-testing-category">

            <header>
                <div class="container">
                    <div class="row">
                        <div class="single-post-header-column">

                            <a href="http://staging.loomisexpress.flywheelsites.com/media-centre/"
                               class="back-to-parent-link">
                                Back to Media Centre </a>

                            <h1 tabindex="0" class="post-title entry-title">Title of Post</h1>

                            <p class="h6 post-meta career-opportunity-location">
                                <time datetime="2020-09-16T00:47:06+00:00">
                                    September 16, 2020
                                </time>
                                <span class="post-category">Testing Category</span>
                            </p>

                        </div>
                    </div>
                </div>

            </header>

            <div class="post-featured-image"
                 style="background-image: url('http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0331_Small_Web.jpg')"></div>

            <div class="entry-content post-content">

                <div class="container">
                    <div class="row">

                        <div class="social-sharing-btns-column">

                            <div class="social-sharing-btns">
                                <ul class="list-unstyled">
                                    <li class="list-heading">Share</li>
                                    <li>
                                        <a href="https://www.facebook.com/sharer.php?u=http://staging.loomisexpress.flywheelsites.com/title-of-post/"
                                           class="btn btn-icon btn-social-sharing social-icon-facebook" target="_blank"
                                           aria-label="Facebook">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 274.22 512">
                                                <path fill="currentColor"
                                                      d="M279.14,288l14.22-92.66H204.45V135.21c0-25.35,12.42-50.06,52.24-50.06h40.42V6.26S260.43,0,225.36,0C152.14,0,104.28,44.38,104.28,124.72v70.62H22.89V288h81.39V512H204.45V288Z"
                                                      transform="translate(-22.89)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com/share?text=Title of Post&amp;url=http://staging.loomisexpress.flywheelsites.com/title-of-post/&amp;via=TFI"
                                           class="btn btn-icon btn-social-sharing social-icon-twitter" target="_blank"
                                           aria-label="Twitter">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 415.84">
                                                <path fill="currentColor"
                                                      d="M459.37,151.72c.33,4.54.33,9.09.33,13.64,0,138.72-105.59,298.56-298.56,298.56A296.51,296.51,0,0,1,0,416.81a215.83,215.83,0,0,0,25.34,1.3,210.15,210.15,0,0,0,130.27-44.83A105.12,105.12,0,0,1,57.5,300.51a132.94,132.94,0,0,0,19.82,1.62,111.09,111.09,0,0,0,27.61-3.57,105,105,0,0,1-84.14-103v-1.29a105.67,105.67,0,0,0,47.43,13.31A105.07,105.07,0,0,1,35.74,67.25,298.28,298.28,0,0,0,252.1,177.06a118.78,118.78,0,0,1-2.6-24,105,105,0,0,1,181.6-71.8,206.58,206.58,0,0,0,66.6-25.34,104.61,104.61,0,0,1-46.13,57.83A210.61,210.61,0,0,0,512,97.46a225.62,225.62,0,0,1-52.63,54.26Z"
                                                      transform="translate(0 -48.08)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://staging.loomisexpress.flywheelsites.com/title-of-post/&amp;title=Title of Post&amp;summary="
                                           class="btn btn-icon btn-social-sharing social-icon-linkedin" target="_blank"
                                           aria-label="LinkedIn">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 447.98">
                                                <path fill="currentColor"
                                                      d="M100.28,448H7.4V148.9h92.88ZM53.79,108.1C24.09,108.1,0,83.5,0,53.8a53.79,53.79,0,0,1,107.58,0C107.58,83.5,83.48,108.1,53.79,108.1ZM447.9,448H355.22V302.4c0-34.7-.7-79.2-48.29-79.2-48.29,0-55.69,37.7-55.69,76.7V448H158.46V148.9h89.08v40.8h1.3c12.4-23.5,42.69-48.3,87.88-48.3,94,0,111.28,61.9,111.28,142.3V448Z"
                                                      transform="translate(0 -0.02)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-post-content-column">

                            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat.</h3>


                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>


                            <ul>
                                <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                                <li>Sed diam nonumy eirmod tempor invidunt ut</li>
                                <li>Labore et dolore magna aliquyam erat</li>
                                <li>Sed diam voluptua</li>
                            </ul>


                            <figure class="wp-block-image size-full"><img loading="lazy"
                                                                          src="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web.jpg"
                                                                          alt="" class="wp-image-1148"
                                                                          srcset="http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web.jpg 1600w, http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web-300x150.jpg 300w, http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web-1024x512.jpg 1024w, http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web-768x384.jpg 768w, http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0288_Small@2x_Web-1536x768.jpg 1536w"
                                                                          sizes="(max-width: 1600px) 100vw, 1600px"
                                                                          width="1600" height="800"></figure>


                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua.</p>


                            <ol>
                                <li>Lorem ipsum sit dolor</li>
                                <li>Stet clita kasd gubergren, no sea takimata</li>
                                <li>At vero eos et accusam et justo duo dolores et ea rebum</li>
                            </ol>


                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam.</p>


                            <!--              Posts allow for other blocks to be added underneath the main content, as seen this video block              -->
                            <section id="video-block_5f740215bd22f" class="orange-block video-block">
                                <!-- Block content -->
                                <div class="container video-container">
                                    <a href="#" class="video-thumbnail-link" data-toggle="modal"
                                       data-target="#video-modal-container-video-block_5f740215bd22f"
                                       style="background-image:url('http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0405_Small_Web.jpg')">

                                        <div class="video-overlay bg-overlay">
                                            <div class="play-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12"
                                                     viewBox="0 0 22.56 27.12">
                                                    <path id="Path_178" data-name="Path 178"
                                                          d="M0,0,22.56,13.56,0,27.12Z" fill="#101c2a"></path>
                                                </svg>

                                            </div>
                                        </div>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade video-modal"
                                         id="video-modal-container-video-block_5f740215bd22f" tabindex="-1"
                                         role="dialog" aria-hidden="true">

                                        <button type="button" class="btn btn-icon btn-close" data-dismiss="modal"
                                                aria-label="Close">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                                <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                   stroke-width="1.5" transform="translate(4.644 -3.584) rotate(45)">
                                                    <line x2="11.636" transform="translate(0 5.818)"></line>
                                                    <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                                                </g>
                                            </svg>
                                        </button>

                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                                                        <iframe src="https://www.youtube.com/embed/G1IbRujko-A"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                allowfullscreen="" width="949" height="534"
                                                                frameborder="0"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>

            <footer>
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-4 pagination-col post-pagination-column post-pagination-column-previous">
                            <a href="http://staging.loomisexpress.flywheelsites.com/title-of-post-2/"
                               class="arrow-link">Previous Post</a>
                        </div>

                        <div class="col-12 col-md-4 pagination-col footer-post-meta-column">
                            <p class="h6 post-meta career-opportunity-location">
                                <time datetime="2020-09-16T00:47:06+00:00">
                                    September 16, 2020
                                </time>
                                <span class="post-category">Testing Category</span>
                            </p>
                        </div>

                        <div class="col-12 col-md-4 pagination-col post-pagination-column post-pagination-column-next">
                        </div>

                    </div>
                </div>
            </footer>

        </article>


    </div>

</main>

</body>