<!--
	This is the site map template.  It lists all the links on the site, grouped by section
-->

<body class="page tfi-site-loomis page-site-map">

<main id="content" class="main">

	<div class="content-wrap content-page content-site-map">

		<section class="page-banner">

			<div class="page-title-excerpt-wrap">
				<div class="container">
					<div class="row">
						<div class="page-title-column">
							<h1 tabindex="0" class="page-title">Site Map</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="featured-image" style="background-image: url('http://staging.loomisexpress.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0123_Small_Web-1.jpg')"></div>

		</section>

		<section class="site-map-lists-section">

			<div class="container">
				<div class="row">

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">

							<li class="site-map-list-heading">Shipping</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-in-canada/">Shipping in Canada</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/shipping/u-s-international/">U.S. &amp; International</a>
							</li>
							<li>
								Shipping Tools
								<ul class="list-unstyled">
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/prepare-a-shipment/">Prepare a Shipment</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/collectship/">CollectShip</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/find-a-location/">Find a Drop-Off Location</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/schedule-a-pickup/">Schedule a Pickup</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/e-returns/">E-Returns</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/transit-times/">Transit Times</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/track-your-shipment/">Track Your Shipment</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/manual-waybill-search/">Manual Waybill Search</a>
									</li>
									<li>
										<a href="http://staging.loomisexpress.flywheelsites.com/shipping/shipping-tools/order-shipping-supplies/">Order Shipping Supplies</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Tracking</li>
							<li>
								<a href="#">Tracking</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Billing</li>
							<li>
								<a href="#">Billing</a>
							</li>
						</ul>

					</div>


					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Support</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/">Overview</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/faqs/">Frequently Asked Questions</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/how-to-ship/">How to Ship</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/how-to-pack/">How to Pack</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/rates-and-zones/">Rates &amp; Zones</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/forms-downloads/">Forms &amp; Downloads</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/support/service-alerts-updates/">Service Alerts &amp; Updates</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/terms-conditions/">Terms &amp; Conditions</a>
							</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/privacy-policy/">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Terms of Use</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">About</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/about-loomis-express/">About Loomis Express</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Careers</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/careers/">Careers</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Contact Us</li>
							<li>
								<a href="http://staging.loomisexpress.flywheelsites.com/contact-us/">Contact Us</a>
							</li>
						</ul>

					</div>

					<div class="site-map-list-column">

						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">My Loomis</li>
							<li>
								<a href="#">Become a Customer</a>
							</li>
							<li>
								<a href="#">Benefits</a>
							</li>
							<li>
								<a href="#">Register</a>
							</li>
							<li>
								<a href="#">Log In</a>
							</li>

						</ul>

					</div>

				</div>
			</div>

		</section>
	</div>

</main>

</body>