<!--  This is the Image links block. It will show a large image, that has a neat little hover animation.
Each image is a link to wherever you want.

Current this layout has only 2 images, but will accept up to three. In the anchor that wraps each image, there is a class
that defines key styles to the layout, so be mindful that if there is 3 images, the .has-2-items class must be turned into .has-3-items

-->


<section id="image-link-block_5f6277da150ba" class="orange-block image-link-block">
    <div class="image-row-container container">
        <div class="images-wrap row">
            <a href="#" class="single-image-link-block has-2-items" style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0867_Small@2x-1024x692.png')">
                <h3 class="h3 image-text">CTA Title Goes Here</h3>
                <div class="learn-more-link-container">
                    <p class="learn-more-link arrow-link">
                        Learn More
                    </p>
                </div>
                <div class="overlay"></div>
            </a>
            <a href="#" class="single-image-link-block has-2-items" style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/gettyimages-1151197895-2048x2048@2x-1024x685.png')">
                <h3 class="h3 image-text">CTA Title Goes Here</h3>
                <div class="learn-more-link-container">
                    <p class="learn-more-link arrow-link">
                        Learn More
                    </p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
    </div>
</section>