<!--  This is the quick tracking block. This block is designed to be hooked into an API or whatever other means you decide.
It is designed to handle the curve above it as well.-->
<section id="quick-tracker-block_5f3fe6781300d" class="orange-block quick-tracker-block">
    <!-- Block content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="quick-tracker">
                    <div class="tracking-container">
                        <h3 class="h3">
                            Track
                        </h3>
                        <form class="tracking-form" id="tracking-form">
                            <!--            Aria labels will need to be added here                -->
                            <input class="form-input" type="text" id="barcode" name="barcode"
                                   placeholder="Enter your tracking barcode">
                            <input type="submit" value="Track" class="btn btn-primary track-button"
                                   aria-label="Track your package">
                        </form>
                        <a href="#" class="tracking-options-url secondary-link" aria-label="View more tracking options">
                            <p class="tracking-options ">Advanced Tracking</p>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>