<!--

	This is the quick tracking block for Loomis. This block is designed to be hooked into an API or whatever other means you decide.
	It is designed to handle the curve above it as well.

	It contains three tabs, one for each type of form (Pickup, Track, Quote)

-->

<section class="quick-tracker-loomis-block">

	<div class="quick-tracker-tabs-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<!-- Tab nav items -->
					<ul class="nav nav-tabs" id="quick-tracker-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="pickup-tab" data-toggle="tab" href="#pickup-content" role="tab"
							   aria-controls="pickup-content" aria-selected="true" disabled>
								<p class="h5">Pickup</p>
							</a>
						</li>
						<!-- .active class makes this tab active and open on page load -->
						<li class="nav-item">
							<a class="nav-link active" id="track-tab" data-toggle="tab" href="#track-content" role="tab"
							   aria-controls="track-content" aria-selected="false">
								<p class="h5">Track</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="quote-tab" data-toggle="tab" href="#quote-content" role="tab"
							   aria-controls="quote-content" aria-selected="false">
								<p class="h5">Quote</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Tab content -->
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="tab-content" id="quick-tracker-tabs-content">

					<!-- Pickup form tab -->
					<div class="tab-pane fade" id="pickup-content" role="tabpanel" aria-labelledby="pickup-tab">
						<h5>Pickup Information</h5>

						<!-- Pickup form -->
						<form class="pickup-form" action="#" id="pickup-form">

							<div class="form-row">
								<div class="col-12 col-md form-group">
									<label for="pickup-form-contact-name">Contact Name</label>
									<input type="text" class="form-control" id="pickup-form-contact-name">
								</div>
								<div class="col-12 col-md form-group">
									<label for="pickup-form-contact-phone-number">Contact Phone Number</label>
									<input type="text" class="form-control" id="pickup-form-contact-phone-number">
								</div>
								<div class="col-12 col-md form-group">
									<label for="pickup-form-company-name">Company Name</label>
									<input type="text" class="form-control" id="pickup-form-company-name">
								</div>
								<div class="col-12 col-md form-group">
									<label for="pickup-form-email-address">Email Address</label>
									<input type="email" class="form-control" id="pickup-form-email-address">
								</div>
							</div>

							<fieldset>
								<legend>Pick-Up Address</legend>
								<div class="form-row">
									<div class="col-12 col-md-5 form-group">
										<label for="pickup-form-address-line-1">Address 1</label>
										<input type="text" class="form-control" id="pickup-form-address-line-1">
									</div>
									<div class="col-12 col-md-5 form-group">
										<label for="pickup-form-address-line-2">Street Address Line 2</label>
										<input type="text" class="form-control" id="pickup-form-address-line-2">
									</div>
									<div class="col-12 col-md-2 form-group">
										<label for="pickup-form-postal-code">Postal / ZIP Code</label>
										<input type="text" class="form-control" id="pickup-form-postal-code">
									</div>
								</div>
								<div class="form-row">
									<div class="col-12 col-md form-group">
										<label for="pickup-form-locality-name">City</label>
										<input type="text" class="form-control" id="pickup-form-locality-name">
									</div>
									<div class="col-12 col-md form-group">
										<label for="pickup-form-administrative-area">Province / State</label>
										<select class="form-control custom-select" id="pickup-form-administrative-area">
											<optgroup label="Provinces">
												<option value="AB">Alberta</option>
												<option value="BC">British Columbia</option>
												<option value="MB">Manitoba</option>
												<option value="NB">New Brunswick</option>
												<option value="NL">Newfoundland and Labrador</option>
												<option value="NS">Nova Scotia</option>
												<option value="NT">Northwest Territories</option>
												<option value="NU">Nunavut</option>
												<option value="ON">Ontario</option>
												<option value="PE">Prince Edward Island</option>
												<option value="QC">Quebec</option>
												<option value="SK">Saskatchewan</option>
												<option value="YT">Yukon</option>
											</optgroup>
											<optgroup label="States">
												<option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
												<option value="CA">California</option>
												<option value="CO">Colorado</option>
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="DC">District Of Columbia</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="HI">Hawaii</option>
												<option value="ID">Idaho</option>
												<option value="IL">Illinois</option>
												<option value="IN">Indiana</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NV">Nevada</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NM">New Mexico</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="ND">North Dakota</option>
												<option value="OH">Ohio</option>
												<option value="OK">Oklahoma</option>
												<option value="OR">Oregon</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="SD">South Dakota</option>
												<option value="TN">Tennessee</option>
												<option value="TX">Texas</option>
												<option value="UT">Utah</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WA">Washington</option>
												<option value="WV">West Virginia</option>
												<option value="WI">Wisconsin</option>
												<option value="WY">Wyoming</option>
											</optgroup>
										</select>
									</div>
									<div class="col-12 col-md form-group">
										<label for="pickup-form-location">Location</label>
										<select class="form-control custom-select" id="pickup-form-location">
											<option value="Pickup (Office)">Pickup-Office</option>
											<option value="Pickup (Others)">Pickup-Other</option>
											<option value="Pickup (Reception)" selected>Pickup-Reception</option>
											<option value="Pickup (Shipping)">Pickup-Shipping</option>
										</select>
									</div>
								</div>
							</fieldset>

							<div class="form-row">
								<div class="col-12 submit-button-col">
									<button type="submit" class="btn btn-primary">Continue</button>
								</div>
							</div>

						</form>

					</div>

					<!-- Track form tab -->
					<!-- .show and .active classes make this tab the open tab on page load -->
					<div class="tab-pane fade show active" id="track-content" role="tabpanel" aria-labelledby="track-tab">

						<!-- Track form -->
						<form class="tracking-form" action="#" id="tracking-form">
							<div class="form-row">
								<div class="col form-group">
									<div class="custom-control custom-control-inline custom-radio">
										<input type="radio" class="custom-control-input" name="tracking-code-type" id="tracking-form-radio-waybill" value="1" checked>
										<label class="custom-control-label" for="tracking-form-radio-waybill">Waybill <small>(enter up to 25 waybill numbers)</small></label>
									</div>
									<div class="custom-control custom-control-inline custom-radio">
										<input type="radio" class="custom-control-input" name="tracking-code-type" id="tracking-form-radio-door-knocker" value="2">
										<label class="custom-control-label" for="tracking-form-radio-door-knocker">Door Knocker</label>
									</div>
									<div class="custom-control custom-control-inline custom-radio">
										<input type="radio" class="custom-control-input" name="tracking-code-type" id="tracking-form-radio-reference" value="3">
										<label class="custom-control-label" for="tracking-form-radio-reference">Reference</label>
									</div>
									<div class="custom-control custom-control-inline custom-radio">
										<input type="radio" class="custom-control-input" name="tracking-code-type" id="tracking-form-radio-return-auth-num" value="4">
										<label class="custom-control-label" for="tracking-form-radio-return-auth-num">Return Authorization Number</label>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col form-group">
									<label for="tracking-form-tracking-code" class="sr-only">Tracking Code</label>
									<div class="input-group">
										<input type="text" class="form-control" id="tracking-form-tracking-code">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">Track</button>
										</div>
									</div>
								</div>
							</div>
						</form>

					</div>

					<!-- Quote form tab -->
					<div class="tab-pane fade" id="quote-content" role="tabpanel" aria-labelledby="quote-tab">

						<!-- Quote form -->
						<form class="quote-form" action="#" id="quote-form">

							<div class="form-row">

								<div class="col-12 col-md-3">
									<fieldset>
										<legend>Ship From</legend>
										<div class="form-group">
											<label for="quote-form-ship-from-postal-code">Postal / ZIP Code</label>
											<input type="text" class="form-control" id="quote-form-ship-from-postal-code">
										</div>
									</fieldset>
								</div>

								<div class="col-12 col-md-9">
									<fieldset>
										<legend>Ship To</legend>
										<div class="form-row">
											<div class="col-12 col-md form-group">
												<label for="quote-form-ship-to-country">Country</label>
												<select class="form-control custom-select" id="quote-form-ship-to-country">
													<option value="CA">Canada</option>
													<option value="US">United States</option>
													<option value="AF">Afghanistan</option>
													<option value="AX">Åland Islands</option>
													<option value="AL">Albania</option>
													<option value="DZ">Algeria</option>
													<option value="AS">American Samoa</option>
													<option value="AD">Andorra</option>
													<option value="AO">Angola</option>
													<option value="AI">Anguilla</option>
													<option value="AQ">Antarctica</option>
													<option value="AG">Antigua and Barbuda</option>
													<option value="AR">Argentina</option>
													<option value="AM">Armenia</option>
													<option value="AW">Aruba</option>
													<option value="AU">Australia</option>
													<option value="AT">Austria</option>
													<option value="AZ">Azerbaijan</option>
													<option value="BS">Bahamas</option>
													<option value="BH">Bahrain</option>
													<option value="BD">Bangladesh</option>
													<option value="BB">Barbados</option>
													<option value="BY">Belarus</option>
													<option value="BE">Belgium</option>
													<option value="BZ">Belize</option>
													<option value="BJ">Benin</option>
													<option value="BM">Bermuda</option>
													<option value="BT">Bhutan</option>
													<option value="BO">Bolivia, Plurinational State of</option>
													<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
													<option value="BA">Bosnia and Herzegovina</option>
													<option value="BW">Botswana</option>
													<option value="BV">Bouvet Island</option>
													<option value="BR">Brazil</option>
													<option value="IO">British Indian Ocean Territory</option>
													<option value="BN">Brunei Darussalam</option>
													<option value="BG">Bulgaria</option>
													<option value="BF">Burkina Faso</option>
													<option value="BI">Burundi</option>
													<option value="KH">Cambodia</option>
													<option value="CM">Cameroon</option>
													<option value="CV">Cape Verde</option>
													<option value="KY">Cayman Islands</option>
													<option value="CF">Central African Republic</option>
													<option value="TD">Chad</option>
													<option value="CL">Chile</option>
													<option value="CN">China</option>
													<option value="CX">Christmas Island</option>
													<option value="CC">Cocos (Keeling) Islands</option>
													<option value="CO">Colombia</option>
													<option value="KM">Comoros</option>
													<option value="CG">Congo</option>
													<option value="CD">Congo, the Democratic Republic of the</option>
													<option value="CK">Cook Islands</option>
													<option value="CR">Costa Rica</option>
													<option value="CI">Côte d&#8217;Ivoire</option>
													<option value="HR">Croatia</option>
													<option value="CU">Cuba</option>
													<option value="CW">Curaçao</option>
													<option value="CY">Cyprus</option>
													<option value="CZ">Czech Republic</option>
													<option value="DK">Denmark</option>
													<option value="DJ">Djibouti</option>
													<option value="DM">Dominica</option>
													<option value="DO">Dominican Republic</option>
													<option value="EC">Ecuador</option>
													<option value="EG">Egypt</option>
													<option value="SV">El Salvador</option>
													<option value="GQ">Equatorial Guinea</option>
													<option value="ER">Eritrea</option>
													<option value="EE">Estonia</option>
													<option value="ET">Ethiopia</option>
													<option value="FK">Falkland Islands (Malvinas)</option>
													<option value="FO">Faroe Islands</option>
													<option value="FJ">Fiji</option>
													<option value="FI">Finland</option>
													<option value="FR">France</option>
													<option value="GF">French Guiana</option>
													<option value="PF">French Polynesia</option>
													<option value="TF">French Southern Territories</option>
													<option value="GA">Gabon</option>
													<option value="GM">Gambia</option>
													<option value="GE">Georgia</option>
													<option value="DE">Germany</option>
													<option value="GH">Ghana</option>
													<option value="GI">Gibraltar</option>
													<option value="GR">Greece</option>
													<option value="GL">Greenland</option>
													<option value="GD">Grenada</option>
													<option value="GP">Guadeloupe</option>
													<option value="GU">Guam</option>
													<option value="GT">Guatemala</option>
													<option value="GG">Guernsey</option>
													<option value="GN">Guinea</option>
													<option value="GW">Guinea-Bissau</option>
													<option value="GY">Guyana</option>
													<option value="HT">Haiti</option>
													<option value="HM">Heard Island and McDonald Islands</option>
													<option value="VA">Holy See (Vatican City State)</option>
													<option value="HN">Honduras</option>
													<option value="HK">Hong Kong</option>
													<option value="HU">Hungary</option>
													<option value="IS">Iceland</option>
													<option value="IN">India</option>
													<option value="ID">Indonesia</option>
													<option value="IR">Iran, Islamic Republic of</option>
													<option value="IQ">Iraq</option>
													<option value="IE">Ireland</option>
													<option value="IM">Isle of Man</option>
													<option value="IL">Israel</option>
													<option value="IT">Italy</option>
													<option value="JM">Jamaica</option>
													<option value="JP">Japan</option>
													<option value="JE">Jersey</option>
													<option value="JO">Jordan</option>
													<option value="KZ">Kazakhstan</option>
													<option value="KE">Kenya</option>
													<option value="KI">Kiribati</option>
													<option value="KP">Korea, Democratic People&#8217;s Republic of</option>
													<option value="KR">Korea, Republic of</option>
													<option value="KW">Kuwait</option>
													<option value="KG">Kyrgyzstan</option>
													<option value="LA">Lao People&#8217;s Democratic Republic</option>
													<option value="LV">Latvia</option>
													<option value="LB">Lebanon</option>
													<option value="LS">Lesotho</option>
													<option value="LR">Liberia</option>
													<option value="LY">Libya</option>
													<option value="LI">Liechtenstein</option>
													<option value="LT">Lithuania</option>
													<option value="LU">Luxembourg</option>
													<option value="MO">Macao</option>
													<option value="MK">Macedonia, the former Yugoslav Republic of</option>
													<option value="MG">Madagascar</option>
													<option value="MW">Malawi</option>
													<option value="MY">Malaysia</option>
													<option value="MV">Maldives</option>
													<option value="ML">Mali</option>
													<option value="MT">Malta</option>
													<option value="MH">Marshall Islands</option>
													<option value="MQ">Martinique</option>
													<option value="MR">Mauritania</option>
													<option value="MU">Mauritius</option>
													<option value="YT">Mayotte</option>
													<option value="MX">Mexico</option>
													<option value="FM">Micronesia, Federated States of</option>
													<option value="MD">Moldova, Republic of</option>
													<option value="MC">Monaco</option>
													<option value="MN">Mongolia</option>
													<option value="ME">Montenegro</option>
													<option value="MS">Montserrat</option>
													<option value="MA">Morocco</option>
													<option value="MZ">Mozambique</option>
													<option value="MM">Myanmar</option>
													<option value="NA">Namibia</option>
													<option value="NR">Nauru</option>
													<option value="NP">Nepal</option>
													<option value="NL">Netherlands</option>
													<option value="NC">New Caledonia</option>
													<option value="NZ">New Zealand</option>
													<option value="NI">Nicaragua</option>
													<option value="NE">Niger</option>
													<option value="NG">Nigeria</option>
													<option value="NU">Niue</option>
													<option value="NF">Norfolk Island</option>
													<option value="MP">Northern Mariana Islands</option>
													<option value="NO">Norway</option>
													<option value="OM">Oman</option>
													<option value="PK">Pakistan</option>
													<option value="PW">Palau</option>
													<option value="PS">Palestinian Territory, Occupied</option>
													<option value="PA">Panama</option>
													<option value="PG">Papua New Guinea</option>
													<option value="PY">Paraguay</option>
													<option value="PE">Peru</option>
													<option value="PH">Philippines</option>
													<option value="PN">Pitcairn</option>
													<option value="PL">Poland</option>
													<option value="PT">Portugal</option>
													<option value="PR">Puerto Rico</option>
													<option value="QA">Qatar</option>
													<option value="RE">Réunion</option>
													<option value="RO">Romania</option>
													<option value="RU">Russian Federation</option>
													<option value="RW">Rwanda</option>
													<option value="BL">Saint Barthélemy</option>
													<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
													<option value="KN">Saint Kitts and Nevis</option>
													<option value="LC">Saint Lucia</option>
													<option value="MF">Saint Martin (French part)</option>
													<option value="PM">Saint Pierre and Miquelon</option>
													<option value="VC">Saint Vincent and the Grenadines</option>
													<option value="WS">Samoa</option>
													<option value="SM">San Marino</option>
													<option value="ST">Sao Tome and Principe</option>
													<option value="SA">Saudi Arabia</option>
													<option value="SN">Senegal</option>
													<option value="RS">Serbia</option>
													<option value="SC">Seychelles</option>
													<option value="SL">Sierra Leone</option>
													<option value="SG">Singapore</option>
													<option value="SX">Sint Maarten (Dutch part)</option>
													<option value="SK">Slovakia</option>
													<option value="SI">Slovenia</option>
													<option value="SB">Solomon Islands</option>
													<option value="SO">Somalia</option>
													<option value="ZA">South Africa</option>
													<option value="GS">South Georgia and the South Sandwich Islands</option>
													<option value="SS">South Sudan</option>
													<option value="ES">Spain</option>
													<option value="LK">Sri Lanka</option>
													<option value="SD">Sudan</option>
													<option value="SR">Suriname</option>
													<option value="SJ">Svalbard and Jan Mayen</option>
													<option value="SZ">Swaziland</option>
													<option value="SE">Sweden</option>
													<option value="CH">Switzerland</option>
													<option value="SY">Syrian Arab Republic</option>
													<option value="TW">Taiwan, Province of China</option>
													<option value="TJ">Tajikistan</option>
													<option value="TZ">Tanzania, United Republic of</option>
													<option value="TH">Thailand</option>
													<option value="TL">Timor-Leste</option>
													<option value="TG">Togo</option>
													<option value="TK">Tokelau</option>
													<option value="TO">Tonga</option>
													<option value="TT">Trinidad and Tobago</option>
													<option value="TN">Tunisia</option>
													<option value="TR">Turkey</option>
													<option value="TM">Turkmenistan</option>
													<option value="TC">Turks and Caicos Islands</option>
													<option value="TV">Tuvalu</option>
													<option value="UG">Uganda</option>
													<option value="UA">Ukraine</option>
													<option value="AE">United Arab Emirates</option>
													<option value="GB">United Kingdom</option>
													<option value="UM">United States Minor Outlying Islands</option>
													<option value="UY">Uruguay</option>
													<option value="UZ">Uzbekistan</option>
													<option value="VU">Vanuatu</option>
													<option value="VE">Venezuela, Bolivarian Republic of</option>
													<option value="VN">Viet Nam</option>
													<option value="VG">Virgin Islands, British</option>
													<option value="VI">Virgin Islands, U.S.</option>
													<option value="WF">Wallis and Futuna</option>
													<option value="EH">Western Sahara</option>
													<option value="YE">Yemen</option>
													<option value="ZM">Zambia</option>
													<option value="ZW">Zimbabwe</option>
												</select>
											</div>
											<div class="col-12 col-md form-group">
												<label for="quote-form-ship-to-postal-code">Postal / ZIP Code</label>
												<input type="text" class="form-control" id="quote-form-ship-to-postal-code">
											</div>
											<div class="col-12 col-md form-group">
												<label for="quote-form-ship-to-administrative-area">Province / State</label>
												<select class="form-control custom-select" id="quote-form-ship-to-administrative-area">
													<optgroup label="Provinces">
														<option value="AB">Alberta</option>
														<option value="BC">British Columbia</option>
														<option value="MB">Manitoba</option>
														<option value="NB">New Brunswick</option>
														<option value="NL">Newfoundland and Labrador</option>
														<option value="NS">Nova Scotia</option>
														<option value="NT">Northwest Territories</option>
														<option value="NU">Nunavut</option>
														<option value="ON">Ontario</option>
														<option value="PE">Prince Edward Island</option>
														<option value="QC">Quebec</option>
														<option value="SK">Saskatchewan</option>
														<option value="YT">Yukon</option>
													</optgroup>
													<optgroup label="States">
														<option value="AL">Alabama</option>
														<option value="AK">Alaska</option>
														<option value="AZ">Arizona</option>
														<option value="AR">Arkansas</option>
														<option value="CA">California</option>
														<option value="CO">Colorado</option>
														<option value="CT">Connecticut</option>
														<option value="DE">Delaware</option>
														<option value="DC">District Of Columbia</option>
														<option value="FL">Florida</option>
														<option value="GA">Georgia</option>
														<option value="HI">Hawaii</option>
														<option value="ID">Idaho</option>
														<option value="IL">Illinois</option>
														<option value="IN">Indiana</option>
														<option value="IA">Iowa</option>
														<option value="KS">Kansas</option>
														<option value="KY">Kentucky</option>
														<option value="LA">Louisiana</option>
														<option value="ME">Maine</option>
														<option value="MD">Maryland</option>
														<option value="MA">Massachusetts</option>
														<option value="MI">Michigan</option>
														<option value="MN">Minnesota</option>
														<option value="MS">Mississippi</option>
														<option value="MO">Missouri</option>
														<option value="MT">Montana</option>
														<option value="NE">Nebraska</option>
														<option value="NV">Nevada</option>
														<option value="NH">New Hampshire</option>
														<option value="NJ">New Jersey</option>
														<option value="NM">New Mexico</option>
														<option value="NY">New York</option>
														<option value="NC">North Carolina</option>
														<option value="ND">North Dakota</option>
														<option value="OH">Ohio</option>
														<option value="OK">Oklahoma</option>
														<option value="OR">Oregon</option>
														<option value="PA">Pennsylvania</option>
														<option value="RI">Rhode Island</option>
														<option value="SC">South Carolina</option>
														<option value="SD">South Dakota</option>
														<option value="TN">Tennessee</option>
														<option value="TX">Texas</option>
														<option value="UT">Utah</option>
														<option value="VT">Vermont</option>
														<option value="VA">Virginia</option>
														<option value="WA">Washington</option>
														<option value="WV">West Virginia</option>
														<option value="WI">Wisconsin</option>
														<option value="WY">Wyoming</option>
													</optgroup>
												</select>
											</div>
										</div>
									</fieldset>
								</div>

							</div>

							<h5>Package Information</h5>

							<div class="form-row">

								<div class="col-12 col-md-3 form-group">
									<label for="quote-form-package-info-unit-type">Unit of Measure</label>
									<select class="form-control custom-select" id="quote-form-package-info-unit-type">
										<option value="imperial">Imperial</option>
										<option value="metric">Metric</option>
									</select>
								</div>

								<div class="col-12 col-md-9">
									<table class="form-fields-table">
										<thead>
											<tr>
												<th></th>
												<th id="quote-form-package-info-weight-label">Weight</th>
												<th id="quote-form-package-info-length-label">Length</th>
												<th id="quote-form-package-info-width-label">Width</th>
												<th id="quote-form-package-info-height-label">Height</th>
												<th class="checkbox-column" id="quote-form-package-info-envelope-label">Envelope</th>
												<th class="btn-column"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th><span>1</span></th>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-weight-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-length-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-width-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-height-label"></td>
												<td class="checkbox-column">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="quote-form-packing-info-envelope-check-1">
														<label class="custom-control-label" for="quote-form-packing-info-envelope-check-1"><span class="sr-only">Envelope</label>
													</div>
												</td>
												<td class="btn-column">
													<button type="button" class="btn btn-icon btn-add-row">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
															<g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
																<line x2="8" transform="translate(30 51.438)"/>
																<line x2="8" transform="translate(34 47.438) rotate(90)"/>
															</g>
														</svg>
													</button>
												</td>
											</tr>
											<!-- Example of second row for form field grid -->
											<!--<tr>
												<th><span>2</span></th>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-weight-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-length-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-width-label"></td>
												<td><input type="text" class="form-control" aria-labelledby="quote-form-package-info-height-label"></td>
												<td class="checkbox-column">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="quote-form-packing-info-envelope-check-2">
														<label class="custom-control-label" for="quote-form-packing-info-envelope-check-2"><span class="sr-only">Envelope</label>
													</div>
												</td>
												<td class="btn-column"></td>
											</tr>-->
										</tbody>
									</table>
								</div>

							</div>

							<div class="form-row">
								<div class="col-12 submit-button-col">
									<button type="submit" class="btn btn-primary">Continue</button>
								</div>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>

</section>
