<!--  This is the Post Quick View Block. This block will show 3 posts that are "featured" per se. The first one is recommended to be a Spotlight post
and can be identified by the .spotlight class added to the post preview div. The layout for these post previews are the same as in the
slick post slider block.

 -->


<section id="post-quick-view-block_5f40227c4088c"
         class="orange-block post-quick-view-block in-the-news-block has-bg-color-image bg-color-light">
    <!-- Block title -->
    <div class="container ">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h2 block-title">In the News</h2>
            </div>
            <div class="view-more-button-container col-lg-6">
                <a class="btn btn-primary" href="http://staging.canpar.flywheelsites.com/media-centre/">
                    Visit Media Centre
                </a>
            </div>
        </div>
    </div>
    <!-- Block content -->
    <div class="container posts-container">
        <div class="row posts-row">
            <div class="post-preview spotlight">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=362" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <p class="spotlight-text">spotlight</p>
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0609_Small_Web-Crop.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Aug, 21
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Another Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor.
                                </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-preview ">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=1427" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0394_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Sep, 30
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Testing Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor…
                                </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="post-preview ">
                <a href="http://staging.canpar.flywheelsites.com/?post_type=post&amp;p=1428" class="post-permalink"
                   aria-label="Visit this post: Title of Post">
                    <div class="post-inner-container">
                        <div class="post-image-container">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web.jpg"
                                 class="post-image" alt="Title of Post image. ">
                        </div>
                        <div class="post-content-container">
                            <div class="post-detail-container">
                                <p class="post-date">
                                    Sep, 30
                                </p>
                                <span class="detail-separator"> | </span>
                                <p class="post-category">
                                    Another Category
                                </p>
                            </div>
                            <h3 class="h3 post-title">
                                Title of Post
                            </h3>
                            <div class="post-excerpt-container">
                                <p class="post-excerpt">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor.
                                </p>
                            </div>
                            <span class="post-url">
                                Read News Post
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container button-container-mobile">
        <div class="row">
            <div class="view-more-button-container-mobile">
                <a class="btn btn-primary" href="http://staging.canpar.flywheelsites.com/media-centre/">
                    Visit Media Centre </a>
            </div>
        </div>
    </div>
</section>