
<!--

This example shows 4 buckets wrapped inside an accordion

While it is not important that the buckets have this specific ID, it is important that it is unique from other buckets on the page.
The JS at the bottom of this block is required to allow this to function properly.
First the bucket containers are rendered, and when clicked their corresponding outputs will be shown.

-->

<section id="buckets-block_5f7e4949c2726" class="orange-block buckets-block has-bg-color-image bg-color-white"
         data-blockid="buckets-block_5f7e4949c2726">

    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 block-title">Expandable Buckets</h2>
            </div>
        </div>
    </div>

    <!-- Block content -->
    <div class="container" id="bucketblock-buckets-block_5f7e4949c2726">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 bucket-col">
                <a class="card h-100" data-toggle="collapse" href="#bucketCardbuckets-block_5f7e4949c2726-0"
                   role="button" aria-expanded="false" aria-controls="bucketCardbuckets-block_5f7e4949c2726-0"
                   aria-label="Click to expand and read more about Bucket Title">
                    <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                            <p class="card-text align-self-start">Bucket Title</p>
                            <p class="learn-more-link">
                                Learn More </p>
                            <span class="ac-trigger align-self-end">
                            <svg class="fill-service" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.1 24.1"
                                 xml:space="preserve">
                                <path class="down-arrow fill-dark-color" d="M23.1,11.1H13.1V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v10.1H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h10.1v10.1c0,0.6,0.4,1,1,1
                                                            s1-0.4,1-1V13.1h10.1c0.6,0,1-0.4,1-1S23.7,11.1,23.1,11.1z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bucket-col">
                <a class="card h-100 collapsed" data-toggle="collapse" href="#bucketCardbuckets-block_5f7e4949c2726-1"
                   role="button" aria-expanded="false" aria-controls="bucketCardbuckets-block_5f7e4949c2726-1"
                   aria-label="Click to expand and read more about Second Bucket Title">
                    <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                            <p class="card-text align-self-start">Second Bucket Title</p>
                            <p class="learn-more-link">
                                Learn More </p>
                            <span class="ac-trigger align-self-end">
                            <svg class="fill-service" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.1 24.1"
                                 xml:space="preserve">
                                <path class="down-arrow fill-dark-color" d="M23.1,11.1H13.1V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v10.1H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h10.1v10.1c0,0.6,0.4,1,1,1
                                                            s1-0.4,1-1V13.1h10.1c0.6,0,1-0.4,1-1S23.7,11.1,23.1,11.1z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bucket-col">
                <a class="card h-100 collapsed" data-toggle="collapse" href="#bucketCardbuckets-block_5f7e4949c2726-2"
                   role="button" aria-expanded="false" aria-controls="bucketCardbuckets-block_5f7e4949c2726-2"
                   aria-label="Click to expand and read more about Third Bucket Title">
                    <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                            <p class="card-text align-self-start">Third Bucket Title</p>
                            <p class="learn-more-link">
                                Learn More </p>
                            <span class="ac-trigger align-self-end">
                            <svg class="fill-service" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.1 24.1"
                                 xml:space="preserve">
                                <path class="down-arrow fill-dark-color" d="M23.1,11.1H13.1V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v10.1H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h10.1v10.1c0,0.6,0.4,1,1,1
                                                            s1-0.4,1-1V13.1h10.1c0.6,0,1-0.4,1-1S23.7,11.1,23.1,11.1z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bucket-col">
                <a class="card h-100" data-toggle="collapse" href="#bucketCardbuckets-block_5f7e4949c2726-3"
                   role="button" aria-expanded="false" aria-controls="bucketCardbuckets-block_5f7e4949c2726-3"
                   aria-label="Click to expand and read more about Bucket Title Lorem Ipsum Sit Dolor">
                    <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                            <p class="card-text align-self-start">Bucket Title Lorem Ipsum Sit Dolor</p>
                            <p class="learn-more-link">
                                Learn More </p>
                            <span class="ac-trigger align-self-end">
                            <svg class="fill-service" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.1 24.1"
                                 xml:space="preserve">
                                <path class="down-arrow fill-dark-color" d="M23.1,11.1H13.1V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v10.1H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h10.1v10.1c0,0.6,0.4,1,1,1
                                                            s1-0.4,1-1V13.1h10.1c0.6,0,1-0.4,1-1S23.7,11.1,23.1,11.1z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="list-buckets-block_5f7e4949c2726" class="row">
            <div class="collapse col-buckets-block_5f7e4949c2726 col-12 fade"
                 id="bucketCardbuckets-block_5f7e4949c2726-0" data-parent="#bucketblock-buckets-block_5f7e4949c2726">
                <div class="card card-body px-0">
                    <div class="row">
                        <div class="col-9 title-col">
                            <h2>Bucket Title</h2>
                        </div>
                        <div class="col-3 close-col">
                            <button type="button" class="btn btn-icon btn-close" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                                       transform="translate(4.644 -3.584) rotate(45)">
                                        <line x2="11.636" transform="translate(0 5.818)"></line>
                                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor.</p>
                        </div>
                        <div class="col-12 col-lg-4 offset-lg-1 bucket-sidebar-content">
                            <ul>
                                <li>Invidunt ut labore et dolore magna aliquyam erat</li>
                                <li>Sed diam voluptua</li>
                                <li>At vero eos et accusam et justo duo dolores et ea rebum</li>
                                <li>Stet clita kasd gubergren, no sea takimata sanctus est</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-buckets-block_5f7e4949c2726 col-12 fade collapse"
                 id="bucketCardbuckets-block_5f7e4949c2726-1" data-parent="#bucketblock-buckets-block_5f7e4949c2726"
                 style="">
                <div class="card card-body px-0">
                    <div class="row">
                        <div class="col-9 title-col">
                            <h2>Second Bucket Title</h2>
                        </div>
                        <div class="col-3 close-col">
                            <button type="button" class="btn btn-icon btn-close" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                                       transform="translate(4.644 -3.584) rotate(45)">
                                        <line x2="11.636" transform="translate(0 5.818)"></line>
                                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-buckets-block_5f7e4949c2726 col-12 fade collapse"
                 id="bucketCardbuckets-block_5f7e4949c2726-2" data-parent="#bucketblock-buckets-block_5f7e4949c2726"
                 style="">
                <div class="card card-body px-0">
                    <div class="row">
                        <div class="col-9 title-col">
                            <h2>Third Bucket Title</h2>
                        </div>
                        <div class="col-3 close-col">
                            <button type="button" class="btn btn-icon btn-close" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                                       transform="translate(4.644 -3.584) rotate(45)">
                                        <line x2="11.636" transform="translate(0 5.818)"></line>
                                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor.</p>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse col-buckets-block_5f7e4949c2726 col-12 fade"
                 id="bucketCardbuckets-block_5f7e4949c2726-3" data-parent="#bucketblock-buckets-block_5f7e4949c2726">
                <div class="card card-body px-0">
                    <div class="row">
                        <div class="col-9 title-col">
                            <h2>Bucket Title Lorem Ipsum Sit Dolor</h2>
                        </div>
                        <div class="col-3 close-col">
                            <button type="button" class="btn btn-icon btn-close" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                                       transform="translate(4.644 -3.584) rotate(45)">
                                        <line x2="11.636" transform="translate(0 5.818)"></line>
                                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!--        The buckets have the option to have two inner containers. One of them is identified with a bucket-sidebar-content class
                                If the bucket does not have the second container, the first will span full width-->
                    <div class="row">
                        <div class="col-12 col-lg-7">s
                            <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor.</p>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                        </div>
                        <div class="col-12 col-lg-4 offset-lg-1 bucket-sidebar-content">
                            <ul>
                                <li>Invidunt ut labore et dolore magna aliquyam erat</li>
                                <li>Sed diam voluptua</li>
                                <li>At vero eos et accusam et justo duo dolores et ea rebum</li>
                                <li>Stet clita kasd gubergren, no sea takimata sanctus est</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(function ($) {
            var windowSize = $(window).width();
            if (windowSize >= 767) {
                //The id "block_5f7e4949c2726" is used in this example, but can change, as long as it's consistent with above
                $(".collapse.col-buckets-block_5f7e4949c2726").appendTo("#list-buckets-block_5f7e4949c2726");
            }

            $(".collapse .btn-close").click(function () {
                $('.collapse').collapse('hide')
            });
        });
    </script>

</section>