<!--  This is the quick links block. While it might seem like a lot of code here, most of it is taken up by the SVG's.
This block currently has 5 quick links but supports any number. We recommend using 3-5 links here, as that is what was designed-->


<div class="quick-links-container container-fluid">
    <div class="row">
        <a class="col single-quick-link-container" href="#" target="">
            <div class="quick-link">
                    <span class="quick-link-icon">
                            <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In  -->
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px"
                             width="33.5px" height="30.6px" viewBox="0 0 33.5 30.6"
                             style="overflow:visible;enable-background:new 0 0 33.5 30.6;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #004A93;
                            }

                            .st1 {
                                fill: #E6403B;
                            }
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M28.9,6c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0,0,0,0c0,0,0,0,0,0
                                c0,0-0.1-0.1-0.1-0.1L14.3,0C14.1,0,14,0,13.8,0L0.5,5c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0C0.2,5.1,0.2,5.2,0.1,5.3
                                c0,0,0,0,0,0.1C0,5.5,0,5.6,0,5.7c0,0,0,0,0,0c0,0,0,0,0,0v18.9c0,0.3,0.2,0.6,0.5,0.7l14.1,5.3c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0
                                c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0l4.8-2c0.3-0.1,0.5-0.4,0.5-0.7c0-0.1,0-0.2-0.1-0.3c-0.2-0.4-0.6-0.6-1-0.4l-3.8,1.5V11.5
                                l5.6-2.1v6c0,0.4,0.3,0.7,0.8,0.7s0.8-0.3,0.8-0.7V8.9l4.7-1.8v7.6c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8L28.9,6
                                C28.9,6,28.9,6,28.9,6z M14,1.5L26,6l-4.1,1.5l-12-4.5L14,1.5z M7.8,3.9l12,4.5l-4.9,1.8l-12-4.5L7.8,3.9z M1.5,6.8l12.6,4.7v17.3
                                L1.5,24.1V6.8z"></path>
                            <g>
                                <path class="st1" d="M33.2,18.2c-0.2-0.1-0.4-0.2-0.6-0.2c-3.5,0.7-4.6-0.8-4.6-0.8c-0.1-0.2-0.4-0.3-0.6-0.3
                                    c-0.2,0-0.5,0.1-0.6,0.3c0,0.1-1.2,1.5-4.6,0.8c-0.2,0-0.5,0-0.6,0.2c-0.2,0.1-0.3,0.4-0.3,0.6v6.7c0,0.8,0.3,1.6,0.8,2.2
                                    c1,1.1,3.1,3,5.3,3s4.3-1.9,5.3-3c0.5-0.6,0.9-1.4,0.9-2.2v-6.7C33.5,18.6,33.4,18.4,33.2,18.2z M32,25.5c0,0.4-0.2,0.8-0.4,1.1
                                    c-0.7,0.8-2.5,2.5-4.2,2.5s-3.5-1.8-4.2-2.5c-0.3-0.3-0.4-0.7-0.4-1.1v-5.8c2.5,0.3,3.9-0.4,4.7-1c0.7,0.6,2.2,1.3,4.7,1V25.5z"></path>
                                <path class="st1"
                                      d="M27,24l-1.1-0.9L25,24.3l1.6,1.3c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l2.5-2.5L29.1,22L27,24z"></path>
                            </g>
                        </g>
                        </svg>
                    </span>
                <p class="h6 link-title">
                    Quick Link
                </p>
            </div>
        </a>


        <a class="col single-quick-link-container" href="#" target="">
            <div class="quick-link">
                <span class="quick-link-icon">
                    <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In  -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
                         width="41.8px" height="33.1px" viewBox="0 0 41.8 33.1"
                         style="overflow:visible;enable-background:new 0 0 41.8 33.1;" xml:space="preserve">
                    <defs>
                    </defs>
                    <g>
                        <path class="st1" d="M41.5,32l-1.6-1.6l0.2-1.7c0-0.2-0.1-0.5-0.2-0.6l-5.3-5.3c-0.1-0.1-0.2-0.2-0.4-0.2L31.5,22l-1.2-1.2
                            c2-2.3,3.2-5.2,3.2-8.3c0-3.3-1.3-6.5-3.7-8.9C27.4,1.3,24.3,0,20.9,0c-3.3,0-6.5,1.3-8.9,3.7c-4.9,4.9-4.9,12.8,0,17.7
                            c2.4,2.4,5.7,3.7,8.9,3.7c3,0,5.9-1.1,8.3-3.2l1.2,1.2l0.7,2.8c0,0.1,0.1,0.3,0.2,0.4l5.3,5.3c0.1,0.1,0.3,0.2,0.5,0.2
                            c0,0,0.1,0,0.1,0l1.7-0.2l1.6,1.6L41.5,32z M13.1,20.3C8.8,16,8.8,9,13.1,4.7c2.2-2.1,5-3.2,7.8-3.2c2.8,0,5.6,1.1,7.8,3.2
                            C33,9,33,16,28.8,20.3c0,0,0,0-0.1,0s0,0,0,0.1C24.3,24.6,17.4,24.6,13.1,20.3z M38.4,30l-1.1,0.1l-4.8-4.8l-0.4-1.6l1.6,0.4
                            l4.8,4.8L38.4,30z"></path>
                        <g>
                            <path class="st0" d="M27.9,8.6C27.9,8.6,27.9,8.6,27.9,8.6c-0.1-0.2-0.1-0.2-0.2-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1
                                L21,5.8c-0.2-0.1-0.4-0.1-0.5,0l-6.1,2.3c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.2,0.2c0,0,0,0,0,0.1
                                c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0c0,0,0,0,0,0v7.3c0,0.3,0.2,0.6,0.5,0.7l6.5,2.4c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0
                                c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0l6.1-2.5c0.3-0.1,0.5-0.4,0.5-0.7V8.9c0,0,0,0,0,0C28,8.8,28,8.7,27.9,8.6z M20.7,7.3l4.4,1.6
                                l-1,0.4l-3,1.1l-4.4-1.6L20.7,7.3z M15.3,9.9l5,1.9v5.7l-5-1.9V9.9z M21.8,17.4v-5.7l4.6-1.7v5.5L21.8,17.4z"></path>
                            <path class="st0"
                                  d="M34.4,7.8h5c0.4,0,0.8-0.3,0.8-0.8s-0.3-0.8-0.8-0.8h-5c-0.4,0-0.8,0.3-0.8,0.8S34,7.8,34.4,7.8z"></path>
                            <path class="st0"
                                  d="M35.3,10.4c0,0.4,0.3,0.8,0.8,0.8h5c0.4,0,0.8-0.3,0.8-0.8s-0.3-0.8-0.8-0.8h-5C35.6,9.6,35.3,10,35.3,10.4z"></path>
                            <path class="st0"
                                  d="M41.1,13h-5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h5c0.4,0,0.8-0.3,0.8-0.8S41.5,13,41.1,13z"></path>
                            <path class="st0"
                                  d="M39.4,16.3h-5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h5c0.4,0,0.8-0.3,0.8-0.8S39.8,16.3,39.4,16.3z"></path>
                            <path class="st0"
                                  d="M7.5,16.3h-5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h5c0.4,0,0.8-0.3,0.8-0.8S7.9,16.3,7.5,16.3z"></path>
                            <path class="st0"
                                  d="M6.5,13.7c0-0.4-0.3-0.8-0.8-0.8h-5C0.3,13,0,13.3,0,13.7s0.3,0.8,0.8,0.8h5C6.2,14.5,6.5,14.1,6.5,13.7z"></path>
                            <path class="st0"
                                  d="M0.8,11.1h5c0.4,0,0.8-0.3,0.8-0.8S6.2,9.6,5.8,9.6h-5C0.3,9.6,0,10,0,10.4S0.3,11.1,0.8,11.1z"></path>
                            <path class="st0"
                                  d="M7.5,6.3h-5C2,6.3,1.7,6.6,1.7,7S2,7.8,2.4,7.8h5c0.4,0,0.8-0.3,0.8-0.8S7.9,6.3,7.5,6.3z"></path>
                        </g>
                    </g>
                    </svg>
                </span>
                <p class="h6 link-title">
                    Quick Link
                </p>
            </div>
        </a>



        <a class="col single-quick-link-container" href="#" target="">
            <div class="quick-link">
                <span class="quick-link-icon">
                    <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In  -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
                         width="38.5px" height="38.5px" viewBox="0 0 38.5 38.5"
                         style="overflow:visible;enable-background:new 0 0 38.5 38.5;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #004A93;
                        }

                        .st1 {
                            fill: #E6403B;
                        }
                    </style>
                    <defs>
                    </defs>
                    <g>
                        <g>
                            <path class="st0" d="M19.2,0c-1.3,0-2.4,1.1-2.4,2.4c0,1.1,0.7,1.9,1.6,2.3v4H20v-4c1-0.3,1.6-1.2,1.6-2.3C21.6,1.1,20.6,0,19.2,0
                                z M19.2,3.3c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9C20.1,2.9,19.7,3.3,19.2,3.3z"></path>
                            <path class="st0" d="M20,33.8v-4h-1.5v4c-1,0.3-1.6,1.2-1.6,2.3c0,1.3,1.1,2.4,2.4,2.4c1.3,0,2.4-1.1,2.4-2.4
                                C21.6,35.1,21,34.2,20,33.8z M19.2,37c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9
                                C20.1,36.6,19.7,37,19.2,37z"></path>
                            <path class="st0" d="M9.7,7.3c0-0.6-0.2-1.2-0.7-1.7c-0.9-0.9-2.4-0.9-3.4,0c0,0,0,0,0,0C5.2,6.1,4.9,6.7,4.9,7.3S5.2,8.6,5.6,9
                                c0.5,0.5,1.1,0.7,1.7,0.7c0.4,0,0.7-0.1,1.1-0.3l2.8,2.8l1.1-1.1L9.5,8.4C9.6,8.1,9.7,7.7,9.7,7.3z M6.7,8
                                C6.5,7.8,6.4,7.6,6.4,7.3s0.1-0.5,0.3-0.6c0,0,0,0,0,0c0.2-0.2,0.4-0.3,0.6-0.3S7.8,6.5,8,6.7c0.2,0.2,0.3,0.4,0.3,0.6
                                S8.1,7.8,8,8C7.6,8.3,7,8.3,6.7,8z"></path>
                            <path class="st0" d="M30.1,29l-2.8-2.8l-1.1,1.1l2.8,2.8c-0.4,0.9-0.3,2,0.4,2.8c0.5,0.5,1.1,0.7,1.7,0.7s1.2-0.2,1.7-0.7
                                c0.9-0.9,0.9-2.5,0-3.4C32.1,28.7,31,28.6,30.1,29z M31.8,31.8c-0.3,0.3-0.9,0.3-1.3,0c-0.3-0.3-0.3-0.9,0-1.3
                                c0.2-0.2,0.4-0.3,0.6-0.3s0.5,0.1,0.6,0.3C32.1,30.9,32.1,31.5,31.8,31.8z"></path>
                            <path class="st0" d="M8.6,20v-1.5h-4c-0.3-1-1.2-1.6-2.3-1.6c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4c1.1,0,1.9-0.7,2.3-1.6
                                H8.6z M2.4,20.1c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9s0.9,0.4,0.9,0.9C3.3,19.7,2.9,20.1,2.4,20.1z"></path>
                            <path class="st0" d="M36.1,16.9c-1.1,0-1.9,0.7-2.3,1.6h-4V20h4c0.3,1,1.2,1.6,2.3,1.6c1.3,0,2.4-1.1,2.4-2.4
                                C38.5,17.9,37.4,16.9,36.1,16.9z M36.1,20.1c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9
                                C37,19.7,36.6,20.1,36.1,20.1z"></path>
                            <path class="st0" d="M11.2,26.2L8.4,29c-0.9-0.4-2-0.3-2.8,0.4c-0.9,0.9-0.9,2.5,0,3.4c0.5,0.5,1.1,0.7,1.7,0.7s1.2-0.2,1.7-0.7
                                c0.7-0.7,0.9-1.9,0.4-2.8l2.8-2.8L11.2,26.2z M8,31.8c-0.3,0.3-0.9,0.3-1.3,0c-0.3-0.3-0.3-0.9,0-1.3c0.2-0.2,0.4-0.3,0.6-0.3
                                s0.5,0.1,0.6,0.3C8.3,30.9,8.3,31.5,8,31.8z"></path>
                            <path class="st0" d="M27.3,12.3l2.8-2.8c0.3,0.2,0.7,0.3,1.1,0.3c0.6,0,1.2-0.2,1.7-0.7c0.5-0.5,0.7-1.1,0.7-1.7s-0.2-1.2-0.7-1.7
                                c0,0,0,0,0,0c-0.9-0.9-2.4-0.9-3.4,0c-0.7,0.7-0.9,1.9-0.4,2.8l-2.8,2.8L27.3,12.3z M30.5,6.7c0.2-0.2,0.4-0.3,0.6-0.3
                                s0.5,0.1,0.6,0.3c0,0,0,0,0,0c0.2,0.2,0.3,0.4,0.3,0.6S32,7.8,31.8,8c-0.3,0.3-0.9,0.3-1.3,0C30.2,7.6,30.2,7,30.5,6.7z"></path>
                        </g>
                        <path class="st1" d="M27.5,15c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0,0,0,0c0,0,0,0,0,0
                            c0,0-0.1-0.1-0.1-0.1l-7.7-2.9c-0.2-0.1-0.4-0.1-0.5,0l-7.3,2.7c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0
                            c-0.1,0.1-0.2,0.1-0.2,0.2c0,0,0,0,0,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0c0,0,0,0,0,0v8.7c0,0.3,0.2,0.6,0.5,0.7l7.7,2.9
                            c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0l7.3-3c0.3-0.1,0.5-0.4,0.5-0.7L27.5,15C27.5,15,27.5,15,27.5,15z
                             M19,12.9l5.6,2.1l-0.7,0.2l-4.5,1.7l-4-1.5l-1.6-0.6L19,12.9z M12.5,15.9l6.2,2.3v7.1L12.5,23V15.9z M20.2,25.3v-7.1l5.8-2.1v6.9
                            L20.2,25.3z"></path>
                    </g>
                    </svg>
                </span>
                <p class="h6 link-title">
                    Quick Link </p>
            </div>
        </a>


        <a class="col single-quick-link-container" href="#" target="">
            <div class="quick-link">
                <span class="quick-link-icon">
                    <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In  -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
                         width="35.1px" height="37.1px" viewBox="0 0 35.1 37.1"
                         style="overflow:visible;enable-background:new 0 0 35.1 37.1;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #004A93;
                        }

                        .st1 {
                            fill: #E6403B;
                        }
                    </style>
                    <defs>
                    </defs>
                    <g>
                        <path class="st0" d="M26.5,13.9c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0,0,0,0c0,0,0,0,0,0
                            c0,0-0.1-0.1-0.1-0.1l-8.4-3.2c-0.2-0.1-0.4-0.1-0.5,0L9.1,13c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.2,0.2
                            c0,0,0,0,0,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0c0,0,0,0,0,0v9.5c0,0.3,0.2,0.6,0.5,0.7l8.4,3.2c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0
                            c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0l7.9-3.2c0.3-0.1,0.5-0.4,0.5-0.7L26.5,13.9C26.5,13.9,26.5,13.9,26.5,13.9z M17.3,11.6l6.3,2.4
                            l-5.8,2.1l-6.3-2.4L17.3,11.6z M10.1,14.8l6.9,2.6v7.9l-6.9-2.6V14.8z M25,22.6l-6.4,2.6v-7.8L25,15V22.6z"></path>
                        <g>
                            <path class="st1" d="M19.2,2.6h-1.5l1.6-1.6L18.2,0l-2.9,2.9c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0.2-0.1,0.4,0,0.6
                                c0,0.1,0.1,0.2,0.2,0.2l2.9,2.9l1.1-1.1l-1.6-1.6h1.5c7.9,0,14.4,6.5,14.4,14.4c0,6.4-4.1,11.9-10.2,13.8l0.4,1.4
                                c6.7-2.1,11.3-8.2,11.3-15.2C35.1,9.8,28,2.6,19.2,2.6z"></path>
                            <path class="st1" d="M19.9,33.4c0-0.1-0.1-0.2-0.2-0.2l-2.9-2.9l-1.1,1.1l1.6,1.6h-1.5C8,33,1.5,26.5,1.5,18.6
                                c0-6.4,4.1-11.9,10.2-13.8l-0.4-1.4C4.5,5.4,0,11.5,0,18.6c0,8.8,7.1,15.9,15.9,15.9h1.5L15.8,36l1.1,1.1l2.9-2.9
                                c0.1-0.1,0.1-0.2,0.2-0.2C20,33.8,20,33.6,19.9,33.4z"></path>
                        </g>
                    </g>
                    </svg>
                </span>
                <p class="h6 link-title">
                    Quick Link
                </p>

            </div>
        </a>


        <a class="col single-quick-link-container" href="#" target="">
            <div class="quick-link">
                <span class="quick-link-icon">
                    <!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In  -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
                         width="33.5px" height="30.6px" viewBox="0 0 33.5 30.6"
                         style="overflow:visible;enable-background:new 0 0 33.5 30.6;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #004A93;
                            }

                            .st1 {
                                fill: #E6403B;
                            }
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M28.9,6c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0,0,0,0c0,0,0,0,0,0
                                c0,0-0.1-0.1-0.1-0.1L14.3,0C14.1,0,14,0,13.8,0L0.5,5c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0C0.2,5.1,0.2,5.2,0.1,5.3
                                c0,0,0,0,0,0.1C0,5.5,0,5.6,0,5.7c0,0,0,0,0,0c0,0,0,0,0,0v18.9c0,0.3,0.2,0.6,0.5,0.7l14.1,5.3c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0
                                c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0l4.8-2c0.3-0.1,0.5-0.4,0.5-0.7c0-0.1,0-0.2-0.1-0.3c-0.2-0.4-0.6-0.6-1-0.4l-3.8,1.5V11.5
                                l5.6-2.1v6c0,0.4,0.3,0.7,0.8,0.7s0.8-0.3,0.8-0.7V8.9l4.7-1.8v7.6c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8L28.9,6
                                C28.9,6,28.9,6,28.9,6z M14,1.5L26,6l-4.1,1.5l-12-4.5L14,1.5z M7.8,3.9l12,4.5l-4.9,1.8l-12-4.5L7.8,3.9z M1.5,6.8l12.6,4.7v17.3
                                L1.5,24.1V6.8z"></path>
                            <g>
                                <path class="st1" d="M33.2,18.2c-0.2-0.1-0.4-0.2-0.6-0.2c-3.5,0.7-4.6-0.8-4.6-0.8c-0.1-0.2-0.4-0.3-0.6-0.3
                                    c-0.2,0-0.5,0.1-0.6,0.3c0,0.1-1.2,1.5-4.6,0.8c-0.2,0-0.5,0-0.6,0.2c-0.2,0.1-0.3,0.4-0.3,0.6v6.7c0,0.8,0.3,1.6,0.8,2.2
                                    c1,1.1,3.1,3,5.3,3s4.3-1.9,5.3-3c0.5-0.6,0.9-1.4,0.9-2.2v-6.7C33.5,18.6,33.4,18.4,33.2,18.2z M32,25.5c0,0.4-0.2,0.8-0.4,1.1
                                    c-0.7,0.8-2.5,2.5-4.2,2.5s-3.5-1.8-4.2-2.5c-0.3-0.3-0.4-0.7-0.4-1.1v-5.8c2.5,0.3,3.9-0.4,4.7-1c0.7,0.6,2.2,1.3,4.7,1V25.5z"></path>
                                <path class="st1"
                                      d="M27,24l-1.1-0.9L25,24.3l1.6,1.3c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l2.5-2.5L29.1,22L27,24z"></path>
                            </g>
                        </g>
                     </svg>
                </span>
                <p class="h6 link-title">
                    Quick Link
                </p>
            </div>
        </a>
    </div>
</div>