<!--  This is the centred content block. It's more or less just an area to show a row of text, or anything else really.
It has the option to have an offset, so the content seems more centred. This one currently has the offset as seen by the bootstrap class
in the .content-column div

-->

<section id="centered-content-block_5f7606d6efacb" class="orange-block centered-content-block has-bg-color-image bg-color-white aligncenter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                <h3>Intro paragraph lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
            </div>
        </div>
    </div>
</section>