<!--      This is the tabs block. The tabs are meant to hold other blocks within them, as seen in this example. We are using two tabs here, each
      have their own nav-item, and then corresponding tab-panes. The content will go within the tab panes. Make sure that entire blocks are added within, not
      just parts of blocks. -->


<section id="tabs-block-block_5f765536c8f31" class="orange-block tabs-block-block has-child-page-tab-content">

    <!-- Tabs -->
    <ul class="nav nav-tabs" id="tabs-block-block_5f765536c8f31-TabU" role="tablist">

        <!--          Nav Items for the two tabs          -->
        <li class="nav-item" role="presentation">
            <a data-toggle="tab" id="default-template-tab" class="nav-link active"
               href="#default-template-block_5f765536c8f31" role="tab" aria-controls="default-template"
               aria-selected="true">
                <span class="tab-title">Content</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-toggle="tab" id="ctas-tab" class="nav-link " href="#ctas-block_5f765536c8f31" role="tab"
               aria-controls="ctas" aria-selected="true">
                <span class="tab-title">CTA’s</span>
            </a>
        </li>
    </ul>

    <!-- Tab content is here, each tab has it's own tab-pane. The active class signifies which pane is active and showing -->
    <div class="tab-content">
        <div class="tab-pane active" id="default-template-block_5f765536c8f31" role="tabpanel"
             aria-labelledby="default-template-tab">

            <div class="block-content">

                <!--            The tabs content, two sections (Orange Blocks) are being rendered in each.                -->
                <section id="centered-content-block_5f5bc6ab0f4b2"
                         class="orange-block centered-content-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 content-column" tabindex="0">
                                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                                    <li>Sed diam nonumy eirmod tempor invidunt ut</li>
                                    <li>Labore et dolore magna aliquyam erat</li>
                                    <li>Sed diam voluptua</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>


                <section id="centered-content-block_5f76061befaca"
                         class="orange-block centered-content-block has-bg-color-image bg-color-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 content-column" tabindex="0">
                                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                                    <li>Sed diam nonumy eirmod tempor invidunt ut</li>
                                    <li>Labore et dolore magna aliquyam erat</li>
                                    <li>Sed diam voluptua</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <!--          Start of second tabs content          -->
        <div class="tab-pane " id="ctas-block_5f765536c8f31" role="tabpanel" aria-labelledby="ctas-tab">
            <div class="block-content">

                <section id="centered-content-block_5f63b78d6ffbc" class="orange-block centered-content-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 content-column" tabindex="0">
                                <h2>Fullwidth CTA – 1/2 and 1/2</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="cta-block_5f3eda1a135a5"
                         class="orange-block cta-block full-width-cta select-posts text-dark align-right no-bg-image">
                    <div class="section-contents">
                        <div class="container">
                            <!-- Block content -->
                            <div class="row">
                                <!-- Single CTA -->
                                <div class="col cta-col">
                                    <div class="card align-right">
                                        <div class="card-body">
                                            <!-- Icon -->
                                            <div class="card-image-container has-image">
                                                <div class="card-image">
                                                    <img src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1024x683.jpg"
                                                         class="attachment-large size-large" alt=""
                                                         loading="lazy"
                                                         srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1024x683.jpg 1024w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-300x200.jpg 300w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-768x512.jpg 768w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-1536x1025.jpg 1536w, http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/08/tfi-robert-lowdon_0531_Small_Web-2048x1366.jpg 2048w"
                                                         sizes="(max-width: 1024px) 100vw, 1024px"
                                                         width="1024" height="683"></div>
                                            </div>
                                            <div class="card-content has-image">
                                                <!-- Title -->
                                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                                <div class="card-text-and-links">
                                                    <!-- Description -->
                                                    <div class="card-text"><h4>Lorem ipsum dolor sit amet,
                                                        consetetur sadipscing elitr.</h4>
                                                        <p>Stet clita kasd gubergren, no sea takimata
                                                            sanctus est Lorem ipsum dolor sit amet. Lorem
                                                            ipsum dolor sit amet, consetetur sadipscing.</p>
                                                    </div>
                                                    <div class="card-link-container">
                                                        <!-- Link -->
                                                        <a class="card-link learn-more-link "
                                                           href="http://staging.canpar.flywheelsites.com/"
                                                           target="_self">
                                                            Learn More </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

</section>