<!--  This block is form, it is currently not hooked up to anything right now
We have adapted a Gravity Form to work for us here
 -->

<section id="form-embed-block_5f60de233d100" class="orange-block form-embed-block">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 block-title">Form</h2>
            </div>
        </div>
    </div>
    <!-- Block content -->
    <div class="container">
        <div class="row">
            <!-- Form content -->
            <div class="col-12">
                <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
                    <div id="gf_1" class="gform_anchor" tabindex="-1"></div>
                    <form method="post" enctype="multipart/form-data" target="<!-- Your Target here -->" id="<!-- Form ID -->"
                          action="<!-- Your Action here --> ">
                        <div class="gform_body">
                            <ul id="gform_fields_1"
                                class="gform_fields top_label form_sublabel_below description_below">
                                <li id="field_1_1"
                                    class="gfield gf_left_half field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_1_1">Name</label>
                                    <div class="ginput_container ginput_container_text">
                                        <input name="input_1"
                                               id="input_1_1"
                                               type="text" value=""
                                               class="medium"
                                               aria-invalid="false">
                                    </div>
                                </li>
                                <li id="field_1_2"
                                    class="gfield gf_right_half field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_1_2">Email</label>
                                    <div class="ginput_container ginput_container_email">
                                        <input name="input_2" id="input_1_2" type="email" value="" class="medium"
                                               aria-invalid="false">
                                    </div>
                                </li>
                                <li id="field_1_3"
                                    class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_1_3">Message</label>
                                    <div class="ginput_container ginput_container_textarea">
                                        <textarea name="input_3"
                                                  id="input_1_3"
                                                  class="textarea medium"
                                                  aria-invalid="false"
                                                  rows="10"
                                                  cols="50">
                                        </textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>