<!--  This block is the carousel on each home page. Currently this slider has two slides, but can have as many as desired.
It is important to make sure that the height on the .carousel-item tags are the same throughout. That dictates the overall size of the block
  -->


<section id="carousel-block_5f3698f8216d5" class="orange-block carousel-block">
    <!-- Block content -->
    <div id="carousel-block_5f3698f8216d5_carousel" class="carousel ocb slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-block_5f3698f8216d5_carousel" data-slide-to="" class=""></li>
            <li data-target="#carousel-block_5f3698f8216d5_carousel" data-slide-to="" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-item-left" style="height: 50vh;">
                <div class="carousel-image"
                     style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0231_Small-Extended_Web.jpg');
                      background-size: cover; ">
                </div>
                <div class="carousel-caption">
                    <!-- Title -->
                    <p class="h4 carousel-title">Start Shipping with Canpar</p>
                    <!-- Caption -->
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                    <!-- Button -->
                    <a class="btn btn-primary" href="#" target="_self" tabindex="0" role="button">
                        Learn More </a>
                </div>
                <div class="overlay" style="background-color:#000000;opacity:36%"></div>
            </div>
            <div class="carousel-item carousel-item-next carousel-item-left" style="height: 50vh;">
                <div class="carousel-image"
                     style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0231_Small-Extended_Web.jpg');
                      background-size: cover; "></div>
                <div class="carousel-caption">
                    <!-- Title -->
                    <p class="h4 carousel-title">Testing Slide Title</p>
                    <!-- Caption -->
                    <p>Sed a erat tristique, dapibus dolor in, ornare metus. Etiam vel felis non dui scelerisque
                        pellentesque.</p>
                    <!-- Button -->
                    <a class="btn btn-primary" href="#" target="_self" tabindex="0" role="button">
                        Learn More </a>
                </div>
                <div class="overlay" style="background-color:#000000;opacity:36%"></div>
            </div>
        </div>

        <!--    Control container    -->
        <div class="controls-container">
            <!-- Previous -->
            <a class="carousel-control-prev" href="#carousel-block_5f3698f8216d5_carousel" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <button id="toggleCarousel" role="button" aria-label="Pause"></button>
            <!-- next -->
            <a class="carousel-control-next" href="#carousel-block_5f3698f8216d5_carousel" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>