<!--  This is the Link List Block. In this current example, we are showing 8 link blocks, but any number can be shown.
  In some of the blocks below, we are showing an icon and some not. They are not required. -->


<section id="link-list-block_5f627898150c0" class="orange-block link-list-block">

    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col block-title-wrap">
                <h2 class="h2 block-title">Icon CTA Blocks</h2>
            </div>
        </div>
    </div>

    <!-- Block content -->
    <div class="container list-group-horizontal-lg">
        <div class="row">

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                    <!-- Icon after -->
                    <div class="icon-after" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Lock.svg');"></div>
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                    <!-- Icon after -->
                    <div class="icon-after" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Lock.svg');"></div>
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                    <!-- Icon after -->
                    <div class="icon-after" style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Lock.svg');"></div>
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                </a>
            </div>

            <!-- Single Link -->
            <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                    <!-- Text -->
                    Tool Name
                </a>
            </div>

        </div>
    </div>
</section>