<!--      This is the Careers Single page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->


<!--      When building this page be mindful of the body classes       -->
<body class="single single-career tfi-site-ics">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->
<main id="content" class="main">

    <div class="content-wrap content-single content-careers content-single-career-post">


        <article class="post-1588 career type-career status-publish hentry post">

            <header>
                <div class="container">
                    <div class="row">
                        <div class="single-post-header-column">

                            <a href="http://staging.icscourier.flywheelsites.com/careers/" class="back-to-parent-link">
                                Back to Careers </a>

                            <h1 tabindex="0" class="post-title entry-title">Title of Position</h1>

                            <p class="h6 post-meta career-opportunity-location">
                                Calgary, AB </p>

                        </div>
                    </div>
                </div>

            </header>

            <div class="entry-content post-content">

                <div class="container">
                    <div class="row">

                        <div class="social-sharing-btns-column">

                            <div class="social-sharing-btns">
                                <ul class="list-unstyled">
                                    <li class="list-heading">Share</li>
                                    <li>
                                        <a href="https://www.facebook.com/sharer.php?u=http://staging.icscourier.flywheelsites.com/career/position-1/"
                                           class="btn btn-icon btn-social-sharing social-icon-facebook" target="_blank"
                                           aria-label="Facebook">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 274.22 512">
                                                <path fill="currentColor"
                                                      d="M279.14,288l14.22-92.66H204.45V135.21c0-25.35,12.42-50.06,52.24-50.06h40.42V6.26S260.43,0,225.36,0C152.14,0,104.28,44.38,104.28,124.72v70.62H22.89V288h81.39V512H204.45V288Z"
                                                      transform="translate(-22.89)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com/share?text=Title of Position&amp;url=http://staging.icscourier.flywheelsites.com/career/position-1/&amp;via=TFI"
                                           class="btn btn-icon btn-social-sharing social-icon-twitter" target="_blank"
                                           aria-label="Twitter">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 415.84">
                                                <path fill="currentColor"
                                                      d="M459.37,151.72c.33,4.54.33,9.09.33,13.64,0,138.72-105.59,298.56-298.56,298.56A296.51,296.51,0,0,1,0,416.81a215.83,215.83,0,0,0,25.34,1.3,210.15,210.15,0,0,0,130.27-44.83A105.12,105.12,0,0,1,57.5,300.51a132.94,132.94,0,0,0,19.82,1.62,111.09,111.09,0,0,0,27.61-3.57,105,105,0,0,1-84.14-103v-1.29a105.67,105.67,0,0,0,47.43,13.31A105.07,105.07,0,0,1,35.74,67.25,298.28,298.28,0,0,0,252.1,177.06a118.78,118.78,0,0,1-2.6-24,105,105,0,0,1,181.6-71.8,206.58,206.58,0,0,0,66.6-25.34,104.61,104.61,0,0,1-46.13,57.83A210.61,210.61,0,0,0,512,97.46a225.62,225.62,0,0,1-52.63,54.26Z"
                                                      transform="translate(0 -48.08)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://staging.icscourier.flywheelsites.com/career/position-1/&amp;title=Title of Position&amp;summary="
                                           class="btn btn-icon btn-social-sharing social-icon-linkedin" target="_blank"
                                           aria-label="LinkedIn">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 447.98">
                                                <path fill="currentColor"
                                                      d="M100.28,448H7.4V148.9h92.88ZM53.79,108.1C24.09,108.1,0,83.5,0,53.8a53.79,53.79,0,0,1,107.58,0C107.58,83.5,83.48,108.1,53.79,108.1ZM447.9,448H355.22V302.4c0-34.7-.7-79.2-48.29-79.2-48.29,0-55.69,37.7-55.69,76.7V448H158.46V148.9h89.08v40.8h1.3c12.4-23.5,42.69-48.3,87.88-48.3,94,0,111.28,61.9,111.28,142.3V448Z"
                                                      transform="translate(0 -0.02)"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-post-content-column">

                            <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</h4>
                            <p>Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                                eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                nisi ut aliquid ex ea commodi consequatur.<br>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua.</p>
                            <ul>
                                <li>At vero eos et accusam et justo duo dolores et ea rebum</li>
                                <li>Stet clita kasd gubergren, no sea takimata sanctus</li>
                                <li>Lorem ipsum dolor sit amet ipsum dolor sit amet, consetetur sadipscing elitr</li>
                                <li>Sed diam nonumy eirmod tempor invidunt</li>
                            </ul>


                        </div>
                    </div>
                </div>

            </div>

        </article>


        <section id="cta-block_5f3eda74135aa"
                 class="orange-block cta-block icon-columns-cta select-posts text-dark no-bg-image">


            <div class="section-contents">
                <div class="container">


                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/08/Icon_Medium_BoxSecurity-1.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More </a>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/08/Icon_Medium_BoxSecurity-1.svg')">
                                    </div>
                                    <div class="card-content ">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Shipping Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More </a>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>


    </div>

</main>
</body>