<!--      This is the Careers Landing page. Only content within the body class has been kept here, because all other content is the same throughout all pages.      -->

<!--      When building this page be mindful of the body classes       -->
<body class="page tfi-site-ics page-careers">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page content-careers content-careers-listing-page">

        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">


                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Careers</h1>
                        </div>


                    </div>
                </div>
            </div>

            <div class="featured-image"
                 style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1045_Small_Web.jpg')"></div>

        </section>
        <section id="centered-content-block_5f763916bd0fb"
                 class="orange-block centered-content-block has-bg-color-image bg-color-white aligncenter">


            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmo.</h3>
                        <p>Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                            est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </section>


        <section id="button-block_5f763925bd0fc" class="orange-block button-block has-bg-color-image bg-color-white">


            <div class="container">
                <div class="row">
                    <div class="col">


                        <a href="#careers-anchor" class="btn btn-primary">
                            See All Current Openings </a>


                    </div>
                </div>
            </div>

        </section>


        <section id="centered-content-block_5f763955bd0fd"
                 class="orange-block centered-content-block border-top aligncenter">


            <div class="container">
                <div class="row">
                    <div class="col-12 content-column" tabindex="0">
                        <h2 class="h2 block-title centred-title">
                            About ICS Courier </h2>
                        <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</h4>
                        <p>Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                            est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </section>


        <section id="icon-columns-block_5f7639d5bd0fe" class="orange-block icon-columns-block">


            <div class="container">

                <!-- Block title -->

                <div class="row icon-columns-row">


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>


        <section id="image-link-block_5f763a19bd102" class="orange-block image-link-block bg-overlap">


            <div class="image-row-container container">
                <div class="images-wrap row">
                    <a href="#" class="single-image-link-block has-2-items"
                       style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0920_Small_Web-1024x683.jpg')">
                        <h3 class="h3 image-text">Learn More About ICS Courier</h3>
                        <div class="learn-more-link-container">
                            <p class="learn-more-link arrow-link">
                                Learn More </p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                    <a href="#" class="single-image-link-block has-2-items"
                       style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1053_Small-Edit_Web-1024x683.jpg')">
                        <h3 class="h3 image-text">Our Environmental Impact</h3>
                        <div class="learn-more-link-container">
                            <p class="learn-more-link arrow-link">
                                Learn More </p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>
            </div>

        </section>


        <section id="icon-columns-block_5f763b57bd106"
                 class="orange-block icon-columns-block has-bg-color-image bg-color-light aligncenter">


            <div class="container">

                <!-- Block title -->
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Benefits of Working at ICS Courier</h2>
                    </div>
                </div>

                <div class="row icon-columns-row">


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>


        <section id="icon-columns-block_5f763c15bd10a"
                 class="orange-block icon-columns-block has-bg-color-image bg-color-light aligncenter">


            <div class="container">

                <!-- Block title -->

                <div class="row icon-columns-row">


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                    <div class="icon-column col">

                        <div class="card icon-column-card">

                            <!-- Icon or Image -->
                            <div class="card-image icon-wrap">
                                <img src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Group-899.svg">
                            </div>

                            <div class="card-body">

                                <!-- Title -->
                                <h3 class="h3 card-title">Lorem ipsum sit</h3>

                                <!-- Desc -->
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore.</p>

                                <!-- Link -->

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>


        <section id="testimonial-large-block_5f57e1ee0ee42"
                 class="orange-block testimonial-large-block has-bg-color-image">


            <div class="container-fluid">
                <div class="row">

                    <div class="col">
                        <div id="testimonial-large-block_5f57e1ee0ee42_carouselLarge" class="carousel slide w-100"
                             data-ride="carousel" data-interval="false">
                            <div class="carousel-container  " style="min-height: 642px;">
                                <div class="carousel-inner">
                                    <div class="carousel-item h-100 active">
                                        <div class="d-flex align-items-center carousel-item-container">
                                            <div class="card w-100">
                                                <div class="row no-gutters my-auto">
                                                    <div class="col main" style="min-height: 642px;">
                                                        <div class="testimonial-icon-container">
                                                            <div class="testimonial-icon"
                                                                 style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/quote.svg');">
                                                            </div>
                                                        </div>

                                                        <div class="card-body">
                                                            <p class="card-text content">Lorem ipsum dolor sit amet,
                                                                consetetur sadipscing elitr, sed diam nonumy eirmod
                                                                tempor invidunt ut labore et dolore magna aliquyam.</p>
                                                            <p class="card-text author">Julia Doe, Lorem Ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="image-section p-0">
                                                        <div class="card-body card-image p-0 h-100"
                                                             style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0920_Small_Web.jpg');background-size:cover;background-position:center center;">
                                                            <div class="overlay"
                                                                 style="background-color:#8c8c8c;opacity:0%"></div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item h-100">
                                        <div class="d-flex align-items-center carousel-item-container">
                                            <div class="card w-100">
                                                <div class="row no-gutters my-auto">
                                                    <div class="col main" style="min-height: 642px;">
                                                        <div class="testimonial-icon-container">
                                                            <div class="testimonial-icon"
                                                                 style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/quote.svg');">
                                                            </div>
                                                        </div>

                                                        <div class="card-body">
                                                            <p class="card-text content">Consetetur sadipscing elitr,
                                                                sed diam nonumy eirmod tempor invidunt ut labore et
                                                                dolore magna aliquyam.</p>
                                                            <p class="card-text author">John Doe, Lorem Ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="image-section p-0">
                                                        <div class="card-body card-image p-0 h-100"
                                                             style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1193_Small@2x_Web.jpg');background-size:cover;background-position:center center;">
                                                            <div class="overlay"
                                                                 style="background-color:#8c8c8c;opacity:0%"></div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="control-container">
                                    <a class="carousel-control-prev position-relative float-left w-50"
                                       href="#testimonial-large-block_5f57e1ee0ee42_carouselLarge" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next position-relative float-right w-50"
                                       href="#testimonial-large-block_5f57e1ee0ee42_carouselLarge" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script>
                (function ($) {
                    $(document).ready(function () {

                        if ($('.testimonial-large-block').hasClass('alignright')) {
                            $('.row.no-gutters').addClass('flex-row-reverse');
                        }

                        //Adding active classes to all sliders
                        $(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
                        $(".carousel-indicators > li:nth-child(1)").addClass("active");


                    });
                })(jQuery);
            </script>

        </section>


        <section id="gallery-block_5f57e110f5279" class="orange-block gallery-block has-bg-color-image bg-color-light">


            <!-- Block content -->
            <div class="container">


                <!-- Single row -->
                <div class="row">


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1082_Small_Web.jpg"
                           class="foobox fbx-link fbx-instance" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_1082_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1082_Small_Web-1024x683.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1235_Small_Web.jpg"
                           class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_1235_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1235_Small_Web-1024x683.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1025_Small_Web.jpg"
                           class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_1025_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1025_Small_Web-1024x683.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1009_Small_Web.jpg"
                           class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_1009_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1009_Small_Web-1024x683.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1035_Small_Web.jpg"
                           class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_1035_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1035_Small_Web-1024x683.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                    <!-- Single column -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <!-- Modal link -->
                        <a href="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small_Web.jpg"
                           class="foobox fbx-link" rel="gallery-block_5f57e110f5279"
                           data-caption-title="tfi-robert-lowdon_0862_Small_Web" data-caption-desc="">

                            <!-- Image -->
                            <div class="image-container">
                                <div class="gallery-image"
                                     style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0862_Small_Web-1024x682.jpg')"></div>
                                <div class="gallery-overlay">

                                </div>
                            </div>
                        </a>
                    </div>


                </div>


            </div>
        </section>


        <section id="career-content" class="careers-accordion-section">

            <a class="page-anchor" id="careers-anchor"></a>

            <div class="container title-container">
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Current Opportunities</h2>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="accordion-wrap">
                            <div class="accordion" id="careers-accordion">

                                <a class="card" href="http://staging.icscourier.flywheelsites.com/career/position-1/">

                                    <div class="card-header collapsed" id="career-accordion-1588-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Title of Position</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Calgary, AB</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>
                                <a class="card" href="http://staging.icscourier.flywheelsites.com/career/position-2/">

                                    <div class="card-header collapsed" id="career-accordion-1262-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Title of Toronto Position</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Toronto, ON</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>
                                <a class="card" href="http://staging.icscourier.flywheelsites.com/career/position-3/">

                                    <div class="card-header collapsed" id="career-accordion-1261-heading" tabindex="0">

                                        <div class="career-position">
                                            <p class="h6">Job Position Title</p>
                                        </div>
                                        <div class="career-department">
                                            <p>Department Name</p>
                                        </div>
                                        <div class="career-location">
                                            <p class="h6">Brampton, ON</p>
                                        </div>
                                        <div class="over-arrow">
                                            <span class="arrow-icon"></span>
                                        </div>
                                    </div>

                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

</main>


<div class="fbx-modal fbx-1 fbx-rounded fbx-light fbx-firefox fbx-tablet fbx-landscape" tabindex="0">
    <div class="fbx-inner-spacer"></div>
    <div class="fbx-loader">
        <div></div>
    </div>
    <div class="fbx-inner fbx-inner-shadow">
        <div class="fbx-stage">
            <div class="fbx-item-current"></div>
            <div class="fbx-item-next"></div>
            <div class="fbx-caption fbx-slide-caption"></div>
        </div>
        <a class="fbx-prev fbx-btn-transition fbx-btn-shadow"></a>
        <div class="fbx-credit" style="display: none;"><a target="_blank" href=""><em></em><span> FooBox</span></a>
        </div>
        <span class="fbx-count"></span><a class="fbx-next fbx-btn-transition fbx-btn-shadow"></a><a
            class="fbx-close fbx-btn-transition fbx-btn-shadow"></a><a class="fbx-open-caption">…</a></div>
</div>
</body>