<!--
	This is the site map template.  It lists all the links on the site, grouped by section
-->

<body class="page tfi-site-ics page-site-map">

<main id="content" class="main">

	<div class="content-wrap content-page content-site-map">

		<section class="page-banner">

			<div class="page-title-excerpt-wrap">
				<div class="container">
					<div class="row">
						<div class="page-title-column">
							<h1 tabindex="0" class="page-title">Site Map</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="featured-image" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_1235_Small_Web.jpg')"></div>

		</section>

		<section class="site-map-lists-section">

			<div class="container">
				<div class="row">
					
					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">About</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/about-ics-courier/">About ICS Courier</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/about-ics-courier/branch-directory/">Branch Directory</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/about-ics-courier/holiday-schedule/">Holiday Schedule</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/about-ics-courier/our-environmental-impact/">Our Environmental Impact</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Solutions</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/solutions/">Overview</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/solutions/ics-courier-everyday-economics/">ICS Courier Everyday Economics</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/solutions/ics-courier-ground/">ICS Courier Ground</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/solutions/ics-courier-next-day/">ICS Courier Next Day</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Tools &amp; Technology</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/">Overview</a>
							</li>
							<li>
								Technology
								<ul class="list-unstyled">
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/technology/ics-courier-click-nship/">ICS Courier Click ‘n’Ship</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/technology/ics-courier-scanner-technology/">ICS Courier Scanner Technology</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/technology/ics-courier-trax/">ICS Courier Trax</a>
									</li>
								</ul>
							</li>
							<li>
								Tools
								<ul class="list-unstyled">
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/ics-courier-click-nship/">ICS Courier Click ‘n’Ship</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/schedule-a-pick-up/">Schedule a Pick Up</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/schedule-a-collect-request-pick-up/">Schedule a Collect Request Pick-Up</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/schedule-a-pre-authorized-return/">Schedule a Pre-Authorized Return</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/rate-transit-calculator/">Rate &amp; Transit Calculator</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/hold-for-pick-up/">Hold for Pick Up</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/ics-points-of-service/">ICS Points of Service</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/hold-mail-request/">Hold Mail Request</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/ics-delivery-status/">ICS Delivery Status</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/smartspots/">SMARTSpots</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/advance-ship-notice/">Advance Ship Notice</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/returns-solutions/">Returns Solutions</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/e-commerce-tools/">E-Commerce Tools</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/order-shipping-supplies/">Order Shipping Supplies</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/advanced-tracking/">Advanced Tracking</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Support</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/">Overview</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/faqs/">Frequently Asked Questions</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/how-to-package-your-shipment/">How to Package Your Shipment</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/how-to-fill-out-a-waybill/">How to fill out a waybill</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/forms-downloads/">Forms &amp; Downloads</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/fuel-surcharge-table/">Fuel Surcharge Table</a>
							</li>
							<li>
								Billing &amp; Payments
								<ul class="list-unstyled">
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/support/billing-payments/payment-methods/">Payment Methods</a>
									</li>
									<li>
										<a href="http://staging.icscourier.flywheelsites.com/support/billing-payments/view-your-ics-invoice/">View your ICS Invoice</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/support/service-alerts-updates/">Service Alerts &amp; Updates</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/terms-conditions/">Terms &amp; Conditions</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/privacy-policy/">Privacy Policy</a>
							</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/legal-disclaimer/">Legal Disclaimer</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Careers</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/careers/">Careers</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">Contact Us</li>
							<li>
								<a href="http://staging.icscourier.flywheelsites.com/contact-us/">Contact Us</a>
							</li>
						</ul>
					</div>

					<div class="site-map-list-column">
						<ul class="list-unstyled site-map-list">
							<li class="site-map-list-heading">ICS 4 ME</li>
							<li>
								<a href="#">Benefits</a>
							</li>
							<li>
								<a href="#">Register</a>
							</li>
							<li>
								<a href="#">Log In</a>
							</li>
						</ul>
					</div>

				</div>
			</div>

		</section>
	</div>

</main>

</body>