<!--
    This is the Tools & Technology page. Only content within the body class has been kept here, because all other content is the same throughout all pages.
    This page has no template specific elements.  It is built completely from the block library.
-->

<!--     When building this page be mindful of the body classes       -->
<body class="page page-parent tfi-site-ics">

<!--      Header, Footer, and Alerts have not been included. They are the same on every page, with the exception of a few .active classes within the menus.      -->

<main id="content" class="main">

    <div class="content-wrap content-page">

        <section class="page-banner">

            <div class="page-title-excerpt-wrap">
                <div class="container">
                    <div class="row">

                        <div class="page-title-column">
                            <h1 tabindex="0" class="page-title">Tools &amp; Technology</h1>
                        </div>

                    </div>
                </div>
            </div>

            <div class="featured-image" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1227_Small_Web.jpg')"></div>

        </section>

        <section id="centered-content-block_5f88b7d7d6ab3" class="orange-block centered-content-block aligncenter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 content-column" tabindex="0">
                        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="cta-block_5f513ab3bf14f" class="orange-block cta-block bg-overlap image-text-block-cta select-posts text-dark align-centre no-bg-image">

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about ICS Courier Trax">
                                <div class="card align-centre">
                                    <div class="card-body">

                                        <!-- Image -->
                                        <div class="card-image-container has-image">
                                            <div class="card-image">
                                                <img width="1024" height="683"
                                                     src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1012_Small_Web-1024x683.jpg"
                                                     class="attachment-large size-large"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1012_Small_Web-1024x683.jpg 1024w,
                                                        http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1012_Small_Web-300x200.jpg 300w,
                                                          http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1012_Small_Web-768x512.jpg 768w,
                                                            http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1012_Small_Web.jpg 1137w"
                                                     sizes="(max-width: 1024px) 100vw, 1024px">
                                            </div>
                                        </div>
                                        <div class="card-content has-image">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">ICS Courier Trax</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link ">Learn More</span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about ICS Courier Click’n’Ship">
                                <div class="card align-centre">
                                    <div class="card-body">

                                        <!-- Image -->
                                        <div class="card-image-container has-image">
                                            <div class="card-image">
                                                <img width="1024" height="683"
                                                     src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1229_Small_Web-1024x683.jpg"
                                                     class="attachment-large size-large"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1229_Small_Web-1024x683.jpg 1024w,
                                                        http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1229_Small_Web-300x200.jpg 300w,
                                                          http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1229_Small_Web-768x512.jpg 768w,
                                                            http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1229_Small_Web.jpg 1200w"
                                                     sizes="(max-width: 1024px) 100vw, 1024px">
                                            </div>
                                        </div>
                                        <div class="card-content has-image">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">ICS Courier Click’n’Ship</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link ">Learn More</span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>


                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <a href="#" class="card-link" target="" aria-label="Learn more about ICS Courier Scanner Technology">
                                <div class="card align-centre">
                                    <div class="card-body">

                                        <!-- Image -->
                                        <div class="card-image-container has-image">
                                            <div class="card-image">
                                                <img width="1024" height="683"
                                                     src="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1019_Small_Web-1024x683.jpg"
                                                     class="attachment-large size-large"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1019_Small_Web-1024x683.jpg 1024w,
                                                        http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1019_Small_Web-300x200.jpg 300w,
                                                          http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1019_Small_Web-768x512.jpg 768w,
                                                            http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/10/tfi-robert-lowdon_1019_Small_Web.jpg 1200w"
                                                     sizes="(max-width: 1024px) 100vw, 1024px">
                                            </div>
                                        </div>
                                        <div class="card-content has-image">
                                            <!-- Title -->
                                            <h3 class="h3 card-title">ICS Courier Scanner Technology</h3>

                                            <div class="card-text-and-links">
                                                <!-- Description -->
                                                <div class="card-text">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                                </div>
                                                <div class="card-link-container">

                                                    <!-- Link -->
                                                    <span class="card-link learn-more-link ">Learn More</span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="link-list-block_5f626e1554f57" class="orange-block link-list-block tools-technology-link-list has-bg-color-image bg-color-light aligncenter">

            <!-- Block title -->
            <div class="container">
                <div class="row">
                    <div class="col block-title-wrap">
                        <h2 class="h2 block-title">Tools</h2>
                    </div>
                </div>
            </div>

            <!-- Block content -->
            <div class="container list-group-horizontal-lg">
                <div class="row">

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                            <!-- Icon after -->
                            <div class="icon-after" style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/Lock_Open.svg');"></div>
                        </a>
                    </div>

                    <!-- Single Link -->
                    <div class="single-link-container col-12 col-sm-6 col-md-4 col-lg-3">
                        <a class="list-group-item list-group-item-action link regular internal" href="#" target="_self">
                            <!-- Text -->
                            Tool Name
                        </a>
                    </div>

                </div>
            </div>
        </section>


        <section id="testimonial-block_5f88f782f3fa8" class="orange-block testimonial-block has-bg-color-image bg-color-primary">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="testimonial-block_5f88f782f3fa8_carousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="min-height: inherit;">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-12 testimonial-icon-container">
                                                <div class="testimonial-icon" style="background-image:url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/09/quote.svg');">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                                <div class="card-body">
                                                    <p class="card-text content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                                    <p class="card-text author">— Julia Doe, Lorem Ipsum</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
				(function ($) {
					$(document).ready(function () {

						if ($('.testimonial-block').hasClass('alignright')) {
							$('.row.no-gutters').addClass('flex-row-reverse');
						}

						//Adding active classes to all sliders
						$(".carousel-inner > .carousel-item:nth-child(1)").addClass("active");
						$(".carousel-indicators > li:nth-child(1)").addClass("active");

					});
				})(jQuery);
            </script>
        </section>

        <section id="cta-block_5f88f7cdf3faa" class="orange-block cta-block has-bg-color-image bg-color-light icon-columns-cta select-posts text-dark no-bg-image">

            <div class="section-contents">
                <div class="container">

                    <!-- Block content -->
                    <div class="row">
                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/08/Icon_Medium_BoxSecurity-1.svg')">
                                    </div>
                                    <div class="card-content">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">The ICS Advantage CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text">
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Single CTA -->
                        <div class="col cta-col">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Icon -->
                                    <div class="card-icon"
                                         style="background-image: url('http://staging.icscourier.flywheelsites.com/wp-content/uploads/2020/08/Icon_Medium_BoxSecurity-1.svg')">
                                    </div>
                                    <div class="card-content">
                                        <!-- Title -->
                                        <h3 class="h3 card-title">Support CTA</h3>

                                        <div class="card-text-and-links">
                                            <!-- Description -->
                                            <div class="card-text">
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            </div>
                                            <div class="card-link-container">

                                                <!-- Link -->
                                                <a class="card-link learn-more-link " href="#" target="_self">
                                                    Learn More
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

</main>

</body>