<!--     This is the alerts carousel. This is a slider, so if there is more than one alert, it will cycle through them.
         Each individual item should be added as a carousel-item. If there are no alerts, this should not render.   -->


<div class="alert alert-dismissible alert-primary header-alert fade show" role="alert">
    <div id="alert-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">


            <!-- Single Alert -->
            <div class="carousel-item carousel-item-next carousel-item-left">
                <a href="http://staging.canpar.flywheelsites.com/alert/alert-4/"
                   aria-label="Nullam id dolor id nibh ultricies vehicula ut id elit.">

                    <!-- Icon -->
                    <div class="alert-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                            <defs>
                                <style>
                                    .alert-circle-bg {
                                        fill: var(--alert-icon-bg-color, white);
                                        stroke: var(--alert-icon-bg-stroke-color, white);
                                        stroke-width: 2px;
                                    }

                                    .alert-exclamation-mark {
                                        fill: var(--alert-icon-mark-color, black);
                                    }
                                </style>
                            </defs>
                            <g transform="translate(-74.002 -10)">
                                <circle class="alert-circle-bg" cx="13" cy="13" r="12"
                                        transform="translate(74.002 10)"></circle>
                                <g class="alert-exclamation-mark" transform="translate(-145.616 -12)">
                                    <path d="M232.638,37.946a1.027,1.027,0,1,1,0,2.054,1.027,1.027,0,0,1,0-2.054ZM231.693,30h1.891l-.266,6.839h-1.345Z"
                                          transform="translate(0)"></path>
                                </g>
                            </g>
                        </svg>
                    </div>

                    <!-- Message -->
                    <div class="alert-message">
                        Nullam id dolor id nibh ultricies vehicula ut id elit. <span>Read More</span>
                    </div>
                </a>
            </div>


            <!-- Single Alert -->
            <div class="carousel-item active carousel-item-left">
                <a href="http://staging.canpar.flywheelsites.com/alert/alert-1/"
                   aria-label="Nullam id dolor id nibh ultricies vehicula ut id elit.">

                    <!-- Icon -->
                    <div class="alert-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                            <defs>
                                <style>
                                    .alert-circle-bg {
                                        fill: var(--alert-icon-bg-color, white);
                                        stroke: var(--alert-icon-bg-stroke-color, white);
                                        stroke-width: 2px;
                                    }

                                    .alert-exclamation-mark {
                                        fill: var(--alert-icon-mark-color, black);
                                    }
                                </style>
                            </defs>
                            <g transform="translate(-74.002 -10)">
                                <circle class="alert-circle-bg" cx="13" cy="13" r="12"
                                        transform="translate(74.002 10)"></circle>
                                <g class="alert-exclamation-mark" transform="translate(-145.616 -12)">
                                    <path d="M232.638,37.946a1.027,1.027,0,1,1,0,2.054,1.027,1.027,0,0,1,0-2.054ZM231.693,30h1.891l-.266,6.839h-1.345Z"
                                          transform="translate(0)"></path>
                                </g>
                            </g>
                        </svg>
                    </div>

                    <!-- Message -->
                    <div class="alert-message">
                        Nullam id dolor id nibh ultricies vehicula ut id elit. <span>Read More</span>
                    </div>
                </a>
            </div>


        </div>
    </div>

    <!-- Close button -->
    <button type="button" class="btn btn-icon btn-close" data-dismiss="alert" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.671 6.67">
            <g fill="none" stroke-width="1.5" stroke-miterlimit="10" transform="translate(3.335 -2.275) rotate(45)">
                <line stroke="currentColor" x2="7.934" transform="translate(0 3.967)"></line>
                <line stroke="currentColor" x2="7.934" transform="translate(3.967 0) rotate(90)"></line>
            </g>
        </svg>
    </button>
</div>