<!--     This is the footer for Canpar. This footer will be the same on every page.       -->


<footer class="footer">

    <div class="footer-top-support-container">
        <a href="#" aria-label="Have a question? Visit our Support Centre">
            <p class="h4">
                <span>
                    Have a question?                </span>
                <span>
                    Visit our Support Centre                </span>
            </p>
        </a>
    </div>

    <div class="footer-main-content-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 footer-main-inner-container">
                    <div class="footer-logo-container">
                        <div class="footer-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205.7 57" role="img">
                                <title>Canpar Express</title>
                                <path class="swoosh" d="M103.9,2c-30.6,3.5-51.3,10.6-58,13.2c7.5-2.4,32.8-8.3,62.6-10c32.1-1.9,64.2,0.6,95.6,7.2
        l1.7-6.4C167.4-1.5,129.6-0.9,103.9,2"></path>
                                <path class="letters" d="M37.7,28.8c-0.7,3.3-3.9,12.9-20.5,12.9C5.6,41.7,0,35.7,0,27.1c0-10.4,8.1-19,21.7-19
        c8.9,0,16.9,3.1,17.1,12.7H27.1c0.1-3-1.7-4.7-5.5-4.7c-6.8,0-9.3,6.3-9.3,10.8c0,2.6,0.8,6.8,6.4,6.8c3.9,0,6.1-2.1,6.8-4.9
        L37.7,28.8z M49.3,34.3c0-1.7,1.7-2.5,3.6-2.6c2,0,4-0.4,5.9-1c-0.7,3.5-2.2,5.6-5.9,5.6C51.1,36.3,49.3,35.9,49.3,34.3 M52.5,24.7
        c0.6-1.7,2.2-2.4,4.4-2.4c1.7,0,3.5,0.4,3.5,2c0,2.9-5,2.5-8.1,2.7c-8.4,0.5-14.1,2.2-14.1,8.3c0,4.4,4.4,6.2,9.4,6.2
        c3.2,0,7-0.9,9-2.8h0.1c0,0.8,0.1,1.5,0.4,2.2H68c-0.4-1.1-0.2-0.3-0.4-2.1c0-1.5,3.5-12,3.5-15.6c0-5.7-8.9-6.2-14.1-6.2
        c-7.1,0-13.1,1.4-14.9,7.6L52.5,24.7z M77.6,17.7h10.7l-0.8,3h0.1c2.4-2.3,5.7-3.6,9-3.5c5.1,0,9.5,1.7,9.5,6.3
        c-0.1,1.5-0.4,3-0.8,4.4L101.7,41H90.6l2.9-10.7c0.4-1.3,0.7-2.5,0.9-3.9c0-1.5-1.3-2.2-3.1-2.2c-3.5,0-4.7,2-5.4,4.4L82.6,41H71.5
        L77.6,17.7z M123.9,35.1c-2,0.2-3.8-1.3-4-3.3c0-0.2,0-0.3,0-0.5c0-2.1,0.9-7.7,5.8-7.7c3.3,0,4,1.8,4,4.1
        C129.8,30.7,128.4,35.1,123.9,35.1 M104.2,48.5h11.1l2.6-10.4c2.4,3.1,5.6,3.4,8.7,3.4c9.9,0,14.2-8,14.2-14.9
        c0-4.1-2.4-9.6-10.6-9.6c-3-0.2-5.8,1-7.8,3.2h-0.1l0.7-2.6h-10.8L104.2,48.5z M152.3,34.3c0-1.7,1.7-2.5,3.6-2.6c2,0,4-0.4,5.9-1
        c-0.7,3.5-2.2,5.6-5.9,5.6C154,36.3,152.3,35.9,152.3,34.3 M155.4,24.7c0.6-1.7,2.2-2.4,4.4-2.4c1.7,0,3.5,0.4,3.5,2
        c0,2.9-5,2.5-8.1,2.7c-8.4,0.5-14.1,2.2-14.1,8.3c0,4.4,4.4,6.2,9.4,6.2c3.3,0,7-0.9,9-2.8h0.1c0,0.8,0.1,1.5,0.4,2.2h10.9
        c-0.4-1.1-0.2-0.3-0.4-2.1c0-1.5,3.5-12,3.5-15.6c0-5.7-8.9-6.2-14.1-6.2c-7.1,0-13.1,1.4-14.9,7.6L155.4,24.7z M180.4,17.7h10.8
        l-1,3.6h0.1c2.1-2.5,5.2-4,8.5-4.2c1.3-0.1,2.6,0.1,3.9,0.4l-2.1,7.8c-1.4-0.4-2.8-0.6-4.3-0.6c-4.7,0-7.1,1.6-8.4,6.5l-2.5,9.7
        h-11.1L180.4,17.7z M135.4,46.4h8.9l-0.6,2.2h-5.6l-0.3,1.1h5.2l-0.5,2h-5.2l-0.3,1.1h5.7l-0.6,2.2h-9L135.4,46.4z M146.3,51.7
        l-1.8-2.9h3l0.6,1.3l1.1-1.3h3.3l-3.1,3l2,3.2h-3l-0.9-1.5l-1.5,1.5h-3.3L146.3,51.7z M153.5,48.7h2.9l-0.2,0.7h0
        c0.5-0.6,1.3-0.9,2.1-0.9c1.4-0.2,2.7,0.8,2.8,2.2c0,0.1,0,0.3,0,0.4c0.1,2.1-1.5,3.9-3.5,4c-0.1,0-0.2,0-0.3,0
        c-0.9,0.1-1.8-0.2-2.4-0.9l-0.7,2.8h-3L153.5,48.7z M158.2,51.4c0-0.6-0.2-1.1-1.1-1.1c-1.3,0-1.6,1.5-1.6,2.1c0,0.5,0.4,1,1,1
        c0,0,0.1,0,0.1,0C157.9,53.4,158.2,52.2,158.2,51.4 M163.1,48.7h2.9l-0.3,1h0c0.6-0.7,1.4-1.1,2.3-1.1c0.4,0,0.7,0,1.1,0.1l-0.6,2.1
        c-0.4-0.1-0.8-0.2-1.1-0.2c-1.1-0.2-2.1,0.6-2.2,1.7c0,0,0,0,0,0l-0.7,2.6h-3L163.1,48.7z M176.7,53.2c-0.2,0.4-0.8,2-4.2,2
        c-2.8,0-3.9-1.2-3.9-2.8c0-2.9,2.8-3.8,4.7-3.8c1.7,0,3.8,0.8,3.8,2.7c0,0.4,0,0.7-0.2,1.1h-5.6c-0.1,0.6,0.3,1.1,0.9,1.2
        c0.1,0,0.2,0,0.3,0c0.4,0,0.9-0.1,1.2-0.4L176.7,53.2z M174.4,51.2c0-0.1,0-0.1,0-0.2c0-0.5-0.4-0.8-1.1-0.8c-0.7-0.1-1.3,0.4-1.6,1
        L174.4,51.2z M180.4,52.9c0,0.2,0.1,0.4,0.3,0.6c0.2,0.1,0.5,0.2,0.8,0.2c0.8,0,0.9-0.4,0.9-0.6c0-0.4-0.8-0.5-1.9-0.6
        c-0.5-0.1-2.1-0.3-2.1-1.6c0-1.8,2-2.3,3.9-2.3c1.7,0,3.7,0.3,3.5,2h-2.7c0-0.2,0-0.4-0.2-0.5c-0.2-0.1-0.5-0.2-0.7-0.2
        c-0.4,0-0.8,0.1-0.8,0.5c0,0.3,0.3,0.4,0.7,0.5c2.2,0.2,3.3,0.6,3.3,1.9c0,1.4-1.6,2.3-4,2.3c-1.7,0-3.8-0.3-3.7-2.2L180.4,52.9z
         M188.7,52.9c0,0.2,0.1,0.4,0.3,0.6c0.2,0.1,0.5,0.2,0.8,0.2c0.8,0,0.9-0.4,0.9-0.6c0-0.4-0.8-0.5-1.9-0.6c-0.5-0.1-2.1-0.3-2.1-1.6
        c0-1.8,2-2.3,3.9-2.3c1.7,0,3.7,0.3,3.5,2h-2.7c0-0.2,0-0.4-0.2-0.5c-0.2-0.1-0.5-0.2-0.7-0.2c-0.4,0-0.8,0.1-0.8,0.5
        c0,0.3,0.3,0.4,0.7,0.5c2.2,0.2,3.3,0.6,3.3,1.9c0,1.4-1.6,2.3-4,2.3c-1.7,0-3.8-0.3-3.7-2.2L188.7,52.9z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="footer-social-container">
                        <a href="https://www.facebook.com/CanparExpress/" class="social-link"
                           aria-label="Visit Canpar's facebook page" target="_blank">
                            <div class="social-icon facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9.933" height="20.587"
                                     viewBox="0 0 9.933 20.587">
                                    <defs>
                                        <style>.a {
                                            fill: #0D1C2B;
                                        }</style>
                                    </defs>
                                    <path class="a"
                                          d="M133.294,4655.417h2.129v-2.069a5.531,5.531,0,0,1,.685-3.189,3.788,3.788,0,0,1,3.3-1.55,13.392,13.392,0,0,1,3.816.383l-.533,3.153a7.16,7.16,0,0,0-1.714-.257c-.828,0-1.569.3-1.569,1.125v2.4h3.393l-.236,3.079h-3.157v10.7h-3.989v-10.7h-2.129Z"
                                          transform="translate(-133.294 -4648.609)"></path>
                                </svg>
                            </div>
                        </a>
                        <a href="https://www.instagram.com/canparexpress/?hl=en" class="social-link"
                           aria-label="Visit Canpar's instagram page" target="_blank">
                            <div class="social-icon instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                    <defs>
                                        <style>.a {
                                            fill: #0D1C2B;
                                            stroke: rgba(0, 0, 0, 0);
                                            stroke-miterlimit: 10;
                                        }</style>
                                    </defs>
                                    <path class="a"
                                          d="M-16825.748-17510.988a7.685,7.685,0,0,1-2.551-.486,5.159,5.159,0,0,1-1.861-1.211,5.1,5.1,0,0,1-1.207-1.861,7.592,7.592,0,0,1-.49-2.547c-.051-1.121-.064-1.477-.064-4.328s.014-3.211.064-4.332a7.582,7.582,0,0,1,.49-2.547,5.051,5.051,0,0,1,1.207-1.857,5.145,5.145,0,0,1,1.861-1.215,7.685,7.685,0,0,1,2.551-.486c1.119-.051,1.477-.062,4.326-.062s3.207.012,4.33.063a7.67,7.67,0,0,1,2.547.486,5.105,5.105,0,0,1,1.859,1.215,5.1,5.1,0,0,1,1.215,1.857,7.839,7.839,0,0,1,.488,2.547c.047,1.121.061,1.477.061,4.332s-.014,3.207-.061,4.328a7.85,7.85,0,0,1-.488,2.547,5.145,5.145,0,0,1-1.215,1.861,5.119,5.119,0,0,1-1.859,1.211,7.67,7.67,0,0,1-2.547.486c-1.123.051-1.477.066-4.33.066S-16824.629-17510.937-16825.748-17510.988Zm.086-18.98a5.721,5.721,0,0,0-1.953.359,3.28,3.28,0,0,0-1.205.785,3.186,3.186,0,0,0-.783,1.209,5.751,5.751,0,0,0-.365,1.949c-.047,1.107-.062,1.439-.062,4.244s.016,3.133.063,4.24a5.792,5.792,0,0,0,.365,1.953,3.218,3.218,0,0,0,.783,1.205,3.3,3.3,0,0,0,1.205.785,5.771,5.771,0,0,0,1.953.359c1.105.051,1.436.063,4.24.063s3.139-.012,4.246-.062a5.75,5.75,0,0,0,1.947-.359,3.344,3.344,0,0,0,1.211-.785,3.367,3.367,0,0,0,.783-1.205,6.07,6.07,0,0,0,.363-1.953c.047-1.107.057-1.439.057-4.24s-.01-3.137-.057-4.244a6.026,6.026,0,0,0-.363-1.949,3.332,3.332,0,0,0-.783-1.209,3.319,3.319,0,0,0-1.211-.785,5.7,5.7,0,0,0-1.947-.359c-1.107-.053-1.441-.062-4.246-.062S-16824.555-17530.021-16825.662-17529.969Zm-1.15,8.547a5.392,5.392,0,0,1,5.391-5.393,5.393,5.393,0,0,1,5.395,5.393,5.393,5.393,0,0,1-5.395,5.389A5.392,5.392,0,0,1-16826.812-17521.422Zm1.891,0a3.5,3.5,0,0,0,3.5,3.5,3.5,3.5,0,0,0,3.5-3.5,3.5,3.5,0,0,0-3.5-3.5A3.5,3.5,0,0,0-16824.922-17521.422Zm8.215-4.715a1.259,1.259,0,0,1,0-1.781,1.259,1.259,0,0,1,1.781,0,1.259,1.259,0,0,1,0,1.781,1.252,1.252,0,0,1-.891.369A1.256,1.256,0,0,1-16816.707-17526.137Z"
                                          transform="translate(16832.422 17532.422)"></path>
                                </svg>
                            </div>
                        </a>
                        <a href="https://ca.linkedin.com/company/canparexpress" class="social-link"
                           aria-label="Visit Canpar's linkedin page" target="_blank">
                            <div class="social-icon linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.071" height="18.041"
                                     viewBox="0 0 18.071 18.041">
                                    <defs>
                                        <style>.a {
                                            fill: #0D1C2B;
                                        }</style>
                                    </defs>
                                    <rect class="a" width="3.749" height="12.05"
                                          transform="translate(0.297 5.991)"></rect>
                                    <path class="a"
                                          d="M183.39,24.637a2.172,2.172,0,1,1,2.17-2.173A2.17,2.17,0,0,1,183.39,24.637Z"
                                          transform="translate(-181.217 -20.293)"></path>
                                    <path class="a"
                                          d="M197.856,37.059h-3.742V31.2c0-1.4-.027-3.194-1.947-3.194-1.948,0-2.246,1.522-2.246,3.094v5.96H186.18V25.009h3.59v1.647h.052a3.935,3.935,0,0,1,3.544-1.947c3.79,0,4.491,2.5,4.491,5.741Z"
                                          transform="translate(-179.785 -19.019)"></path>
                                </svg>
                            </div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCKN2KQvNMV21U4fTOVSypoA" class="social-link"
                           aria-label="Visit Canpar's youtube page" target="_blank">
                            <div class="social-icon youtube">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18.582"
                                     viewBox="0 0 26 18.582">
                                    <defs>
                                        <style>.a {
                                            fill: #0D1C2B;
                                            stroke: rgba(0, 0, 0, 0);
                                            stroke-miterlimit: 10;
                                        }</style>
                                    </defs>
                                    <path class="a"
                                          d="M-16477.5-17179.42h0c-.066,0-6.537-.059-8.5-.248-.1-.016-.211-.031-.34-.049a3.669,3.669,0,0,1-2.416-1.021,5.506,5.506,0,0,1-.994-2.48,37.6,37.6,0,0,1-.25-4.045v-1.9a37.6,37.6,0,0,1,.25-4.045,5.515,5.515,0,0,1,.994-2.484,3.173,3.173,0,0,1,1.291-.836,4.27,4.27,0,0,1,1.053-.205l.035,0a.754.754,0,0,0,.123-.016c3.459-.25,8.693-.252,8.75-.252h.01c.055,0,5.291,0,8.748.252.035.006.072.012.117.016l.043,0a4.287,4.287,0,0,1,1.053.205,3.2,3.2,0,0,1,1.291.836,5.515,5.515,0,0,1,.994,2.484,38.479,38.479,0,0,1,.248,4.045v1.9a38.479,38.479,0,0,1-.248,4.045,5.5,5.5,0,0,1-.994,2.48,3.25,3.25,0,0,1-1.291.84,4.691,4.691,0,0,1-1.053.205l-.043,0-.117.014C-16472.187-17179.428-16477.447-17179.42-16477.5-17179.42Zm-2.578-12.566h0v7.023l6.752-3.5-6.752-3.521Z"
                                          transform="translate(16490.498 17197.502)"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3  footer-main-menu-container">
                    <p class="footer-menu-title">Our Company</p>

                    <ul class="nav">
                        <li class="menu-item menu-about-canpar-express nav-item"><a href="#" class="nav-link">About
                            Canpar Express</a></li>
                        <li class="menu-item menu-community-environment nav-item"><a href="#" class="nav-link">Community
                            &amp; Environment</a></li>
                        <li class="menu-item menu-careers nav-item"><a
                                href="http://staging.canpar.flywheelsites.com/careers/" class="nav-link">Careers</a>
                        </li>
                        <li class="menu-item menu-workplace-equity nav-item"><a href="#" class="nav-link">Workplace
                            Equity</a></li>
                        <li class="menu-item menu-holiday-schedule nav-item"><a href="#" class="nav-link">Holiday
                            Schedule</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 footer-secondary-menu-container ">
                    <ul class="nav">
                        <li class="menu-item menu-media-centre nav-item"><a
                                href="http://staging.canpar.flywheelsites.com/media-centre/" class="nav-link">Media
                            Centre</a></li>
                        <li class="menu-item menu-support nav-item"><a
                                href="http://staging.canpar.flywheelsites.com/support/" class="nav-link">Support</a>
                        </li>
                        <li class="menu-item menu-contact-us nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                        <li class="menu-item menu-service-alerts-updates nav-item"><a
                                href="http://staging.canpar.flywheelsites.com/support/service-alerts-updates/"
                                class="nav-link">Service Alerts &amp; Updates</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 footer-app-container">
                    <p class="h4">
                        Canpar Express Goes Mobile! </p>
                    <a class="app-link" href="" aria-label="Visit Canpar's Apple Store Page">
                        <div class="app-container apple">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/dist/images/AppStore.png"
                                 alt="">
                        </div>
                    </a>
                    <a class="app-link" href="" aria-label="Visit Canpar's Google Play Store Page">
                        <div class="app-container google">
                            <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/dist/images/GooglePlay.png"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower-copy-container">
        <div class="upper-copy-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 tfi-logo">
                        <img src="http://staging.canpar.flywheelsites.com/wp-content/themes/canpar/dist/images/logos/TFI_Logo_White.png"
                             alt="A TFI internatinal Company" aria-label="A TFI internatinal Company">
                    </div>
                    <div class="col-12 col-lg-9 small-ownership">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et fugiat nihil officiis
                        pariatur perspiciatis qui soluta? Amet, deserunt eaque eius eos, harum in minus modi mollitia
                        odit officiis voluptatum!
                    </div>
                </div>
            </div>

        </div>
        <div class="lower-copy-container">
            <div class="container">
                <div class="row">

                    <!-- Back to top -->
                    <button id="back-to-top" title="Scroll back to top" style="display: inline-block;"
                            class="show"></button>

                    <div class="col-12 col-lg-5 footer-bottom-copy-container">
                        <p>Copyright © 2020 Canpar Express. All rights reserved.</p>
                        <p>Website design and development by <a href="https://rcdesign.com" target="_blank"
                                                                aria-label="Website design and development by  RC Design, click to visit">RC
                            Design</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-7 footer-bottom-menu-container">
                        <ul class="nav">
                            <li class="menu-item menu-terms-conditions nav-item"><a href="#" class="nav-link">Terms
                                &amp; Conditions</a></li>
                            <li class="menu-item menu-privacy-policy nav-item"><a href="#" class="nav-link">Privacy
                                Policy</a></li>
                            <li class="menu-item menu-legal-disclaimer nav-item"><a href="#" class="nav-link">Legal
                                Disclaimer</a></li>
                            <li class="menu-item menu-site-map nav-item"><a
                                    href="http://staging.canpar.flywheelsites.com/site-map/" class="nav-link">Site
                                Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>