<!--     This is the header for the homepage. This will remain fairly consistent throughout the site. Menu items will gain an active state when their page is active.
         Also, when the header is scrolled, JS will add a .sticky class to it.   -->


<header class="site-header-wrap">

    <nav class="navbar navbar-expand-lg header-navbar">


        <ul class="navbar-nav search-menu mobile">
            <li class="nav-item menu-search">
                <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                            <g transform="translate(1370.869 26.258)">
                                <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                            </g>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>

        <a class="navbar-brand" href="http://staging.canpar.flywheelsites.com" aria-label="Canpar Express">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205.7 57" role="img">
                <title>Canpar Express</title>
                <path class="swoosh" d="M103.9,2c-30.6,3.5-51.3,10.6-58,13.2c7.5-2.4,32.8-8.3,62.6-10c32.1-1.9,64.2,0.6,95.6,7.2
        l1.7-6.4C167.4-1.5,129.6-0.9,103.9,2"></path>
                <path class="letters" d="M37.7,28.8c-0.7,3.3-3.9,12.9-20.5,12.9C5.6,41.7,0,35.7,0,27.1c0-10.4,8.1-19,21.7-19
        c8.9,0,16.9,3.1,17.1,12.7H27.1c0.1-3-1.7-4.7-5.5-4.7c-6.8,0-9.3,6.3-9.3,10.8c0,2.6,0.8,6.8,6.4,6.8c3.9,0,6.1-2.1,6.8-4.9
        L37.7,28.8z M49.3,34.3c0-1.7,1.7-2.5,3.6-2.6c2,0,4-0.4,5.9-1c-0.7,3.5-2.2,5.6-5.9,5.6C51.1,36.3,49.3,35.9,49.3,34.3 M52.5,24.7
        c0.6-1.7,2.2-2.4,4.4-2.4c1.7,0,3.5,0.4,3.5,2c0,2.9-5,2.5-8.1,2.7c-8.4,0.5-14.1,2.2-14.1,8.3c0,4.4,4.4,6.2,9.4,6.2
        c3.2,0,7-0.9,9-2.8h0.1c0,0.8,0.1,1.5,0.4,2.2H68c-0.4-1.1-0.2-0.3-0.4-2.1c0-1.5,3.5-12,3.5-15.6c0-5.7-8.9-6.2-14.1-6.2
        c-7.1,0-13.1,1.4-14.9,7.6L52.5,24.7z M77.6,17.7h10.7l-0.8,3h0.1c2.4-2.3,5.7-3.6,9-3.5c5.1,0,9.5,1.7,9.5,6.3
        c-0.1,1.5-0.4,3-0.8,4.4L101.7,41H90.6l2.9-10.7c0.4-1.3,0.7-2.5,0.9-3.9c0-1.5-1.3-2.2-3.1-2.2c-3.5,0-4.7,2-5.4,4.4L82.6,41H71.5
        L77.6,17.7z M123.9,35.1c-2,0.2-3.8-1.3-4-3.3c0-0.2,0-0.3,0-0.5c0-2.1,0.9-7.7,5.8-7.7c3.3,0,4,1.8,4,4.1
        C129.8,30.7,128.4,35.1,123.9,35.1 M104.2,48.5h11.1l2.6-10.4c2.4,3.1,5.6,3.4,8.7,3.4c9.9,0,14.2-8,14.2-14.9
        c0-4.1-2.4-9.6-10.6-9.6c-3-0.2-5.8,1-7.8,3.2h-0.1l0.7-2.6h-10.8L104.2,48.5z M152.3,34.3c0-1.7,1.7-2.5,3.6-2.6c2,0,4-0.4,5.9-1
        c-0.7,3.5-2.2,5.6-5.9,5.6C154,36.3,152.3,35.9,152.3,34.3 M155.4,24.7c0.6-1.7,2.2-2.4,4.4-2.4c1.7,0,3.5,0.4,3.5,2
        c0,2.9-5,2.5-8.1,2.7c-8.4,0.5-14.1,2.2-14.1,8.3c0,4.4,4.4,6.2,9.4,6.2c3.3,0,7-0.9,9-2.8h0.1c0,0.8,0.1,1.5,0.4,2.2h10.9
        c-0.4-1.1-0.2-0.3-0.4-2.1c0-1.5,3.5-12,3.5-15.6c0-5.7-8.9-6.2-14.1-6.2c-7.1,0-13.1,1.4-14.9,7.6L155.4,24.7z M180.4,17.7h10.8
        l-1,3.6h0.1c2.1-2.5,5.2-4,8.5-4.2c1.3-0.1,2.6,0.1,3.9,0.4l-2.1,7.8c-1.4-0.4-2.8-0.6-4.3-0.6c-4.7,0-7.1,1.6-8.4,6.5l-2.5,9.7
        h-11.1L180.4,17.7z M135.4,46.4h8.9l-0.6,2.2h-5.6l-0.3,1.1h5.2l-0.5,2h-5.2l-0.3,1.1h5.7l-0.6,2.2h-9L135.4,46.4z M146.3,51.7
        l-1.8-2.9h3l0.6,1.3l1.1-1.3h3.3l-3.1,3l2,3.2h-3l-0.9-1.5l-1.5,1.5h-3.3L146.3,51.7z M153.5,48.7h2.9l-0.2,0.7h0
        c0.5-0.6,1.3-0.9,2.1-0.9c1.4-0.2,2.7,0.8,2.8,2.2c0,0.1,0,0.3,0,0.4c0.1,2.1-1.5,3.9-3.5,4c-0.1,0-0.2,0-0.3,0
        c-0.9,0.1-1.8-0.2-2.4-0.9l-0.7,2.8h-3L153.5,48.7z M158.2,51.4c0-0.6-0.2-1.1-1.1-1.1c-1.3,0-1.6,1.5-1.6,2.1c0,0.5,0.4,1,1,1
        c0,0,0.1,0,0.1,0C157.9,53.4,158.2,52.2,158.2,51.4 M163.1,48.7h2.9l-0.3,1h0c0.6-0.7,1.4-1.1,2.3-1.1c0.4,0,0.7,0,1.1,0.1l-0.6,2.1
        c-0.4-0.1-0.8-0.2-1.1-0.2c-1.1-0.2-2.1,0.6-2.2,1.7c0,0,0,0,0,0l-0.7,2.6h-3L163.1,48.7z M176.7,53.2c-0.2,0.4-0.8,2-4.2,2
        c-2.8,0-3.9-1.2-3.9-2.8c0-2.9,2.8-3.8,4.7-3.8c1.7,0,3.8,0.8,3.8,2.7c0,0.4,0,0.7-0.2,1.1h-5.6c-0.1,0.6,0.3,1.1,0.9,1.2
        c0.1,0,0.2,0,0.3,0c0.4,0,0.9-0.1,1.2-0.4L176.7,53.2z M174.4,51.2c0-0.1,0-0.1,0-0.2c0-0.5-0.4-0.8-1.1-0.8c-0.7-0.1-1.3,0.4-1.6,1
        L174.4,51.2z M180.4,52.9c0,0.2,0.1,0.4,0.3,0.6c0.2,0.1,0.5,0.2,0.8,0.2c0.8,0,0.9-0.4,0.9-0.6c0-0.4-0.8-0.5-1.9-0.6
        c-0.5-0.1-2.1-0.3-2.1-1.6c0-1.8,2-2.3,3.9-2.3c1.7,0,3.7,0.3,3.5,2h-2.7c0-0.2,0-0.4-0.2-0.5c-0.2-0.1-0.5-0.2-0.7-0.2
        c-0.4,0-0.8,0.1-0.8,0.5c0,0.3,0.3,0.4,0.7,0.5c2.2,0.2,3.3,0.6,3.3,1.9c0,1.4-1.6,2.3-4,2.3c-1.7,0-3.8-0.3-3.7-2.2L180.4,52.9z
         M188.7,52.9c0,0.2,0.1,0.4,0.3,0.6c0.2,0.1,0.5,0.2,0.8,0.2c0.8,0,0.9-0.4,0.9-0.6c0-0.4-0.8-0.5-1.9-0.6c-0.5-0.1-2.1-0.3-2.1-1.6
        c0-1.8,2-2.3,3.9-2.3c1.7,0,3.7,0.3,3.5,2h-2.7c0-0.2,0-0.4-0.2-0.5c-0.2-0.1-0.5-0.2-0.7-0.2c-0.4,0-0.8,0.1-0.8,0.5
        c0,0.3,0.3,0.4,0.7,0.5c2.2,0.2,3.3,0.6,3.3,1.9c0,1.4-1.6,2.3-4,2.3c-1.7,0-3.8-0.3-3.7-2.2L188.7,52.9z"></path>
            </svg>                <h1 tabindex="0" class="site-main-title">Canpar Express</h1>			</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="13.5" viewBox="0 0 23 13.5">
                      <g id="Group_972" data-name="Group 972" transform="translate(-382.388 -40.994)">
                        <line id="Line_433" data-name="Line 433" x2="23" transform="translate(382.388 41.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(382.388 47.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_435" data-name="Line 435" x2="23" transform="translate(382.388 53.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>
                    <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="17.325" height="17.324" viewBox="0 0 17.325 17.324">
                      <g id="Group_972" data-name="Group 972" transform="translate(-385.225 -39.082)">
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(385.756 39.612) rotate(45)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_437" data-name="Line 437" x2="23" transform="translate(402.02 39.612) rotate(135)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>


                </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="secondary-menu-wrap">
                <ul class="navbar-nav"><li class="menu-item menu-careers nav-item"><a href="http://staging.canpar.flywheelsites.com/careers/" class="nav-link">Careers</a></li>
                    <li class="menu-item menu-contact nav-item"><a href="#" class="nav-link">Contact</a></li>
                    <li class="menu-item menu-locations nav-item"><a href="http://staging.canpar.flywheelsites.com/shipping/shipping-tools/find-a-location/" class="nav-link">Locations</a></li>
                </ul>					<ul class="navbar-nav user-nav">

                <li class="nav-item menu-register">
                    <a href="#" data-toggle="modal" data-target="#registration-modal" class="nav-link profile-link">Register</a>
                </li>
                <li class="nav-item menu-login">
                    <a href="#" class="btn btn-primary">Log In</a>
                </li>
                <li class="nav-item menu-language-switcher">
                    <a href="?lang=fr" class="nav-link language-switcher" aria-label="French">FR</a>
                </li>
            </ul>
            </div>

            <div class="primary-menu-wrap">
                <ul class="navbar-nav primary-menu"><li class="dropdown menu-item menu-item-has-children menu-shipping nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Shipping</a>
                    <ul class="dropdown-menu" style="">
                        <li class="menu-item menu-shipping-in-canada nav-item"><a href="#" class="nav-link">Shipping in Canada</a></li>
                        <li class="menu-item menu-u-s-international nav-item"><a href="#" class="nav-link">U.S. &amp; International</a></li>
                        <li class="dropdown menu-item menu-item-has-children menu-shipping-tools nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#">Shipping Tools</a>
                            <ul class="dropdown-menu" style="">
                                <li class="menu-item menu-overview nav-item"><a href="#" class="nav-link">Overview</a></li>
                                <li class="menu-item menu-pick-up-on-demand nav-item"><a href="#" class="nav-link">Pick Up on Demand</a></li>
                                <li class="menu-item menu-transit-times nav-item"><a href="#" class="nav-link">Transit Times</a></li>
                                <li class="menu-item menu-rate-calculator nav-item"><a href="#" class="nav-link">Rate Calculator</a></li>
                                <li class="menu-item menu-rate-charts nav-item"><a href="#" class="nav-link">Rate Charts</a></li>
                                <li class="menu-item menu-points-served nav-item"><a href="#" class="nav-link">Points Served</a></li>
                                <li class="menu-item menu-collect-service nav-item"><a href="#" class="nav-link">Collect Service</a></li>
                                <li class="menu-item menu-return-service nav-item"><a href="#" class="nav-link">Return Service</a></li>
                                <li class="menu-item menu-find-a-location nav-item"><a href="#" class="nav-link">Find a Location</a></li>
                                <li class="menu-item menu-order-supplies nav-item"><a href="#" class="nav-link">Order Supplies</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-shipping-support nav-item"><a href="http://staging.canpar.flywheelsites.com/support/" class="nav-link">Shipping Support</a></li>
                    </ul>
                </li>
                    <li class="dropdown menu-item menu-item-has-children menu-tracking nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Tracking</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item menu-track-a-package nav-item"><a href="#" class="nav-link">Track a Package</a></li>
                            <li class="menu-item menu-smartspots nav-item"><a href="#" class="nav-link">SMARTSpots</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-item menu-item-has-children menu-solutions nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Solutions</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item menu-overview nav-item"><a href="#" class="nav-link">Overview</a></li>
                            <li class="menu-item menu-advance-ship-notice nav-item"><a href="#" class="nav-link">Advance Ship Notice</a></li>
                            <li class="menu-item menu-returns-solutions nav-item"><a href="#" class="nav-link">Returns Solutions</a></li>
                            <li class="menu-item menu-shipping-tools nav-item"><a href="#" class="nav-link">Shipping Tools</a></li>
                            <li class="menu-item menu-scanner-technology nav-item"><a href="#" class="nav-link">Scanner Technology</a></li>
                            <li class="menu-item menu-mobile-apps nav-item"><a href="#" class="nav-link">Mobile Apps</a></li>
                            <li class="menu-item menu-e-commerce-tools nav-item"><a href="#" class="nav-link">E-Commerce Tools</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-item menu-item-has-children menu-support nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="http://staging.canpar.flywheelsites.com/support/" role="button">Support</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item menu-overview nav-item"><a href="http://staging.canpar.flywheelsites.com/support/" class="nav-link">Overview</a></li>
                            <li class="menu-item menu-faqs nav-item"><a href="http://staging.canpar.flywheelsites.com/support/faqs/" class="nav-link">FAQs</a></li>
                            <li class="menu-item menu-how-to-ship nav-item"><a href="#" class="nav-link">How to Ship</a></li>
                            <li class="menu-item menu-how-to-pack nav-item"><a href="#" class="nav-link">How to Pack</a></li>
                            <li class="menu-item menu-forms-downloads nav-item"><a href="#" class="nav-link">Forms &amp; Downloads</a></li>
                            <li class="menu-item menu-service-alerts-updates nav-item"><a href="http://staging.canpar.flywheelsites.com/support/service-alerts-updates/" class="nav-link">Service Alerts &amp; Updates</a></li>
                        </ul>
                    </li>
                </ul>					<ul class="navbar-nav search-menu">
                <li class="nav-item menu-search">
                    <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                                <g transform="translate(1370.869 26.258)">
                                    <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                    <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>

            </div>

        </div>

    </nav>

    <div id="header-search-overlay">
        <form id="header-search-overlay-form" action="/" method="GET" role="search">
            <input type="search" name="s" id="header-search-overlay-input" class="form-control search-input" placeholder="What are you looking for?" aria-label="Search">
        </form>

        <div class="popular-searches">
            <ul class="list-unstyled">
                <li class="list-heading">Popular Searches</li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
            </ul>
        </div>

        <button type="button" class="btn btn-icon btn-close" id="js-header-search-overlay-close" aria-label="Close the search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1" transform="translate(4.644 -3.584) rotate(45)">
                    <line x2="11.636" transform="translate(0 5.818)"></line>
                    <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                </g>
            </svg>
        </button>
    </div>

</header>