<!--      This is the interior page banner. This exists on every page aside from the home page.
          Very simple section, but try and maintain roughly the same amount of content as show in the examples.  -->


<section class="page-banner">
    <div class="page-title-excerpt-wrap">
        <div class="container">
            <div class="row">
                <div class="page-title-column">
                    <h1 tabindex="0" class="page-title">Block Library</h1>
                </div>
                <div class="page-excerpt-column">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-image"
         style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0609_Small_Web-Crop.jpg')">
    </div>
</section>