<!--  This block will show up to three icon and text CTA's. This block is very similar to the Image and Text CTA block,
except this one will show icons instead of images at the top.
It is important to note the classes at the start of the <section> tag.
   -->


<section id="cta-block_5f627831150be"
         class="orange-block cta-block image-text-block-cta select-posts text-dark align-left no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block title -->
            <div class="row">
                <div class="col block-title-wrap">
                    <h2 class="h2 block-title">Icon + Text CTA Blocks</h2>
                </div>
            </div>
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA -->
                <div class="col cta-col">
                    <a href="#" class="card-link" target="" aria-label="Learn more about Solution">
                        <div class="card align-left">
                            <div class="card-body">
                                <!-- Icon -->
                                <div class="card-icon"
                                     style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                </div>
                                <div class="card-content ">
                                    <!-- Title -->
                                    <h3 class="h3 card-title">Solution</h3>
                                    <div class="card-text-and-links">
                                        <!-- Description -->
                                        <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor.</p>
                                        </div>
                                        <div class="card-link-container">
                                            <!-- Link -->
                                            <span class="card-link learn-more-link ">Learn More</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Single CTA -->
                <div class="col cta-col">
                    <a href="#" class="card-link" target="" aria-label="Learn more about Solution">
                        <div class="card align-left">
                            <div class="card-body">
                                <!-- Icon -->
                                <div class="card-icon"
                                     style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                </div>
                                <div class="card-content ">
                                    <!-- Title -->
                                    <h3 class="h3 card-title">Solution</h3>
                                    <div class="card-text-and-links">
                                        <!-- Description -->
                                        <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor.</p>
                                        </div>
                                        <div class="card-link-container">
                                            <!-- Link -->
                                            <span class="card-link learn-more-link ">Learn More</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Single CTA -->
                <div class="col cta-col">
                    <a href="#" class="card-link" target="" aria-label="Learn more about Solution">
                        <div class="card align-left">
                            <div class="card-body">
                                <!-- Icon -->
                                <div class="card-icon"
                                     style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/Icon_Medium_Drivers.svg')">
                                </div>
                                <div class="card-content ">
                                    <!-- Title -->
                                    <h3 class="h3 card-title">Solution</h3>
                                    <div class="card-text-and-links">
                                        <!-- Description -->
                                        <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor.</p>
                                        </div>
                                        <div class="card-link-container">
                                            <!-- Link -->
                                            <span class="card-link learn-more-link ">Learn More</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>