<!--  This block will show up to 3 CTAs in a row. The current one below is only showing two.
It is important to note the classes in the <section> tag, they determine many things about the CTA's within
such as text color, bg color, alignment and the type
   -->


<section id="cta-block_5f62786e150bf"
         class="orange-block cta-block image-text-block-cta select-posts text-dark align-centre no-bg-image">
    <div class="section-contents">
        <div class="container">
            <!-- Block title -->
            <div class="row">
                <div class="col block-title-wrap">
                    <h2 class="h2 block-title">Image + Text CTA Blocks</h2>
                </div>
            </div>
            <!-- Block content -->
            <div class="row">
                <!-- Single CTA  1-->
                <div class="col cta-col">
                    <a href="#" class="card-link" target="" aria-label="Learn more about Lorem ipsum amet">
                        <div class="card align-centre">
                            <div class="card-body">
                                <!-- Icon -->
                                <div class="card-image-container has-image">
                                    <div class="card-image">
                                        <img width="1024" height="683"
                                             src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web-1024x683.jpg"
                                             class="attachment-large size-large" alt="" loading="lazy"
                                             srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web-1024x683.jpg 1024w,
                                              http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web-300x200.jpg 300w,
                                               http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web-768x512.jpg 768w,
                                                http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web-1536x1025.jpg 1536w,
                                                 http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0672_Small_Web.jpg 2000w"
                                             sizes="(max-width: 1024px) 100vw, 1024px"></div>
                                </div>
                                <div class="card-content has-image">
                                    <!-- Title -->
                                    <h3 class="h3 card-title">Lorem ipsum amet</h3>
                                    <div class="card-text-and-links">
                                        <!-- Description -->
                                        <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                        <div class="card-link-container">
                                            <!-- Link -->
                                            <span class="card-link learn-more-link ">Learn More</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Single CTA  2-->
                <div class="col cta-col">
                    <a href="#" class="card-link" target="" aria-label="Learn more about Nonumy eirmod tempor">
                        <div class="card align-centre">
                            <div class="card-body">
                                <!-- Icon -->
                                <div class="card-image-container has-image">
                                    <div class="card-image">
                                        <img width="1024" height="683"
                                             src="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web-1024x683.jpg"
                                             class="attachment-large size-large" alt="" loading="lazy"
                                             srcset="http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web-1024x683.jpg 1024w,
                                              http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web-300x200.jpg 300w,
                                               http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web-768x512.jpg 768w,
                                                http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web-1536x1025.jpg 1536w,
                                                 http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0517_Small_Web.jpg 2000w"
                                             sizes="(max-width: 1024px) 100vw, 1024px"></div>
                                </div>
                                <div class="card-content has-image">
                                    <!-- Title -->
                                    <h3 class="h3 card-title">Nonumy eirmod tempor</h3>
                                    <div class="card-text-and-links">
                                        <!-- Description -->
                                        <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                        <div class="card-link-container">
                                            <!-- Link -->
                                            <span class="card-link learn-more-link ">Learn More</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>