<!--     This is the video Block. This block will show one video, and it's modal. When the video is clicked, it should open up the modal.
         The Id is important on this block, it must be different than any other video modals on the page, including the video slider-->


<section id="video-block_5f613029c3da6" class="orange-block video-block">
    <!-- Block content -->
    <div class="container video-container">
        <a href="#" class="video-thumbnail-link" data-toggle="modal"
           data-target="#video-modal-container-video-block_5f613029c3da6"
           style="background-image:url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/tfi-robert-lowdon_0616_Small_Web.jpg')">
            <div class="video-overlay bg-overlay">
                <div class="play-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22.56" height="27.12" viewBox="0 0 22.56 27.12">
                        <path id="Path_178" data-name="Path 178" d="M0,0,22.56,13.56,0,27.12Z" fill="#101c2a"></path>
                    </svg>
                </div>
            </div>
        </a>


        <!-- Modal -->
        <div class="modal fade video-modal" id="video-modal-container-video-block_5f613029c3da6" tabindex="-1"
             role="dialog" aria-hidden="true">
            <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                       transform="translate(4.644 -3.584) rotate(45)">
                        <line x2="11.636" transform="translate(0 5.818)"></line>
                        <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                    </g>
                </svg>
            </button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2-half">
                            <iframe src="https://www.youtube.com/embed/FLBEylx-0-M"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>