<!--     This is the team member block. This block allows for more than one team member to be added. In this example, we are showing
       one team member with a photo, and one without.-->


<section id="team-member-block_5f57e8cf88a63" class="orange-block team-member-block">
    <!-- Block title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 block-title">Team Member</h2>
            </div>
        </div>
    </div>

    <!-- Block content -->
    <div class="container team-members-container">
        <div class="row">
            <div class="col team-member-column">


                <!-- Single team member -->
                <div class="team-member" data-first-name="John" data-last-name="Doe"
                     data-title="Title Lorem Ipsum Dolor">
                    <div class="row">
                        <!-- Image -->
                        <div class="col-12 col-md-4 member-image-container">
                            <div class="card-img"
                                 style="background-image: url('http://staging.canpar.flywheelsites.com/wp-content/uploads/2020/09/gettyimages-1126613977-2048x2048_Crop-940x1024.jpg')"></div>
                        </div>
                        <!-- Details -->
                        <div class="col-12 col-md-8 member-detail-container">
                            <div class="card">

                                <div class="card-body">

                                    <!-- Name -->
                                    <p class="h5 card-title">John Doe</p>

                                    <!-- Title -->
                                    <p class="h6 card-subtitle">Title Lorem Ipsum Dolor</p>

                                    <!-- Bio -->
                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                        amet.</p>
                                    </div>
                                    <ul class="list-group card-contact-links">
                                        <!-- Link -->
                                        <li class="list-group-item card-contact-link">
                                            <p class="label">T</p>
                                            <p class="contact-copy">555-555-5555</p>
                                        </li>

                                        <!-- Link -->
                                        <li class="list-group-item card-contact-link">
                                            <p class="label">E</p>
                                            <a class="link" href="mailto: mailto:email@canpar.ca" target="_blank">email@canpar.ca</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- end member-detail-container -->
                    </div>
                </div>  <!-- end team-member -->
            </div>
        </div>

        <!-- Second team member start (no image in this one) -->
        <div class="row">
            <div class="col team-member-column">
                <!-- Single team member -->
                <div class="team-member" data-first-name="John" data-last-name="Doe"
                     data-title="Title Lorem Ipsum Dolor">
                    <div class="row">
                        <!-- Details -->
                        <div class="col-12 member-detail-container">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Name -->
                                    <p class="h5 card-title">John Doe</p>
                                    <!-- Title -->
                                    <p class="h6 card-subtitle">Title Lorem Ipsum Dolor</p>
                                    <!-- Bio -->
                                    <div class="card-text"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                        amet.</p>
                                    </div>
                                    <ul class="list-group card-contact-links">
                                        <!-- Link -->
                                        <li class="list-group-item card-contact-link">
                                            <p class="label">T</p>
                                            <p class="contact-copy">555-555-5555</p>
                                        </li>
                                        <!-- Link -->
                                        <li class="list-group-item card-contact-link">
                                            <p class="label">E</p>
                                            <a class="link" href="mailto: mailto:email@canpar.ca" target="_blank">email@canpar.ca</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- end member-detail-container -->
                    </div>
                </div>  <!-- end team-member -->
            </div>
        </div>

    </div>
</section>