<!--

	This is the FAQs block.  It displays FAQ categories/topics as a menu, with both a desktop and mobile version of the menu.
	FAQs are listed as an accordion.

-->

<section id="faqs-block_5f6a6725bde09" class="orange-block faqs-block has-bg-color-image bg-color-light aligncenter">

	<div class="container">

		<!-- Block title -->
		<div class="row">
			<div class="col block-title-wrap">
				<h2 class="h2 block-title">Frequently Asked Questions</h2>
			</div>
		</div>

		<!-- Block Content -->
		<div class="row">

			<!-- FAQ Topic/Category menus -->
			<div class="faq-categories-menu-column">

				<!-- Desktop menu -->
				<!-- Menu items link to FAQ listing page with hash matching category slug, which scrolls page to that category on page load -->
				<ul class="nav faq-categories-menu">
					<li class="nav-heading">View by Topic:</li>
					<li class="nav-item">
						<a href="http://staging.canpar.flywheelsites.com/support/faqs/#shipping" class="nav-link faq-category-link">
							<span class="link-text">Shipping</span>
							<!-- Number of FAQs in this category -->
							<span class="post-count">9</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://staging.canpar.flywheelsites.com/support/faqs/#tracking" class="nav-link faq-category-link">
							<span class="link-text">Tracking</span>
							<span class="post-count">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://staging.canpar.flywheelsites.com/support/faqs/#technology" class="nav-link faq-category-link">
							<span class="link-text">Technology</span>
							<span class="post-count">4</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://staging.canpar.flywheelsites.com/support/faqs/#another-category" class="nav-link faq-category-link">
							<span class="link-text">Another Category</span>
							<span class="post-count">3</span>
						</a>
					</li>
				</ul>

				<!-- Mobile select dropdown -->
				<!-- Option values are link to FAQ listing page with hash matching category slug, which, with the
					 assistance of a JS script, navigates to the link and scrolls the page to the category on page laod -->
				<div class="form-group faq-categories-dropdown-wrap">
					<label for="faq-categories-dropdown">View by Topic:</label>
					<select class="custom-select" id="faq-categories-dropdown">
						<option value="">------</option>
						<!-- Include number of FAQ posts in category between brackets -->
						<option value="http://staging.canpar.flywheelsites.com/support/faqs/#shipping">Shipping ( 9 ) </option>
						<option value="http://staging.canpar.flywheelsites.com/support/faqs/#tracking">Tracking ( 5 ) </option>
						<option value="http://staging.canpar.flywheelsites.com/support/faqs/#technology">Technology ( 4 ) </option>
						<option value="http://staging.canpar.flywheelsites.com/support/faqs/#another-category">Another Category ( 3 ) </option>
					</select>
				</div>

			</div>

			<!-- FAQ items -->
			<div class="faq-posts-list-column">

				<!-- FAQ accordion items list -->
				<div class="accordion faq-accordion" id="faqs-block_5f6a6725bde09-accordion">

					<!-- FAQ accordion item -->
					<div class="card">
						<div class="card-header collapsed" id="faqs-block_5f6a6725bde09-accordion-1-heading">

							<div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</div>

							<button class="btn btn-icon btn-accordion-trigger collapsed"
							        data-toggle="collapse"
							        data-target="#faqs-block_5f6a6725bde09-accordion-1-collapse"
							        aria-expanded="false"
							        aria-controls="faqs-block_5f6a6725bde09-accordion-1-collapse"
							        tabindex="1">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
									<g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
										<line x2="8" transform="translate(30 51.438)"/>
										<line x2="8" transform="translate(34 47.438) rotate(90)"/>
									</g>
								</svg>
							</button>

						</div>

						<div id="faqs-block_5f6a6725bde09-accordion-1-collapse"
						     class="collapse"
						     aria-labelledby="faqs-block_5f6a6725bde09-accordion-1-heading"
						     data-parent="#faqs-block_5f6a6725bde09-accordion">

							<div class="card-body">
								<p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam, posuere aliquet tellus tristique id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae risus ac magna porta congue non at ex. Donec non gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque. Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
							</div>

						</div>
					</div>

					<div class="card">
						<div class="card-header collapsed" id="faqs-block_5f6a6725bde09-accordion-2-heading">

							<div class="accordion-title">Praesent a metus aliquam risus posuere tincidunt?</div>

							<button class="btn btn-icon btn-accordion-trigger collapsed"
							        data-toggle="collapse"
							        data-target="#faqs-block_5f6a6725bde09-accordion-2-collapse"
							        aria-expanded="false"
							        aria-controls="faqs-block_5f6a6725bde09-accordion-2-collapse"
							        tabindex="2">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
									<g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
										<line x2="8" transform="translate(30 51.438)"/>
										<line x2="8" transform="translate(34 47.438) rotate(90)"/>
									</g>
								</svg>
							</button>

						</div>

						<div id="faqs-block_5f6a6725bde09-accordion-2-collapse"
						     class="collapse"
						     aria-labelledby="faqs-block_5f6a6725bde09-accordion-2-heading"
						     data-parent="#faqs-block_5f6a6725bde09-accordion">

							<div class="card-body">
								<p>Mauris varius semper dictum. Curabitur sit amet scelerisque risus, ut interdum sapien. Curabitur sit amet nisl risus. Nunc bibendum, ligula ut elementum laoreet, ligula tortor blandit felis, sit amet aliquet nunc lectus sed diam. Ut faucibus, justo quis porta ullamcorper, ex nunc eleifend diam, accumsan aliquet erat quam ut lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eros mauris, imperdiet sed semper vitae, imperdiet id metus. Sed laoreet augue sit amet mauris fringilla, non sodales sem sagittis.</p>
							</div>

						</div>
					</div>

					<div class="card">
						<div class="card-header collapsed" id="faqs-block_5f6a6725bde09-accordion-3-heading">

							<div class="accordion-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</div>

							<button class="btn btn-icon btn-accordion-trigger collapsed"
							        data-toggle="collapse"
							        data-target="#faqs-block_5f6a6725bde09-accordion-3-collapse"
							        aria-expanded="false"
							        aria-controls="faqs-block_5f6a6725bde09-accordion-3-collapse"
							        tabindex="3">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
									<g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-30 -47.438)">
										<line x2="8" transform="translate(30 51.438)"/>
										<line x2="8" transform="translate(34 47.438) rotate(90)"/>
									</g>
								</svg>
							</button>

						</div>

						<div id="faqs-block_5f6a6725bde09-accordion-3-collapse"
						     class="collapse"
						     aria-labelledby="faqs-block_5f6a6725bde09-accordion-3-heading"
						     data-parent="#faqs-block_5f6a6725bde09-accordion">

							<div class="card-body">
								<p>Mauris ac eros justo. Integer id orci metus. Duis vulputate nibh diam, posuere aliquet tellus tristique id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae risus ac magna porta congue non at ex. Donec non gravida lorem. Sed interdum nulla ac nibh vestibulum pellentesque. Curabitur hendrerit orci id erat bibendum semper. Nulla facilisi. Nulla tempor ex eget sapien dignissim suscipit ut ac ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
							</div>

						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>