<!--     This is the footer for ICS. This footer will be the same on every page.       -->

<footer class="footer">

    <div class="footer-top-support-container">
        <a href="#" aria-label="Have a question? Visit our Support Centre">
            <p class="h4">
                <span>
                    Have a question?                </span>
                <span>
                    Visit our Support Centre                </span>
            </p>
        </a>
    </div>

    <div class="footer-main-content-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 footer-main-inner-container">
                    <div class="footer-logo-container">
                        <div class="footer-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 262.442 42" role="img">
                                <title>ICS Courier</title>
                                <g transform="translate(-186.852 -315.98)">
                                    <path class="letters" d="M193.749,336.777H204l-6.9,26.613H186.852Z" transform="translate(0 -6.045)"></path>
                                    <path class="letters" d="M240.476,353.031c-.606,2.721-3.215,10.735-17.053,10.735-9.645,0-14.3-4.995-14.3-12.114,0-8.61,6.709-15.766,18.031-15.766,7.408,0,14.025,2.571,14.211,10.548H231.67c.094-2.5-1.4-3.913-4.566-3.913-5.684,0-7.735,5.218-7.735,8.983,0,2.2.653,5.627,5.358,5.627a5.427,5.427,0,0,0,5.684-4.1Z" transform="translate(-6.472 -5.785)"></path>
                                    <path class="letters" d="M276.335,344.569a2.253,2.253,0,0,0-1.165-2.2,5.983,5.983,0,0,0-2.982-.6c-1.723,0-3.96.409-3.96,2.161,0,2.013,4.986,2.126,8.247,3.057,5.778,1.641,7.735,4.175,7.735,7.343,0,6.412-7.782,9.431-15,9.431-7.641,0-14.537-2.8-14.117-9.579h9.924a3.5,3.5,0,0,0,1.258,3.019c.885.6,2.1.67,3.774.67,2,0,4.472-.82,4.472-2.571,0-1.939-3.4-2.2-8.013-3.429-4.053-1.082-7.967-2.8-7.967-7.231,0-6,7.269-8.76,13.978-8.76,7.082,0,13.466,2.124,13.279,8.685Z" transform="translate(-19.828 -5.785)"></path>
                                    <path class="letters" d="M344.385,353.031c-.605,2.721-3.215,10.735-17.053,10.735-9.645,0-14.3-4.995-14.3-12.114,0-8.61,6.71-15.766,18.032-15.766,7.408,0,14.024,2.571,14.21,10.548h-9.691c.093-2.5-1.4-3.913-4.567-3.913-5.684,0-7.734,5.218-7.734,8.983,0,2.2.653,5.627,5.358,5.627a5.427,5.427,0,0,0,5.684-4.1Z" transform="translate(-36.673 -5.785)"></path>
                                    <path class="letters" d="M374.178,346.341c7.081,0,11.741,2.608,11.741,8.46,0,4.958-3.447,11.853-14.584,11.853-6.662,0-12.067-2.571-12.067-9.056,0-6.188,5.032-11.257,14.91-11.257m-2.422,14.946c3.634,0,4.938-4.287,4.938-5.963,0-2.312-.745-3.616-3.215-3.616-3.681,0-4.985,4.436-4.985,6.448,0,1.566.652,3.131,3.262,3.131" transform="translate(-50.113 -8.825)"></path>
                                    <path class="letters" d="M421.454,366.369h-8.946l.746-2.46h-.094a11.011,11.011,0,0,1-7.781,2.945c-4.193,0-7.688-1.453-7.688-5.143,0-1.678.792-4.026,3.589-14.686h9.225l-2.7,10.1a6.518,6.518,0,0,0-.373,2.012c0,1.192,1.3,1.827,2.656,1.827,4.146,0,4.332-3.616,5.078-6.076l2.1-7.864h9.225Z" transform="translate(-61.281 -9.023)"></path>
                                    <path class="letters" d="M440.576,346.826h8.946l-.792,3.019h.093a9.9,9.9,0,0,1,7.035-3.5,12.282,12.282,0,0,1,3.262.3l-1.724,6.523a12.634,12.634,0,0,0-3.541-.484c-3.914,0-5.871,1.342-6.942,5.4l-2.1,8.089h-9.226Z" transform="translate(-72.296 -8.825)"></path>
                                    <path class="letters" d="M468.931,344.046h9.226l-5.031,19.345H463.9Zm9.739-2.088h-9.226l1.351-5.181h9.226Z" transform="translate(-80.524 -6.045)"></path>
                                    <path class="letters" d="M507.7,360.541c-.606,1.305-2.422,6.113-12.86,6.113-8.573,0-12.021-3.839-12.021-8.536,0-8.87,8.48-11.778,14.491-11.778,5.358,0,11.834,2.386,11.834,8.461a9.754,9.754,0,0,1-.465,3.354h-17.24c0,2.051.885,3.765,3.774,3.765,2,0,3.169-.709,3.635-1.38Zm-7.269-6.225a2.953,2.953,0,0,0,.094-.633c0-1.453-1.165-2.608-3.495-2.608a4.657,4.657,0,0,0-4.8,3.242Z" transform="translate(-86.022 -8.825)"></path>
                                    <path class="letters" d="M523.795,346.826h8.946l-.792,3.019h.094a9.9,9.9,0,0,1,7.035-3.5,12.284,12.284,0,0,1,3.262.3l-1.724,6.523a12.64,12.64,0,0,0-3.541-.484c-3.914,0-5.871,1.342-6.942,5.4l-2.1,8.089H518.81Z" transform="translate(-96.484 -8.825)"></path>
                                    <path class="swoosh" d="M498.568,333.523l2.313-8.928a190.535,190.535,0,0,0-136.54,8.953,190.466,190.466,0,0,1,134.227-.025" transform="translate(-51.587 0)"></path>
                                </g>
                            </svg>                        </div>
                    </div>
                    <div class="footer-social-container">
                        <a href="https://ca.linkedin.com/company/ics-courier" class="social-link" aria-label="Visit Canpar's linkedin page" target="_blank">
                            <div class="social-icon linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.071" height="18.041" viewBox="0 0 18.071 18.041"><defs><style>.a{fill:#0D1C2B;}</style></defs><rect class="a" width="3.749" height="12.05" transform="translate(0.297 5.991)"></rect><path class="a" d="M183.39,24.637a2.172,2.172,0,1,1,2.17-2.173A2.17,2.17,0,0,1,183.39,24.637Z" transform="translate(-181.217 -20.293)"></path><path class="a" d="M197.856,37.059h-3.742V31.2c0-1.4-.027-3.194-1.947-3.194-1.948,0-2.246,1.522-2.246,3.094v5.96H186.18V25.009h3.59v1.647h.052a3.935,3.935,0,0,1,3.544-1.947c3.79,0,4.491,2.5,4.491,5.741Z" transform="translate(-179.785 -19.019)"></path></svg>                </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 no-app footer-main-menu-container">

                    <ul class="nav"><li class="menu-item menu-about-ics-courier nav-item"><a href="#" class="nav-link">About ICS Courier</a></li>
                        <li class="menu-item menu-support nav-item"><a href="#" class="nav-link">Support</a></li>
                        <li class="menu-item menu-contact-us nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                    </ul>                </div>
                <div class="col-12 col-lg-4 footer-secondary-menu-container no-app">
                    <ul class="nav"><li class="menu-item menu-careers nav-item"><a href="#" class="nav-link">Careers</a></li>
                        <li class="menu-item menu-service-alerts-updates nav-item"><a href="#" class="nav-link">Service Alerts &amp; Updates</a></li>
                    </ul>                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower-copy-container">
        <div class="upper-copy-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 tfi-logo">
                        <img src="http://staging.icscourier.flywheelsites.com/wp-content/themes/canpar/dist/images/logos/TFI_Logo_White.png" alt="A TFI internatinal Company" aria-label="A TFI internatinal Company">
                    </div>
                    <div class="col-12 col-lg-9 small-ownership">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et fugiat nihil officiis pariatur perspiciatis qui soluta? Amet, deserunt eaque eius eos, harum in minus modi mollitia odit officiis voluptatum!                     </div>
                </div>
            </div>

        </div>
        <div class="lower-copy-container">
            <div class="container">
                <div class="row">

                    <!-- Back to top -->
                    <button id="back-to-top" title="Scroll back to top" style="display: inline-block;" class="show"></button>

                    <div class="col-12 col-lg-5 footer-bottom-copy-container">
                        <p>Copyright © 2020 ICS Courier. All rights reserved.</p>
                        <p>Website design and development by                             <a href="https://rcdesign.com" target="_blank" aria-label="Website design and development by  RC Design, click to visit">RC Design</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-7 footer-bottom-menu-container">
                        <ul class="nav"><li class="menu-item menu-terms-conditions nav-item"><a href="#" class="nav-link">Terms &amp; Conditions</a></li>
                            <li class="menu-item menu-privacy-policy nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                            <li class="menu-item menu-legal-disclaimer nav-item"><a href="#" class="nav-link">Legal Disclaimer</a></li>
                            <li class="menu-item menu-site-map nav-item"><a href="http://staging.icscourier.flywheelsites.com/site-map/" class="nav-link">Site Map</a></li>
                        </ul>                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>