<!--     This is the header for the homepage. This will remain fairly consistent throughout the site. Menu items will gain an active state when their page is active.
         Also, when the header is scrolled, JS will add a .sticky class to it.   -->



<header class="site-header-wrap">

    <nav class="navbar navbar-expand-lg header-navbar">


        <ul class="navbar-nav search-menu mobile">
            <li class="nav-item menu-search">
                <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                            <g transform="translate(1370.869 26.258)">
                                <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                            </g>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>

        <a class="navbar-brand" href="http://staging.icscourier.flywheelsites.com" aria-label="ICS Courier">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 262.442 42" role="img">
                <title>ICS Courier</title>
                <g transform="translate(-186.852 -315.98)">
                    <path class="letters" d="M193.749,336.777H204l-6.9,26.613H186.852Z" transform="translate(0 -6.045)"></path>
                    <path class="letters" d="M240.476,353.031c-.606,2.721-3.215,10.735-17.053,10.735-9.645,0-14.3-4.995-14.3-12.114,0-8.61,6.709-15.766,18.031-15.766,7.408,0,14.025,2.571,14.211,10.548H231.67c.094-2.5-1.4-3.913-4.566-3.913-5.684,0-7.735,5.218-7.735,8.983,0,2.2.653,5.627,5.358,5.627a5.427,5.427,0,0,0,5.684-4.1Z" transform="translate(-6.472 -5.785)"></path>
                    <path class="letters" d="M276.335,344.569a2.253,2.253,0,0,0-1.165-2.2,5.983,5.983,0,0,0-2.982-.6c-1.723,0-3.96.409-3.96,2.161,0,2.013,4.986,2.126,8.247,3.057,5.778,1.641,7.735,4.175,7.735,7.343,0,6.412-7.782,9.431-15,9.431-7.641,0-14.537-2.8-14.117-9.579h9.924a3.5,3.5,0,0,0,1.258,3.019c.885.6,2.1.67,3.774.67,2,0,4.472-.82,4.472-2.571,0-1.939-3.4-2.2-8.013-3.429-4.053-1.082-7.967-2.8-7.967-7.231,0-6,7.269-8.76,13.978-8.76,7.082,0,13.466,2.124,13.279,8.685Z" transform="translate(-19.828 -5.785)"></path>
                    <path class="letters" d="M344.385,353.031c-.605,2.721-3.215,10.735-17.053,10.735-9.645,0-14.3-4.995-14.3-12.114,0-8.61,6.71-15.766,18.032-15.766,7.408,0,14.024,2.571,14.21,10.548h-9.691c.093-2.5-1.4-3.913-4.567-3.913-5.684,0-7.734,5.218-7.734,8.983,0,2.2.653,5.627,5.358,5.627a5.427,5.427,0,0,0,5.684-4.1Z" transform="translate(-36.673 -5.785)"></path>
                    <path class="letters" d="M374.178,346.341c7.081,0,11.741,2.608,11.741,8.46,0,4.958-3.447,11.853-14.584,11.853-6.662,0-12.067-2.571-12.067-9.056,0-6.188,5.032-11.257,14.91-11.257m-2.422,14.946c3.634,0,4.938-4.287,4.938-5.963,0-2.312-.745-3.616-3.215-3.616-3.681,0-4.985,4.436-4.985,6.448,0,1.566.652,3.131,3.262,3.131" transform="translate(-50.113 -8.825)"></path>
                    <path class="letters" d="M421.454,366.369h-8.946l.746-2.46h-.094a11.011,11.011,0,0,1-7.781,2.945c-4.193,0-7.688-1.453-7.688-5.143,0-1.678.792-4.026,3.589-14.686h9.225l-2.7,10.1a6.518,6.518,0,0,0-.373,2.012c0,1.192,1.3,1.827,2.656,1.827,4.146,0,4.332-3.616,5.078-6.076l2.1-7.864h9.225Z" transform="translate(-61.281 -9.023)"></path>
                    <path class="letters" d="M440.576,346.826h8.946l-.792,3.019h.093a9.9,9.9,0,0,1,7.035-3.5,12.282,12.282,0,0,1,3.262.3l-1.724,6.523a12.634,12.634,0,0,0-3.541-.484c-3.914,0-5.871,1.342-6.942,5.4l-2.1,8.089h-9.226Z" transform="translate(-72.296 -8.825)"></path>
                    <path class="letters" d="M468.931,344.046h9.226l-5.031,19.345H463.9Zm9.739-2.088h-9.226l1.351-5.181h9.226Z" transform="translate(-80.524 -6.045)"></path>
                    <path class="letters" d="M507.7,360.541c-.606,1.305-2.422,6.113-12.86,6.113-8.573,0-12.021-3.839-12.021-8.536,0-8.87,8.48-11.778,14.491-11.778,5.358,0,11.834,2.386,11.834,8.461a9.754,9.754,0,0,1-.465,3.354h-17.24c0,2.051.885,3.765,3.774,3.765,2,0,3.169-.709,3.635-1.38Zm-7.269-6.225a2.953,2.953,0,0,0,.094-.633c0-1.453-1.165-2.608-3.495-2.608a4.657,4.657,0,0,0-4.8,3.242Z" transform="translate(-86.022 -8.825)"></path>
                    <path class="letters" d="M523.795,346.826h8.946l-.792,3.019h.094a9.9,9.9,0,0,1,7.035-3.5,12.284,12.284,0,0,1,3.262.3l-1.724,6.523a12.64,12.64,0,0,0-3.541-.484c-3.914,0-5.871,1.342-6.942,5.4l-2.1,8.089H518.81Z" transform="translate(-96.484 -8.825)"></path>
                    <path class="swoosh" d="M498.568,333.523l2.313-8.928a190.535,190.535,0,0,0-136.54,8.953,190.466,190.466,0,0,1,134.227-.025" transform="translate(-51.587 0)"></path>
                </g>
            </svg>                <h1 tabindex="0" class="site-main-title">ICS Courier</h1>			</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="13.5" viewBox="0 0 23 13.5">
                      <g id="Group_972" data-name="Group 972" transform="translate(-382.388 -40.994)">
                        <line id="Line_433" data-name="Line 433" x2="23" transform="translate(382.388 41.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(382.388 47.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_435" data-name="Line 435" x2="23" transform="translate(382.388 53.744)" fill="none" stroke="#0D1C2B" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>
                    <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="17.325" height="17.324" viewBox="0 0 17.325 17.324">
                      <g id="Group_972" data-name="Group 972" transform="translate(-385.225 -39.082)">
                        <line id="Line_434" data-name="Line 434" x2="23" transform="translate(385.756 39.612) rotate(45)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                        <line id="Line_437" data-name="Line 437" x2="23" transform="translate(402.02 39.612) rotate(135)" fill="none" stroke="#e6403b" stroke-linejoin="round" stroke-width="1.5"></line>
                      </g>
                    </svg>


                </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="secondary-menu-wrap">
                <ul class="navbar-nav"><li class="menu-item menu-contact nav-item"><a href="http://staging.icscourier.flywheelsites.com/contact-us/" class="nav-link">Contact</a></li>
                    <li class="menu-item menu-careers nav-item"><a href="http://staging.icscourier.flywheelsites.com/careers/" class="nav-link">Careers</a></li>
                    <li class="menu-item menu-parcel-tracking nav-item"><a href="http://staging.icscourier.flywheelsites.com/tools-and-technology/tools/advanced-tracking/" class="nav-link">Parcel Tracking</a></li>
                </ul>					<ul class="navbar-nav user-nav">

                <li class="nav-item menu-register">
                    <a href="#" data-toggle="modal" data-target="#registration-modal" class="nav-link profile-link">Register</a>
                </li>
                <li class="nav-item menu-login">
                    <a href="#" class="btn btn-primary">Log In</a>
                </li>
                <li class="nav-item menu-language-switcher">
                    <a href="?lang=fr" class="nav-link language-switcher" aria-label="French">FR</a>
                </li>
            </ul>
            </div>

            <div class="primary-menu-wrap">
                <ul class="navbar-nav primary-menu"><li class="dropdown menu-item menu-item-has-children menu-about nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">About</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item menu-about-ics-courier nav-item"><a href="#" class="nav-link">About ICS Courier</a></li>
                        <li class="menu-item menu-branch-directory nav-item"><a href="#" class="nav-link">Branch Directory</a></li>
                        <li class="menu-item menu-our-environmental-impact nav-item"><a href="#" class="nav-link">Our Environmental Impact</a></li>
                        <li class="menu-item menu-holiday-schedule nav-item"><a href="#" class="nav-link">Holiday Schedule</a></li>
                    </ul>
                </li>
                    <li class="dropdown menu-item menu-item-has-children menu-solutions nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Solutions</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item menu-overview nav-item"><a href="#" class="nav-link">Overview</a></li>
                            <li class="menu-item menu-ics-courier-everyday-economics nav-item"><a href="#" class="nav-link">ICS Courier Everyday Economics</a></li>
                            <li class="menu-item menu-ics-courier-ground nav-item"><a href="#" class="nav-link">ICS Courier Ground</a></li>
                            <li class="menu-item menu-ics-courier-next-day nav-item"><a href="#" class="nav-link">ICS Courier Next Day</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-item menu-item-has-children menu-tools-technology nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#" role="button">Tools &amp; Technology</a>
                        <ul class="dropdown-menu" style="">
                            <li class="menu-item menu-overview nav-item"><a href="#" class="nav-link">Overview</a></li>
                            <li class="dropdown menu-item menu-item-has-children menu-technology nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#">Technology</a>
                                <ul class="dropdown-menu" style="">
                                    <li class="menu-item menu-ics-courier-clicknship nav-item"><a href="#" class="nav-link">ICS Courier Click’n’Ship</a></li>
                                    <li class="menu-item menu-ics-courier-scanner-technology nav-item"><a href="#" class="nav-link">ICS Courier Scanner Technology</a></li>
                                    <li class="menu-item menu-ics-courier-trax nav-item"><a href="#" class="nav-link">ICS Courier Trax</a></li>
                                </ul>
                            </li>
                            <li class="dropdown menu-item menu-item-has-children menu-tools nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#">Tools</a>
                                <ul class="dropdown-menu" style="">
                                    <li class="menu-item menu-ics-courier-clicknship nav-item"><a href="#" class="nav-link">ICS Courier Click’n’Ship</a></li>
                                    <li class="menu-item menu-schedule-a-pick-up nav-item"><a href="#" class="nav-link">Schedule a Pick Up</a></li>
                                    <li class="menu-item menu-schedule-a-collect-request-pick-up nav-item"><a href="#" class="nav-link">Schedule a Collect Request Pick-Up</a></li>
                                    <li class="menu-item menu-schedule-a-pre-authorized-return nav-item"><a href="#" class="nav-link">Schedule a Pre-Authorized Return</a></li>
                                    <li class="menu-item menu-rate-transit-calculator nav-item"><a href="#" class="nav-link">Rate &amp; Transit Calculator</a></li>
                                    <li class="menu-item menu-hold-for-pick-up nav-item"><a href="#" class="nav-link">Hold for Pick Up</a></li>
                                    <li class="menu-item menu-ics-points-of-service nav-item"><a href="#" class="nav-link">ICS Points of Service</a></li>
                                    <li class="menu-item menu-hold-mail-request nav-item"><a href="#" class="nav-link">Hold Mail Request</a></li>
                                    <li class="menu-item menu-ics-delivery-status nav-item"><a href="#" class="nav-link">ICS Delivery Status</a></li>
                                    <li class="menu-item menu-smartspots nav-item"><a href="#" class="nav-link">SMARTSpots</a></li>
                                    <li class="menu-item menu-advance-ship-notice nav-item"><a href="#" class="nav-link">Advance Ship Notice</a></li>
                                    <li class="menu-item menu-returns-solutions nav-item"><a href="#" class="nav-link">Returns Solutions</a></li>
                                    <li class="menu-item menu-e-commerce-tools nav-item"><a href="#" class="nav-link">E-Commerce Tools</a></li>
                                    <li class="menu-item menu-order-shipping-supplies nav-item"><a href="#" class="nav-link">Order Shipping Supplies</a></li>
                                    <li class="menu-item menu-advanced-tracking nav-item"><a href="#" class="nav-link">Advanced Tracking</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-item menu-item-has-children menu-support nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="http://staging.icscourier.flywheelsites.com/support/" role="button">Support</a>
                        <ul class="dropdown-menu" style="">
                            <li class="menu-item menu-overview nav-item"><a href="http://staging.icscourier.flywheelsites.com/support/" class="nav-link">Overview</a></li>
                            <li class="menu-item menu-frequently-asked-questions nav-item"><a href="http://staging.icscourier.flywheelsites.com/support/faqs/" class="nav-link">Frequently Asked Questions</a></li>
                            <li class="menu-item menu-how-to-package-your-shipment nav-item"><a href="#" class="nav-link">How to Package Your Shipment</a></li>
                            <li class="menu-item menu-how-to-fill-out-a-waybill nav-item"><a href="#" class="nav-link">How to Fill Out a Waybill</a></li>
                            <li class="menu-item menu-forms-downloads nav-item"><a href="#" class="nav-link">Forms &amp; Downloads</a></li>
                            <li class="menu-item menu-fuel-surcharge-table nav-item"><a href="#" class="nav-link">Fuel Surcharge Table</a></li>
                            <li class="dropdown menu-item menu-item-has-children menu-billing-payments nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" data-target="#" href="#">Billing &amp; Payments</a>
                                <ul class="dropdown-menu" style="">
                                    <li class="menu-item menu-payment-methods nav-item"><a href="#" class="nav-link">Payment Methods</a></li>
                                    <li class="menu-item menu-view-your-ics-invoice nav-item"><a href="#" class="nav-link">View Your ICS Invoice</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-service-alerts-updates nav-item"><a href="http://staging.icscourier.flywheelsites.com/support/service-alerts-updates/" class="nav-link">Service Alerts &amp; Updates</a></li>
                        </ul>
                    </li>
                </ul>					<ul class="navbar-nav search-menu">
                <li class="nav-item menu-search">
                    <button type="button" class="btn btn-icon btn-search" id="js-header-search-overlay-trigger" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.28 22.28">
                            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5px" transform="translate(-1370.119 -25.508)">
                                <g transform="translate(1370.869 26.258)">
                                    <circle cx="7.636" cy="7.636" r="7.636" transform="translate(0)"></circle>
                                    <line x2="6.363" y2="6.363" transform="translate(14.637 14.637)"></line>
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>

            </div>

        </div>

    </nav>

    <div id="header-search-overlay">
        <form id="header-search-overlay-form" action="/" method="GET" role="search">
            <input type="search" name="s" id="header-search-overlay-input" class="form-control search-input" placeholder="What are you looking for?" aria-label="Search">
        </form>

        <div class="popular-searches">
            <ul class="list-unstyled">
                <li class="list-heading">Popular Searches</li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
                <li><a href="#">Key Page</a></li>
            </ul>
        </div>

        <button type="button" class="btn btn-icon btn-close" id="js-header-search-overlay-close" aria-label="Close the search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.289 9.289">
                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1" transform="translate(4.644 -3.584) rotate(45)">
                    <line x2="11.636" transform="translate(0 5.818)"></line>
                    <line x2="11.636" transform="translate(5.818 0) rotate(90)"></line>
                </g>
            </svg>
        </button>
    </div>

</header>