<!--     This is the button block. This is a fairly simple button, and will centre itself within it's container.
         If the background colour is the same as the block above it, it will sit higher than normal, making it look
         like they are in the same container.       -->


<section id="button-block_5f7389c9e8c8d" class="orange-block button-block has-bg-color-image bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="http://staging.canpar.flywheelsites.com/in-the-news/" class="btn btn-primary"
                   title="View All News Posts">
                    View All News Posts </a>
            </div>
        </div>
    </div>
</section>